@font-face {
    /* font-family: 'Gill-light'; */
    font-family: 'GillSans-light';
    src: url(../fonts/Gill-sans-light.ttf);
}
@font-face {
    font-family: 'Gill-Regular';
    src: url(../fonts/Gill-Sans-Regular.ttf);
}
@font-face {
    font-family: 'GillSans';
    src: url(../fonts/GillSans.ttc);
}
html,body{
    font-family: 'GillSans', Arial, Helvetica, sans-serif;
}
body::-webkit-scrollbar {
    width: 0 !important;
}
ul{
    padding-left: 24px;
}
.modal::-webkit-scrollbar {
    width: 0 !important;
}
.form-control:focus {
    border-color: transparent;
    outline: 0;
    -webkit-box-shadow:none;
    box-shadow: none;
}
a{
    color: #8d704c;
}
a,
.btn:focus, 
 .btn:active:focus, 
 .btn.active:focus,
 .btn.focus,
 .btn:active.focus,
  .btn.active.focus {
        outline: none;
        box-shadow:none;
    }
a, a:hover, a:active, a:focus{
    /* font-family: 'Gill-light'; */
    font-family: 'GillSans';
    text-decoration: none;
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
}
 input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none !important;
    margin: 0;
} 
.container{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    font-family: 'GillSans';
    padding: 0;
}
.PVM_Top{
    box-shadow: 0 -4px 17px -2px grey;
    position: fixed;
    background: #fff;
    width:100%;
    z-index: 499;
    top: 0;
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
}
.PVM_Header_logo{
    height: 110px;
    text-align: center;
    margin:12px 0;
    /* transition: all 0.15s ease;
    -webkit-transition: all 0.15s ease;
    -moz-transition: all 0.15s ease; */
}
.PVM_Header_logo img{
    width: auto;
    height: 110px;
    /* transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease; */
}
.PVM_Header_Menu ul{
    display: flex;
    justify-content:space-between;
    width: 100%;
    padding: 0;
    margin: 0;
}
.PVM_Header_Menu ul li{
    list-style: none;
    margin: 11px 0;
    height: 24px;
    line-height: 24px;
}
.PVM_Header_Menu ul li a{
    font-size: 18px;
    font-weight: 400;
    color: #8d704c;
    text-transform: uppercase;
    text-decoration: none;
    height: 24px;
    line-height: 24px;
    display: block;
}
.PVM_Header_Menu ul li:hover{
    padding-bottom: 2px;
}
.menu-item--active{
    border-bottom: 1px solid #8d704c;

}

.PVM_Header_Menu ul li a {
    -webkit-box-flex: 1;
    flex: 1 1 auto;
    text-align: center;
    text-transform: uppercase;
    position: relative;
    overflow: hidden;
    -webkit-transition: .15s;
    transition: .15s;
  }
  .PVM_Header_Menu ul li a:after {
    position: absolute;
    -webkit-transition: .15s;
    transition: .15s;
    content: '';
    width: 0;
    
    bottom: 0;
    height: 1px;
    background: #8b6e4a;
  }
  .menu-item--active:after {
    height: 0 !important;
  }
  .PVM_Header_Menu ul li a:hover {
    cursor: pointer;
  }
  .PVM_Header_Menu ul li a:hover:after {
    width: 100%;
    left: 0;
  }


.PVM_Banner{
    position: relative;
    top: 180px;
}
.PVM_Banner img{
    width: 100%;
}

.PVM_Header_right{
    height: 40px;
    line-height: 40px;

    position: absolute;
    right: 48px;
    top:57px;
    transition: all 0.1s ease;
    -webkit-transition: all 0.1s ease;
    -moz-transition: all 0.1s ease;
}
.PVM_Header_right .dropdown{
    display: inline-block;
    margin-right: 20px; 
    float: left;
}
.PVM_Header_right .dropdown .dropdown-toggle{
    color: #8d704c;
    padding-right: 20px;
    padding: 0  25px 0 0;
    font-size: 18px;
}
.PVM_Header_right .dropdown .dropdown-toggle:after{
    display: none;
}
.PVM_Header_right .dropdown .dropdown-toggle[aria-expanded="false"]{
    background: url(../images/select01.png);
    background-repeat: no-repeat;
    background-position: right center;
}
.PVM_Header_right .dropdown .dropdown-toggle[aria-expanded="true"]{
    background: url(../images/select02.png);
    background-repeat: no-repeat;
    background-position: right center;
}
.PVM_Header_right .dropdown .dropdown-toggle img{
    vertical-align: text-top;
    margin-right: 5px;
}
.PVM_Header_right .dropdown .dropdown-menu {
        min-width: auto;
    padding: 0 25px;
    margin: 0;
    border: none;
    border-radius: 0;
    box-shadow: 0px 2px 16px 0px rgb(0 0 0 / 20%);
}
.PVM_Header_right .dropdown .dropdown-menu a{
    color: #8d704c;
    font-size: 18px;
    padding: 0;
    border-bottom: 1px solid transparent;
    height: 22px;
    margin: 10px 0;
    line-height: 22px;
}
.PVM_Header_right .dropdown .dropdown-menu a:hover{
    background: transparent;
}
.PVM_Header_right .Header_right_book{
    display: inline-block;
}

.PVM_Header_right .dropdown .dropdown-menu a {
    -webkit-box-flex: 1;
    flex: 1 1 auto;
    text-align: center;
    text-transform: uppercase;
    position: relative;
    overflow: hidden;
    -webkit-transition: .15s;
    transition: .15s;
  }
  .PVM_Header_right .dropdown .dropdown-menu a:after {
    position: absolute;
    -webkit-transition: .15s;
    transition: .15s;
    content: '';
    width: 0;
    
    bottom: 0;
    height: 1px;
    background: #8b6e4a;
  }
  .menu-item--active:after {
    height: 0 !important;
  }
  .PVM_Header_right .dropdown .dropdown-menu a:hover {
    cursor: pointer;
  }
  .PVM_Header_right .dropdown .dropdown-menu a:hover:after {
    width: 100%;
    left: 0;
  }


.Common_title{
    text-transform: uppercase;
    font-size: 48px;
    font-family: 'GillSans';
    font-weight: 400;
    text-align: CENTER;
    color: #8d704c;
}
.inner_Common_title{
    font-size: 36px;
}
.Common_title span{
    display: block;
    padding-top: 60px;
    text-transform: uppercase;
}
.Common_title_bottom{
    position:relative;
    text-align:center;
    width:320px;
    margin:20px auto 40px auto;
    height:20px;
    font-size: 14px;
  }
.Common_title_bottom::before,.Common_title_bottom::after{
    content:"";
    position:absolute;
    top:50%;
    border:solid 1px #8d704c;
    width:40%;
}
.Common_title_bottom::before{
    left:0;
}
.Common_title_bottom::after{
    right:0;
}
.PVM_index_content p{
    font-size: 16px;
    /* font-family: 'Gill-light'; */
    font-family: 'GillSans';
    font-weight: 400;
    color: #8d704c;
    line-height: 26px;
}
.PVM_index_content ul{
    padding-left: 24px;
}
.PVM_index_content ul li{
    font-size: 16px;
    /*  font-family: 'Gill-light'; */
    font-family: 'GillSans';
    font-weight: 400;
    color: #8d704c;
    line-height: 28px;
}
.PVM_index_content p:last-child{
 margin: 0;
}
.PVM_index_Carousel{
    padding: 60px 0;
}
.PVM_index_Carousel h2{
    font-size: 36px;
    font-family: 'GillSans';
    font-weight: 400;
    color: #8d704c;
    text-transform: uppercase;
    margin: 0 0 20px 0;
}
.PVM_Banner .carousel-indicators {
    align-items: center;
    margin-bottom: 10px;
}
.PVM_Banner .carousel-indicators li {
    width: 12px;
    height: 12px;
    margin-right: 3px;
    margin-left: 3px;
    text-indent: -999px;
    border-radius: 50%;
    opacity: 1;
}
.PVM_Banner .carousel-indicators .active {
    width: 8px;
    height: 8px;
    background: transparent;
    border:2px solid #fff;
}

.PVM_index_Carousel_detail h4{
    margin: 10px 0 0 0;
}
.PVM_index_Carousel_detail h4 a,.PVM_index_Carousel_detail h4 a:hover{
    font-size: 24px;
    font-family: 'GillSans';
    font-weight: 400;
    color: #8d704c;
}

.PVM_index_Carousel_detail h4 a {
    -webkit-box-flex: 1;
    flex: 1 1 auto;
    text-align: center;
    text-transform: uppercase;
    position: relative;
    overflow: hidden;
    -webkit-transition: .15s;
    transition: .15s;
  }
  .PVM_index_Carousel_detail h4 a:after {
    position: absolute;
    -webkit-transition: .15s;
    transition: .15s;
    content: '';
    width: 0;
    bottom: 0;
    height: 1px;
    background: #8b6e4a;
    left: 0;
  }
  .PVM_index_Carousel_detail h4 a:hover {
    cursor: pointer;
  }
  .PVM_index_Carousel_detail h4 a:hover:after {
    width: 100%;
    left: 0;
  }


.PVM_index_Carousel_detail p{
    font-size: 16px;
    /* font-family: 'Gill-light'; */
    font-family: 'GillSans';
    font-weight: 400;
    color: #8d704c;
    line-height: 24px;
    margin: 0;
}
.index_content_container{
    margin-top: -129px;
    position: relative;
    top: 180px;
}
.PVM_content{
    position: relative;
    top: 180px;
}
.Footer_container{
    padding: 0 0 20px 0;
    position: relative;
    top: 180px;
}
.PVM_Footer{
    display: flex;
    justify-content:center;

    font-size: 16px;
    font-family: 'GillSans';
    font-weight: 400;
    color: #8d704c;
    border-bottom:1px solid #8d704c;  
    padding-bottom: 20px;
}
.PVM_Footer .address{
    padding: 0 20px;
    /*  font-family: 'Gill-light'; */
    font-family: 'GillSans';
}
.PVM_Footer .phone{
    padding: 0 20px;
    border-left:1px solid #8d704c;
    border-right:1px solid #8d704c;
}
.PVM_Footer .email{
    padding: 0 20px;
}
.PVM_Copyright{
    display: flex;
    justify-content: space-between;

    font-size: 14px;
    /* font-family: 'Gill-light'; */
    font-family: 'GillSans';
    font-weight: 400;
    color: #8d704c;
    padding-top: 20px;
}
.PVM_Copyright a{
    font-size: 14px;
    /* font-family: 'Gill-light'; */
    font-family: 'GillSans';
    font-weight: 400;
    color: #8d704c;
    padding-right: 10px;
}
.PVM_Booking_body{
    position: relative;
    top: -150px;
    height: 100px;
}
.PVM_Booking{
    width: 100%;
    max-width: 950px;
    margin: 0 auto;
    height: 100px;
    background: #ffffff;
    border-radius: 20px;
    box-shadow: 0px 2px 16px 0px rgb(0 0 0 / 20%);
    position: relative;
    padding: 15px 25px;
    display: flex;
}
.PVM_Booking_data{
    width: 320px;
    margin-right: 10px;
    background-color: #f60;
}
.PVM_Booking_num{
    width: 170px;
    margin-right: 10px;
    background-color: #f60;
}
.PVM_Booking_btn{
    width: 280px;
    background-color: #f60;
}

.icon ul li{
    display: inline-block;
    list-style-type: none;
    padding: 0 1px;
}
.icon ul li a{
    padding: 0;
}
.icon ul li a img{
    width: 30px;
}
.weixin {
    position: relative;
}
.weixin img{
    width: 30px;
}
.weixin div.qrcode {
    position: absolute;
    z-index: 99;
    top: -11.5rem;
    right: -3rem;
    width: 8.5rem;
    padding: 10px;
    max-width: none;
    height: 10.5rem;
    transform: scale(0);
    transform-origin: bottom center;
    opacity: 0;
    -webkit-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
    background-color: #fff;
    border: 1px solid #a58965;
}
.weixin div.qrcode p {
    margin: 0;
    text-align: center;
    font-size: 12px;
    padding: 0;
    line-height: 25px;
    height: 15px;
    color: #000;
}
.weixin:hover div.qrcode {
    transform: scale(1);
    opacity: 1;
}
.weixin div.qrcode .arrow {
    width: 0;
    height: 0;
    position: absolute;
    right: calc(50% - 10px);
    top: auto;
    bottom: -21px;
    border: 10px solid transparent;
    border-top: 10px solid #a58965;
}
.weixin div.qrcode img {
    width: 100%;
}
@media screen and (min-width:320px) and (max-width:767px) {
    .weixin div.qrcode {
    }
    .weixin div.qrcode img {
        width: 100%;
    }
}
.langdropdown{
    position: absolute;
    right: 0;
    top: 0;
}
.langdropdown a{
    padding: 60px 60px 0 0;
    text-transform: uppercase;

    font-size: 18px;
    font-family: 'GillSans';
    font-weight: 400;
    color: #8d704c;
    line-height: 24px;
}
.langdropdown a:hover{
    color: #8d704c;
}
.langdropdown a img{
    vertical-align: top;
}
.langdropdown .dropdown-item {
    padding: 0;
    text-align: center;
    line-height: 30px;
}
.langdropdown .dropdown-item:focus,.langdropdown .dropdown-item:active,.langdropdown .dropdown-item:hover {
    background: rgba(141,112,76,0.4);
    color: #fff;
}
.langdropdown .dropdown-menu{
    min-width: 7.5rem;
    border: 1px solid rgb(141,112,76);
}

.BreadNav{
    font-size: 16px;
    /*  font-family: 'Gill-light'; */
    font-family: 'GillSans';
    font-weight: 400;
    color: #8d704c;
    padding-top: 20px;
}
.BreadNav a{
    font-size: 16px;
    /*  font-family: 'Gill-light'; */
    font-family: 'GillSans';
    font-weight: 400;
    color: #8d704c;
}
.BreadNav i{
    padding: 0 5px;
}

.Offers_list_info{
    font-size: 16px;
    /*  font-family: 'Gill-light'; */
    font-family: 'GillSans';
    font-weight: 400;
    color: #8d704c;
    line-height: 26px; 
    margin-bottom:30px;
}
.Offers_list_info p{
    margin-bottom: 0;
}
.Offers_list .col-md-6{
    margin-top:30px;
}
.Offers_list .col-md-6 article{
    border: 1px solid rgba(139, 110, 74, 0.05);
}

.Offers_list .col-md-6 article:hover .Offerlist_more{
    font-family: 'GillSans';
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
}
.Offerlist_more {
    -webkit-box-flex: 1;
    flex: 1 1 auto;
    text-align: center;
    text-transform: uppercase;
    position: relative;
    overflow: hidden;
    -webkit-transition: .15s;
    transition: .15s;
  }
  .Offerlist_more:after {
    position: absolute;
    -webkit-transition: .15s;
    transition: .15s;
    content: '';
    width: 0;
    
    bottom: 0;
    height: 1px;
    background: #8b6e4a;
  }
  .Offerlist_more:hover {
    cursor: pointer;
  }
  .Offerlist_more:hover:after {
    width: 100%;
    left: 0;
  }


.Offerlist_img img{
    width: 100%;
}
.Offerlist_title{
    font-size: 24px;
    font-family: 'GillSans';
    font-weight: 400;
    color: #8b6e4a;
    padding: 20px 20px 0 20px;
}
.Offerlist_time{
    font-size: 16px;
    /*  font-family: 'Gill-light'; */
    font-family: 'GillSans';
    font-weight: 400;
    color: #8d704c;
    padding:0 20px 20px 20px;
}
.Offerlist_more{
    float: right;font-family: 'GillSans';
}
.Offerlist_more a{
    font-size: 16px;font-family: 'GillSans';
    font-weight: 400;
    color: #8d704c;
}
.Offerlist_more a i{
    padding-left: 5px;
}
.Offerlist_more a:hover{
     border-bottom: 1px solid #8d704c;
     text-decoration: none;
    font-family: 'GillSans';
}

.Room_content{
    width: 100%;
}
.Room_content_img{
    width: 680px;
}
.Room_content_img img{
    width: 100%;
}
.Room_content_img video{
    width: 100%;
}
.Room_content_info{
    width: calc(100% - 680px);
}
.Room_wrap{
    padding: 0 15px;
    margin-top: 40px;
    background: #fff;
    
    align-items: center;
}
.Room_wrap:first-child{
    margin-top: 0;
    padding-top: 30px;
}
.Room_content_rightinfo{
    padding-left: 55px;

}
.Room_content_lefthtinfo{
    padding-right: 55px;
}
.Room_content_info_title{
    font-size: 24px;
    line-height: 28px;
    font-family: 'GillSans';
    font-weight: 400;
    color: #8b6e4a;
    padding:0;
    text-transform: uppercase;
}
.Room_content_info_detail{
    font-size: 16px;
    /* font-family: 'Gill-light'; */
    font-family: 'GillSans';
    font-weight: 400;
    color: #8D704C;
    line-height: 28px;
    margin-bottom: 15px;

    
    /* display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;
    overflow: hidden; */
}
.Room_content_info_detail p{
    margin: 0;
}
.Room_content_info_more a{
    color: #8b6e4a;
    text-decoration:underline;
    padding-right: 30px;   
    
    height: 20px;
    line-height: 20px;
    display: inline-block;
}
.Room_content_info_more a img{
    vertical-align: text-top;
    display: none;
}
.Room_content_info_more a:hover{
    font-family: 'GillSans';
    background: url(../images/chevrons-right.png) no-repeat right 10px center; 
    text-decoration: none;
    transition: all 0s ease;
    -webkit-transition: all 0s ease;
    -moz-transition: all 0s ease;  
    text-decoration:underline;
}
.Room_content_info_more a:hover img{
    display: block;
    text-decoration:underline;
}
.Room_content_info_book{
    width: 164px;
    height: 40px;
    opacity: 1;
    background: #8d704c;
    border-radius: 6px;

    font-size: 16px;
    /* font-family: 'Gill-light'; */
    font-family: 'GillSans';
    font-weight: 700;
    text-align: CENTER;
    color: #ffffff;
    line-height: 40px;
    cursor: pointer;
    margin-top: 60px;
}
.Room_content_info_book a{
    color: #ffffff;
    text-decoration:none;
}
.Room_tablist{
    padding-top: 30px;
}
.Room_tablist .nav-tabs {
    border-bottom:none;
    justify-content: center;
}
.Room_tablist .nav-tabs li{
    padding: 0 15px;
}
.Room_tablist .nav-tabs li a{
    font-family: 'GillSans';
    color: rgba(141, 112, 76, 0.7);
    text-decoration: none;
}
.Room_tablist .nav-tabs li a.active{
    color: rgba(141, 112, 76, 1);
    border-bottom: 1px solid rgba(141, 112, 76, 1);
}   
.Offers_list_info ul{
    padding-left: 20px;
}

.location_map{
    margin-bottom: 40px;
}
.location_map:last-child{
    margin-bottom: 0;
}
.location_map img{
    width: 100%;
}
.location_map .location_map_title{
    font-family: 'GillSans';
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    color: #8B6E4A;
    padding-bottom: 10px;
}
.location_map .Route_wrap_table {
    padding: 0 15px;
}

.location_map .Route_wrap_thead {
    background-color: #bc9b6a;
    color: #fff;
    font-family: 'GillSans';
}

.location_map .Route_wrap_tbody_tr {
    border-top: 1px solid #ddd;
    font-family: 'GillSans';
}

.location_map .Route_wrap_tbody .Route_wrap_tbody_tr:nth-child(odd) {
    background-color: #FFFFFF;
    color: #000;
}

.location_map .Route_wrap_tbody .Route_wrap_tbody_tr:nth-child(even) {
    background-color: rgba(0, 0, 0, 0.1);
    color: #000;
}

.location_map .Route_wrap_thead_th {
    padding: 12px 15px;
}

.location_map .Route_wrap_thead_td {
    padding: 17px 15px;
}
.fortabletandmobile{
    display: none;
}
@media screen and (min-width:320px) and (max-width:767px) {
    .fortabletandmobile{
        display: block;
    }
}
.location_map .location_map_info p{
    /* font-family: 'Gill-light'; */
    font-family: 'GillSans';
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #8B6E4A;
}
#filters {
    margin:0 auto;
    padding:0;
    list-style: none;
    text-align: center;
    font-size: 0;
}
#filters li {
    min-width: 1px;
    display: inline-block;
    margin: 0 20px 0 0;
    font-size: 16px;
    font-family: 'GillSans';
    border-right: 1px solid #8b6e4a;
    padding-right: 20px;
}
#filters li:last-child {
    margin:0;
    border-right:none;
    padding-right: 0;
}
#filters li span {
    display: block;
    padding:0;       
    text-decoration:none;
    color:#8b6e4a;
    cursor: pointer;
    border-bottom: 1px solid transparent;
}
#filters li span.active {
    border-bottom: 1px solid #8b6e4a;
    font-family: 'GillSans';
    pointer-events: none;
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
}
#filters li span {
    -webkit-box-flex: 1;
    flex: 1 1 auto;
    text-align: center;
    text-transform: uppercase;
    position: relative;
    overflow: hidden;
    -webkit-transition: .15s;
    transition: .15s;
  }
  #filters li span:after {
    position: absolute;
    -webkit-transition: .15s;
    transition: .15s;
    content: '';
    width: 0;
    bottom: 0;
    height: 1px;
    background: #8b6e4a;

  }
  #filters li span:hover {
    cursor: pointer;
  }
  #filters li span:hover:after {
    width: 100%;
    left: 0;
  }

.Room_content #portfoliolist .portfolio {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    width:100%;
    display: none;
    overflow:hidden;
}
.portfolio-wrapper {
    position: relative !important;
}
.portfolio img {
    max-width:100%;
    position: relative;
}
.portfolio .label {
    position: absolute;
    width: 100%;
    height:40px;
    bottom:-40px;
}
.portfolio .label-bg {
    width: 100%;
    height:100%;
    position: absolute;
    top:0;
    left:0;
}

.portfolio .label-text {
    color:#fff;
    position: relative;
    z-index:500;
    padding:5px 8px;
}
.portfolio .text-category {
    display:block;
    font-size:9px;
}
/* #Tablet (Portrait) */
@media only screen and (min-width: 768px) and (max-width: 959px) {
    .container {
        width: 768px; 
    }
}
/*  #Mobile (Portrait) - Note: Design for a width of 320px */
@media only screen and (max-width: 767px) {
    .container { 
        width: 95%; 
    }
    #portfoliolist .portfolio {
        width:48%;
        margin:1%;
    }       
    #ads {
        display:none;
    }
}
/* #Mobile (Landscape) - Note: Design for a width of 480px */
@media only screen and (min-width: 480px) and (max-width: 767px) {
    .container {
        width: 70%;
    }
    #ads {
        display:none;
    }
}
.About_section{

}
.About_section_title{
    font-family: 'GillSans';
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    color: #8B6E4A;
    padding-bottom: 10px;
}
.About_section .About_section_info p{
    /* font-family: 'Gill-light'; */
    font-family: 'GillSans';
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #8B6E4A;
    margin-bottom: 0;
}
.About_section .About_section_info p img{
    margin:20px 0;
    width: 100%;
}
.About_section .About_section_info p video{
    margin:10px 0;
    width: 100%;
}
.Site_map_wap{
    width: 80%;
    margin:0 auto;
}
.Site_map_wap .col-md-4{
    padding:30px 0;
}
.Site_map_wap .Site_map_list .Site_map_list_firstnav{
    font-size: 18px;
    font-family: 'GillSans';
    font-weight: 400;
    color: #8d704c;
    line-height: 24px;
}
.Site_map_wap .Site_map_list ul.Site_map_list_secondnav{
    padding:0;
    margin:10px 0;
}
.Site_map_wap .Site_map_list ul.Site_map_list_secondnav li{
    list-style: none;
}
.Site_map_wap .Site_map_list ul.Site_map_list_secondnav li a{
    font-size: 16px;
    /* font-family: 'Gill-light'; */
    font-family: 'GillSans';
    font-weight: 400;
    color: #8d704c;
    line-height: 24px;
}

.Meta_wrap_content p {
    color: #8D704C;
}
.Meta_wrap_content ul {
    margin-bottom: 20px;
    padding-left: 18px;
    color: #8D704C;
}
.Meta_wrap_content ol {
    margin-bottom: 20px;
    padding-left: 18px;
    color: #8D704C;
}
.Meta_wrap ol li{
    font-size: 16px;
    /* font-family: 'Gill-light'; */
    font-family: 'GillSans';
    color: #8D704C;
    line-height: 32px;
    margin-bottom: 0;
    list-style: disc;
}

.PVM_index_Carousel .carousel-indicators {
    align-items: center;
    margin-bottom: 10px;
}
.PVM_index_Carousel .carousel-indicators li {
    width: 12px;
    height: 12px;
    margin-right: 3px;
    margin-left: 3px;
    text-indent: -999px;
    border-radius: 50%;
    opacity: 1;
}
.PVM_index_Carousel .carousel-indicators .active {
    width: 8px;
    height: 8px;
    background: transparent;
    border:2px solid #fff;
}
.PVM_index_Carousel a,.PVM_index_Carousel a:hover,.PVM_index_Carousel a:active,.PVM_index_Carousel a:focus{
    font-size: 16px;
    /* font-family: 'Gill-light'; */
    font-family: 'GillSans';
    font-weight: 400;
    color: #8d704c;
    text-decoration: none;
}
.Offers_list_info02 .Offers_list_info02_title{
    /* font-family: 'Gill-light'; */
    font-family: 'GillSans';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;color: #8B6E4A;
}
.Offers_list_info02 ul{
    margin-bottom: 20px;
}
.Offers_list_info02 ul li{
    /* font-family: 'Gill-light'; */
    font-family: 'GillSans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;color: #8B6E4A;
}
.Inner_Booking{
    width: 100%;
    max-width: 1200px;
    margin: 30px auto;
    height: 129px;
    background: #ffffff;
    border-radius: 0;
    box-shadow: 0px 2px 16px 0px rgb(0 0 0 / 20%);
    position: relative;
    padding: 25px;
    display: flex;
}
.Offers_list_info04 .Offers_list_info04_title{
    font-family: 'GillSans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;color: #8B6E4A;
    margin-bottom: 10px;
}
.Offers_list_info04 ul{
    margin-bottom: 20px;
}
.Offers_list_info04 ul li{
    /* font-family: 'Gill-light'; */
    font-family: 'GillSans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;color: #8B6E4A;
}
.Offers_list_info04_innertitle{
    /* font-family: 'Gill-light'; */
    font-family: 'GillSans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;color: #8B6E4A;
}
.Room_list_info02 p{
    /* font-family: 'Gill-light'; */
    font-family: 'GillSans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #8B6E4A;
    margin-bottom: 0;
}
.Room_list_info02 p span{
    min-width: 120px;
    display: inline-block;
}
.Room_list_info04 .Room_list_info04_title{
    font-family: 'GillSans';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    color: #8B6E4A;
    margin-bottom: 10px;
}
.Room_list_info04 .room_list_info04_row img{
    width: 80%;
    
    margin-bottom: 20px;
}
.Room_list_info04 .room_list_info04_row .col-md-12:last-child img{
    margin-bottom: 0;
}
.Room_list_info04 ul {
    margin-bottom: 20px;
}
.Room_list_info04 ul li {
    /* font-family: 'Gill-light'; */
    font-family: 'GillSans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #8B6E4A;
}

.Room_list_info02{
    margin-bottom: 20px;
}
.Room_list_info02_info{
    display: flex;
}
.Dining_list_info02 p span {
    min-width: 100px;
    display: inline-block;
}
.Dining_list_info03_btnwrap .Menu_item{
    display: inline-block;
    width: 180px;
    height: 42px;
    top: 0px;
    background: #FFFFFF;
    border: 1px solid #8B6E4A;
    box-sizing: border-box;
    border-radius: 6px;
    text-align: center;
    line-height: 40px;
    color: #8B6E4A;
    text-decoration: none;
    font-family: 'GillSans';
    font-weight: 600;
    font-size: 16px;
    letter-spacing: 1px;
    margin-right: 20px;
}
.Dining_list_info03_btnwrap .Menu_item:hover{
    background: #8B6E4A;
    border: 1px solid #8B6E4A;
    color: #FFF;
}
.Dining_list_info03_btnwrap .Menu_item:hover img{
	filter: grayscale(100%) brightness(200%);	
	transition: all 0.3s ease;	
}

.Dining_list_info03_btnwrap .Menu_item:focus{
    color: #8B6E4A;
    background: #FFFFFF;
    border: 1px solid #8B6E4A;
}
.Dining_list_info03_btnwrap .Menu_item:focus img{
    filter:unset;	
	transition: all 0.3s ease;	
}

.Dining_list_info03_btnwrap{
    margin:30px 0;
    font-size: 0;
}     
.Dining_list_info03_btnwrap .Menu_item img{
    vertical-align: sub;
    padding:0 10px 0 0;
}
.Dining_list_info03_btnwrap .MAKE_SERVATION{
    display: inline-block;
    min-width: 260px;
    height: 42px;
    line-height: 40px;
    background: #8B6E4A;
    text-align: center;
    border-radius: 6px;
    color: #fff;
    text-decoration: none;
    font-family: 'GillSans';
    font-weight: 600;
    font-size: 16px;
    letter-spacing: 1px;
}
.Dining_list_info03_btnwrap .MAKE_SERVATION:hover{
    background:#785F41;
}
#BOOKModal .modal-dialog{
    max-width: 1200px;
}
#BOOKModal .modal-dialog .modal-content{
    border-radius: 0;
    min-height: 650px;
}
#BOOKModal .modal-header {
    border-bottom: none;
    height: auto;
    padding: 0;
    display: block;
}
#BOOKModal .modal-header .modal-header-banner{
    width: 100%;
}
#BOOKModal .modal-header .modal-header-banner img{
    width: 100%;
}
#BOOKModal .modal-header .close{
    position: absolute;
    top: -18px;
    right: -18px;
    width: 36px;
    height: 36px;
    background: #fff;
    border-radius: 50%;
    padding: 0;
    margin: 0;
    opacity: 1;
}
#BOOKModal .modal-header .close span img{
    margin:10px 0; 
}
#BOOKModal .modal-dialog h5 {
    margin: 0;
    text-align: center;
    width: 100%;
    font-family: 'GillSans';
    padding: 40px;
    color: #8B6E4A;
    font-size: 24px;
    line-height: 28px;
}

#BOOKModal .modal-dialog .modal-body {
    padding:0;
    margin: 0;
    align-content: flex-start;
}

#BOOKModal .modal-dialog .modal-footer {
    border: 0;
    padding: 20px 0 35px 0;
    display: block;
    text-align: center;
}

#BOOKModal .modal-dialog .modal-footer a {
    width: 150px;
    height: 40px;
    line-height: 40px;
    margin: 0 auto;
    text-align: center;
    font-size: 18px;
    font-family: 'GillSans';
    font-weight: bold;
    color: #FFFFFF;
    background-color: #8B6E4A;
    text-decoration: none;
    cursor: pointer;
    border-radius: 6px;
    display: inline-block;
    margin: 0 10px;
    letter-spacing: 1px;
}
#BOOKModal .modal-dialog .modal-footer a:hover {
    background-color: #785F41;
    transition: all ease .3s;
    -webkit-transition: all ease .3s;
    -moz-transition: all ease .3s;
}

.Form_left {
    padding: 0 50px;
}

.Form_right {
    padding: 0 50px;
}

#spaform label,#restaurantform label,#spaform02 label{
    font-family: 'GillSans';
    width: 30%;
    display: inline-block;
    text-align: right;
    padding-right: 10px;
    color: #8B6E4A;
    font-size: 16px;
    line-height: 24px;
    vertical-align: top;
}
#spaform label .reddot,#restaurantform label .reddot,#spaform02 label .reddot{
    color: #D00000;
}

#spaform .form-input,#restaurantform .form-input,#spaform02 .form-input{
    width: 70%;
    height: 38px;
    border: 1px solid #aaa;
    border-radius: 0;
    padding: 0 15px;
    font-size: 16px;
    /* font-family: 'Gill-light'; */
    font-family: 'GillSans';
    color: #000000;
    line-height: 18px;
    outline: none;
    cursor:auto;
    display: inline-block;
    border-radius: 6px;
}
#BOOKModal #MakeAReservationDate{
    background: url(../images/icon15.png) no-repeat;
    background-position: right 10px center;
    cursor: pointer;
    background-size: 20px;
}
#spaform  .form-textarea,#restaurantform  .form-textarea{
    width: 100%;
    height: auto;
    background: #FFFFFF;
    border: 1px solid #aaa;
    border-radius: 0;
    padding: 5px 15px;
    font-size: 16px;
    /* font-family: 'Gill-light'; */
    font-family: 'GillSans';
    color: #000000;
    line-height: 20px;
    outline: none;
    border-radius: 6px;
}
#spaform02  .form-textarea {
    display: inline-block;
    width: 70%;
    background: #FFFFFF;
    border: 1px solid #aaa;
    padding: 5px 15px;
    font-size: 16px;
    /* font-family: 'Gill-light'; */
    font-family: 'GillSans';
    color: #000000;
    line-height: 20px;
    outline: none;
    border-radius: 6px;
}
.Form_bottom .form-group {
    margin-bottom: 0;
}

.sel_mask {
    position: relative;
    width: 100%;
    height: 38px;
    background: #fff;
    border-radius: 0;
    box-shadow: none;
    display: inline-block;
    text-decoration: none;
    border: 1px solid #aaa;
    color: #000;
}

.sel_mask select {
    top: 0px;
    left: 0px;
    width: 100%;
    height: 38px;
    opacity: 0;
}

.sel_mask select option[selected] {
    font-weight: bold;
}

.sel_mask select option {
    color: #000;
    padding: 5px 15px;
    /* font-family: 'Gill-light'; */
    font-family: 'GillSans';
    height: 30px;
}

.sel_mask span {
    position: absolute;
    display: inline-block;
    color: #000;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
    height: 38px;
    line-height: 38px;
    padding: 0 15px;
    font-size: 16px;
    /* font-family: 'Gill-light'; */
    font-family: 'GillSans';
    color: #000000;
    outline: none;
}

.sel_mask img {
    display: inline-block;
    position: absolute;
    width: 20px;
    right: 10px;
    top: 10px;
}

.Data_row {
    margin: 0 0 1rem 0;
}

.Data_row_calander {
    padding: 0 7px 0 0;
}

.Data_row_time {
    padding: 0 0 0 8px;
}

.calendar {
    width: 280px;
    height: 330px;
}

.calendar-modal {
    display: none;
    position: absolute;
    /* background: #fdfdfd;
    border: 1px solid #e8e8e8;
    box-shadow: 1px 2px 3px #ddd */
}

.calendar-inner {
    position: relative;
    z-index: 1;
    -webkit-perspective: 1000;
    -moz-perspective: 1000;
    -ms-perspective: 1000;
    perspective: 1000;
    -ms-transform: perspective(1000px);
    -moz-transform: perspective(1000px);
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
}

.calendar-views {
    transform-style: preserve-3d;
}

.calendar .view {
    backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    *overflow: hidden;
    -webkit-transition: .6s;
    transition: .6s;
}

.calendar-d .view-month,
.calendar-m .view-date {
    transform: rotateY(180deg);
    visibility: hidden;
    z-index: 1;
}

.calendar-d .view-date,
.calendar-m .view-month {
    transform: rotateY(0deg);
    visibility: visible;
    z-index: 2;
}

.calendar-ct,
.calendar-hd,
.calendar-views .week,
.calendar-views .days {
    overflow: hidden;
}

.calendar-ct {
    background-color: #fff;
}

.calendar-views {
    width: 100%;
}

.calendar .view,
.calendar-display,
.calendar-arrow .prev,
.calendar .date-items li {
    float: left;
    list-style-type: none;
}

.calendar-arrow,
.calendar-arrow .next {
    float: right;
}

.calendar-hd {
    padding: 0;
}

.calendar-display {
    font-size: 28px;
    text-indent: 10px;
}

.view-month .calendar-hd {
    padding: 10px;
}

.calendar-arrow,
.calendar-display {
    color: #ddd;
    width: calc(100% - 80px);
    font-size: 18px;
    font-family: 'GillSans';
    font-weight: 900;
    color: #FFFFFF;
    line-height: 40px;
}

.calendar li[disabled] {
    color: #bbb;
}

.calendar li.old[disabled],
.calendar li.new[disabled] {
    color: #eee;
}

.calendar-display .m,
.calendar-views .week,
.calendar-views .days .old,
.calendar-views .days .new {
    color: #888;
    text-decoration: none;
}

.calendar-display:hover,
.calendar-arrow span:hover {
    color: #fff;
    text-decoration: none;
}

.calendar-arrow span,
.calendar-views .days li[data-calendar-day],
.calendar-views .view-month li[data-calendar-month] {
    cursor: pointer;
    list-style-type: none;
}

.calendar li[disabled] {
    cursor: not-allowed;
}

.calendar-arrow {
    width: 100%;
    margin-right: 0;
    padding: 5px 10px;
    text-align: center;
    background: #000;
}

.calendar-arrow span {
    font-size: 18px;
    /* font-family: 'Gill-light'; */
    font-family: 'GillSans';
    font-weight: 900;
    color: #FFFFFF !important;
    line-height: 22px;
}

.calendar ol li {
    position: relative;
    float: left;
    text-align: center;
}

.calendar .week li,
.calendar .days li {
    width: 51px;
    height: 40px;
    line-height: 40px;
    list-style-type: none;
}


.calendar .month-items li {
    width: 70px;
    height: 70px;
    line-height: 70px;
}

.calendar .days li[data-calendar-day]:hover,
.calendar .view-month li[data-calendar-month]:hover {
    background: #eee;
    list-style-type: none;
}

.calendar .calendar-views .now {
    color: #fff;
    background: #D61F28!important;
}

.calendar .calendar-views .selected {
    color: #fff;
    background: #D61F28!important;
}

.calendar .calendar-views .dot {
    position: absolute;
    left: 50%;
    bottom: 4px;
    margin-left: -2px;
    width: 4px;
    height: 4px;
    background: #D61F28;
    border-radius: 50%;
}

.calendar-views .now .dot {
    background: #fff;
}

.calendar .date-items {
    width: 300%;
    margin-left: -100%;
    padding: 0;
}

.calendar-label {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 2;
    padding: 5px 10px;
    line-height: 22px;
    color: #fff;
    background: #000;
    border-radius: 3px;
    opacity: .7;
    filter: alpha(opacity=70);
}

.calendar-label i {
    display: none;
    position: absolute;
    left: 50%;
    bottom: -12px;
    width: 0;
    height: 0;
    margin-left: -3px;
    border: 6px solid transparent;
    border-top-color: #000;
}

#BOOKModal .spinner {
    border: 1px solid #aaa;
    display: inline-block;
    width: 70%;
    border-radius: 6px;
}


#BOOKModal .spinner a:first-child {
    background: #fff url(../images/icon23.png) no-repeat center !important;
    float: left;
    margin:0;
    border-radius: 6px;
    background-size: 20px !important;
}

#BOOKModal .spinner a:last-child {
    background: #fff url(../images/icon24.png) no-repeat center !important;
    float: right;
    margin:0;
    border-radius: 6px;
    background-size: 20px !important; 
}

#BOOKModal .spinner a {
    width: 40px;
    height: 38px;
    line-height: 38px;
    display: inline-block;
    text-align: center;
    border: none;
    /* font-family: 'Gill-light'; */
    font-family: 'GillSans';
    cursor: pointer;
    background-color: #fff;
    vertical-align: top;
}

#BOOKModal .spinner input {
    width: calc(100% - 80px);
    height: 38px;
    text-align: center;
    /* font-family: 'Gill-light'; */
    font-family: 'GillSans';
    position: relative;
    top: 0;
    border-radius: 0;
    border: none;
    color: #000;
    font-size: 16px;
    cursor: auto;
}

.Therapist_row {
    width: 70%;
    margin: 0;
    font-size: 0;
    display: inline-flex;
}

.Therapist_row .Therapist_select {
    width: 100%;
    height: 38px;
    line-height: 37px;
    background: #FFFFFF;
    border: 1px solid #aaa;
    display: inline-block;
    margin: 0;
    vertical-align: top;
    text-align: center;
    cursor: pointer;
    font-size: 14px;
    /* font-family: 'Gill-light'; */
    font-family: 'GillSans';
    font-weight: normal;
    color: #000000;
}
.Therapist_row .Therapist_select:hover{
    background: #000;
    color: #fff;
}

.Therapist_row .Therapist_select:nth-child(1) {
    width: 40%;
}

.Therapist_row .Therapist_select:nth-child(2) {
    width: calc(30% - 15px);
    margin-left: 15px;
}

.Therapist_row .Therapist_select:last-child {
    width: calc(30% - 15px);
    margin-left: 15px;
}

.Therapist_row .active {
    background: #000;
    color: #fff;
}

.Name_row {
    margin: 0 0 1rem 0;
    width: 100%;
}

.Name_row_FN {
    padding: 0 7px 0 0;
}
.Name_row_FN input{
    width: 100% !important;
}
.Name_row_LN {
    padding: 0 0 0 8px;
}
.Name_row_LN  input{
    width: 100% !important;
}
.Telephone_row {
    margin: 0 0 1rem 0;
}

.Telephone_row_area {
    padding: 0 7px 0 0;
}

.Telephone_row_num {
    padding: 0 0 0 8px;
}

.Captcha_row {
    margin: 0 0 0 0;
    align-content: flex-start;
}

.Captcha_input {
    padding: 0;
}

.Captcha_img {
    padding: 0 15px;
}

.Captcha_img img {
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.Captcha_refresh {
    padding: 5px 7px 0 7px;
    text-align: center;
    height: 38px;
    border: 1px solid #aaa;
    border-radius: 4px;
    cursor: pointer;
}
.Captcha_refresh img{
    width:28px;
    height:28px;
    vertical-align:middle;
}
#BOOKModal_step2 {
    display: none;
}
#BOOKModal_step3 {
    display: none;
}
#spaform {
    width: 94%;
    margin: 0 auto;
}
#spaform02 {
    width: 94%;
    margin: 0 auto;
}
.diy_select {
	min-height: 36px;
	width: 70%;
	position: relative;
	font-size: 12px;
	margin: 0;
	background: #fff;
    display: inline-flex;
}
.diy_select_btn,.diy_select_txt {
	float: left;
	height: 100%;
	line-height: 36px;
	background: url(../images/select01.png) no-repeat right 10px center;
    background-size: 14px;
	text-align: left;
}
.diy_select,.diy_select_list {
	border: 1px solid #aaa;
    border-radius: 6px;
}
.diy_select_txt {
	width: 100%;
	min-height: 38px;
	line-height: 20px;
	overflow: hidden;
	padding: 7px 30px 7px 15px;
	cursor: pointer;
	font-size: 16px;
    color: #000;
}
.diy_select_txt,.diy_select_list li {
	text-indent: 0;
	overflow: hidden;
}
.diy_select_btn {
	width: 0;
}
.diy_select_list {
	width: 100%;
	position: absolute;
	top: 37px;
	left: 0;
	z-index: 88888;
	display: none;
	_top: 38px;
	margin: 2px 0 0 0;
	background: #fff;
	text-align: left;
    padding: 0 !important;
    max-height: 200px;
    overflow: auto;
}
.diy_select_list li {
	list-style: none;
	min-height: 40px;
	line-height: 20px;
	overflow: hidden;
	padding: 10px 15px;
	cursor: pointer;
	font-size: 14px;
}
.diy_select_list li.focus {
	background: #8b6e4a;
	color:#fff;
}

input[type="checkbox"] {
    display: none;
}

input[type="checkbox"]+.label {
    position: relative;
    padding-left: 1.7em;
    color: #000;
    font-size: 14px;
    cursor: pointer;
}

input[type="checkbox"]+.label::before {
    content: '';
    position: absolute;
    top: 5px;
    left: 0;
    width: 16px;
    height: 16px;
    border: 1px solid #aaa;
    border-radius: 2px;
}

input[type="checkbox"]+.label::after {
    content: '';
    position: absolute;
    top: 0.1em;
    left: 0.1em;
    width: 0.92em;
    height: 0.92em;
    transform: scale(0);
    border-radius: 2px;
    transition: all 0s linear;
    opacity: 0;
}

input[type="checkbox"]+.label svg {
    position: absolute;
    top: -0.3em;
    left: 0.1em;
    z-index: 1;
    width: 14px;
}

input[type="checkbox"]+.label #check-icon {
    stroke: #000;
    stroke-dasharray: 36;
    stroke-dashoffset: 36;
}

input[type="checkbox"]:checked+.label::after {
    transform: scale(1);
    opacity: 1;
}

input[type="checkbox"]:checked+.label #check-icon {
    animation-name: check-animation;
    animation-duration: 0s;
    animation-delay: 0s;
    animation-fill-mode: forwards;
    animation-timing-function: cubic-bezier(1, 0.12, 0.96, 0.62);
}

@keyframes check-animation {
    0% {
        stroke-dashoffset: 36;
    }
    100% {
        stroke-dashoffset: 0;
    }
}


.Error_Tips0,
.Error_Tips1,
.Error_Tips2,
.Error_Tips3,
.Error_Tips4,
.Error_Tips5,
.Error_Tips_spatype,
.Error_Tips_spaname,
.Error_Tips_Therapist,
.Error_Tips_Title,
.Error_Tips_Captcha,
.Error_Tips6{
    height: 25px;
    margin: 0 0 0 30%;
    display: none;
}

.Error_Tips_Phone{
    margin:0;
    display: none;
}
.Error_Tips3,.Error_Tips1,.Error_Tips2,.Error_Tips6,.Error_Tips_00 {
    margin:0;
}
.Error_Tips00,
.Error_Tips01,
.Error_Tips02,
.Error_Tips03,
.Error_Tips04,
.Error_Tips05,
.Error_Tips_spatype1,
.Error_Tips_spaname1,
.Error_Tips_Therapist1,
.Error_Tips_Title1,
.Error_Tips_Captcha1,
.Error_Tips_Phone1,
.Error_Tips06 {
    color: #D00000;
    font-size: 14px;
}
#Errors_sys p{
    color: #D00000;
    font-size: 14px;
}
.FormControl_date_select_row .FormControl_dropdownHotel {
    border-radius: 0;
    box-shadow: none;
    display: inline-block;
    text-decoration: none;
    border: 1px solid #aaa;
    position: absolute;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
    height: 38px;
    line-height: 38px;
    padding: 0 15px;
    font-size: 16px;
    /* font-family: 'Gill-light'; */
    font-family: 'GillSans';
    color: #000000;
    outline: none;
    background: #FFF url(../images/select01.png) no-repeat;
    background-size: 14px;
    background-position: right 10px center;
    cursor: pointer;
    border-radius: 6px;
}

.FormControl_date_select_row_Number .FormControl_dropdownHotel {
    display: block;
    width: 100%;
    border: 0;
    outline: 0;
}

.FormControl_date_select_row ul {
    width: calc(100% + 2px);
    display: none;
    position: absolute;
    left: -1px;
    top: 38px;
    overflow: hidden;
    background-color: #fff;
    overflow-y: auto;
    border: 1px solid #999;
    z-index: 9999;
    margin: 0;
    padding: 0;
}
.FormControl_date_select_row_Number ul li {
    height: 40px;
    line-height: 40px;
    overflow: hidden;
    padding: 0 10px;
    cursor: pointer;
    padding-left: 35px;
}

.FormControl_date_select_row_Number ul li.on {
    background-color: #FFF9ED;
}

.Telephone_row_select2_div {
    position: relative;
}

.Telephone_row_select2_div span {
    position: absolute;
    top: 4px;
    left: 50px;
    cursor: pointer;
    z-index: 1;
    pointer-events: none;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
    font-size: 14px;
}
.FormControl_date_select_row ul li {
    height: 30px;
    line-height: 30px;
    overflow: hidden;
    padding: 0 0 0 15px;
    cursor: pointer;
    font-size: 14px;
    
    color: #000000;
}
.PVM_Name_row{
    display: inline-flex;
    width: 70%;
    margin: 0;
}
.PVM_Telephone_row{
    display: inline-flex;
    width: 70%;
    margin: 0;  
}
.PVM_Telephone_row #TelephoneN{
    width: 100%;
}
.PVM_Captcha_row{
    display: inline-flex;
    width: 70%;
    margin: 0; 
}
.PVM_Captcha_row #captcha{
    width: 100%;
}
.BOOKModal_step2{
    width: 80%;
    margin:0 auto;
    text-align:center;
}
.BOOKModal_step2 .BOOKModal_step2_title{
    font-family: 'GillSans';
    font-size: 36px;
    line-height: 41px;
    color: #8B6E4A;
    margin:30px 0;
}
.BOOKModal_step2 .BOOKModal_step2_title img{
    width:50px;
    height:50px;
    margin-right:20px;
}
.BOOKModal_step2 .BOOKModal_step2_success{
    font-weight: 400;
    /* font-family: 'Gill-light'; */
    font-family: 'GillSans';
    font-size: 16px;
    line-height: 24px;
    color: #8B6E4A;
    margin:30px 0;
}
.Form_bottom .form-check{
    width: 80%;
    margin: 0 auto;
}
.Form_bottom .form-check label{
    width: 100% !important;
    text-align: left !important;
    color: #000 !important;
}
.Form_bottom .form-check label p{
    margin:0;
    /* font-family: 'Gill-light'; */
    font-family: 'GillSans';
}
.Form_bottom .form-check label a{
    color: #8B6E4A;
}




#BOOKTABLEModal .modal-dialog {
    max-width: 1200px;
}
#BOOKTABLEModal .modal-content{
    min-height: 480px;
    border-radius: 0;
    border:none;
}
#BOOKTABLEModal .modal-dialog h5{
    margin: 0;
    text-align: center;
    width: 100%;
    font-family: 'GillSans';
    padding: 40px 20px 40px 20px;
    color: #8B6E4A;
    font-size: 24px;
    line-height: 28px;
}
#BOOKTABLEModal .modal-header .close {
    position: absolute;
    right: 15px;
    top: 15px;
    margin: 0;
    padding: 0;
    border: 2px solid #000;
    border-radius: 50%;
    width: 30px;
    height: 30px;
}
#BOOKTABLEModal .modal-body{
    padding: 0;
}
.Form_bottom{
    padding: 15px 50px 0 50px;
}
.checkbox_TC{
    color: #000;
    text-decoration: underline;
}
.checkbox_TC:hover{
    color: #000;
    text-decoration: underline;
}
#checkbox_TCcollapse .card{
    height: 100px;
    padding: 10px;
    overflow: auto;
}
#checkbox_TCcollapse .card p{
    margin-bottom: 0;
    font-weight: unset;
}

select{
    width: 100%;
    height: 38px;
    background: #FFFFFF;
    border: 1px solid #000000;
    border-radius: 0;
    padding: 0 15px;
    font-size: 14px;
    /* font-family: 'Gill-light'; */
    font-family: 'GillSans';
    color: #000000;
    line-height: 18px;
    outline: none;
}
#Data_calander_input{
    background: #fff url(../images/icon-calander.png) no-repeat;
    background-position: right 10px  center;
}
#Data_calander_wrap .calendar-hd .calendar-arrow a{
    margin: 0;
}
#Data_calander_wrap .calendar-hd .calendar-arrow span img{
    width: 40px;
    height: 40px;
}

.collapseReservation {
    width: 80%;
    margin: 0 auto;
}

.BookForm_wrap_Tips {
    width: 80%;
    height: auto;
    margin: 0 auto;
    padding: 0 15px 15px 15px;
    display: table;
    font-size: 16px;
    color: #f00;
}

.BookForm_wrap_Tips p {
    color: #000;
    font-family: 'GillSans';
    text-align: center;
    color: red;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

.collapseReservation {}

.collapseReservation .col-form-label {
    color: #000;
    text-align: right;
    font-size: 14px;
    /* font-family: 'Gill-light'; */
    font-family: 'GillSans';
    color: #000000;
    line-height: 17px;
    width: 100%;
}

.collapseReservation .form-control {
    width: 100%;
    height: 40px;
    background: #FFFFFF;
    border: 1px solid #aaa;
    border-radius: 0;
    padding: 0 15px;
    font-size: 16px;
    /* font-family: 'Gill-light'; */
    font-family: 'GillSans';
    color: #000000;
    line-height: 18px;
    outline: none;
    border-radius: 6px;
}

.collapseReservation .spinner {
    border: 1px solid #aaa;
}

.collapseReservation_number {
    margin: 0;
}

.collapseReservation_number_adult {
    padding: 0 7px 0 0;
}

.collapseReservation_number_child {
    padding: 0 0 0 7px;
}

.BookForm_btn {
    width: 80%;
    margin: 0 auto;
    border: 0;
    text-align: center;
    padding: 20px 0;
}

.BookForm_btn a {
    width: 150px;
    height: 40px;
    line-height: 40px;
    margin: 0 auto;
    text-align: center;
    font-size: 18px;
    font-family: 'GillSans';
    font-weight: bold;
    color: #FFFFFF;
    background-color: #8B6E4A;
    text-decoration: none;
    cursor: pointer;
    border-radius: 6px;
    display: inline-block;
    margin: 0 10px;
    letter-spacing: 1px;
}
.BookForm_btn a:hover {
    background-color: #785F41;
    transition: all ease .3s;
    -webkit-transition: all ease .3s;
    -moz-transition: all ease .3s;
    color: #FFFFFF;
}
.BookForm_btn a.Unclickable{
    background: #ccc;
    pointer-events: none;
}
.collapseReservation_step2_choicetime {
    font-size: 0;
}

.collapseReservation_step2_choicetime .choicetime_list {
    width: 15%;
    margin-right: calc(10% / 5);
    height: 36px;
    line-height: 36px;
    background: #FFFFFF;
    border-radius: 0;
    border: 1px solid #8B6E4A;
    display: inline-block;
    text-align: center;
    font-size: 16px;
    /* font-family: 'Gill-light'; */
    font-family: 'GillSans';
    border-radius: 6px;
    margin-bottom: 10px;
}

.collapseReservation_step2_choicetime .choicetime_list:nth-child(6n) {
    margin-right: 0;
}

.collapseReservation_step2_choicetime .choicetime_list:hover {
    background: #8B6E4A;
    color: #fff;
    cursor: pointer;
}

.collapseReservation_step2_choicetime .unchoice {
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.15);
    color: rgba(0, 0, 0, 0.25);
    width: 15%;
    margin-right: calc(10% / 5);
    height: 36px;
    line-height: 36px;
    border-radius: 0;
    display: inline-block;
    text-align: center;
    font-size: 16px;
    /* font-family: 'Gill-light'; */
    font-family: 'GillSans';
    border-radius: 6px;
    margin-bottom: 10px;
}

.collapseReservation_step2_choicetime .unchoice:nth-child(6n) {
    margin-right: 0;
}

.collapseReservation_step2_choicetime .unchoice:last-child {
    margin-right: 0;
}

.collapseReservation_step2_choicetime .unchoice:hover {
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.15);
    color: rgba(0, 0, 0, 0.25);
    cursor: not-allowed;
}

.collapseReservation_step2_choicetime .active {
    background: #8B6E4A;
    color: #fff;
}

.BookForm_wrap_row {
    width: 94%;
    margin: 0 auto;
}

.collapseReservation .sel_mask {
    border: 1px solid #ccc;
}

.collapseReservation .Telephone_row {
    margin: 0;
}

.collapseReservation .Name_row_label {
    padding: 0 7px 0 0;
}

.collapseReservation .Name_row_input {
    padding: 0 0 0 7px;
}

.collapseReservation_step05 {
    margin: 0 auto;
    text-align: center;
}

.BookForm05_Book {
    padding: 20px 0;
}

.BookForm05_Book p {
    margin: 0;
}

.BookForm05_info {
    color: #000;
    font-size: 18px;
    /* font-family: 'Gill-light'; */
    font-family: 'GillSans';
}

.BookForm::-webkit-scrollbar {
    display: none
}

.BookForm {
    -ms-overflow-style: none;
    padding: 0;
}

.BookForm {
    overflow: -moz-scrollbars-none;
}

.collapseReservation_Fields {
    font-size: 12px;
    margin: 15px 0 0 0;
    color: #737373;
    padding: 0 50px;
}

.Bread_nav {
    padding: 10px 0;
    font-size: 14px;
    color: #000;
    text-transform: uppercase;
    /* font-family: 'Gill-light'; */
    font-family: 'GillSans';
}

.Bread_nav a {
    color: #000;
    text-decoration: none;
}

.Bread_nav a:hover {
    color: #000;
    text-decoration: underline;
}

.Bread_nav .icon-double-angle-right {
    padding: 0 5px;
}

.FormControl_date_select_row {
    width: 100%;
    padding: 0;
    position: relative;
}

.FormControl_date_select_row_Number {
    width: 100%;
    padding: 0;
    position: relative;
}

.FormControl_date_select_row .FormControl_dropdownHotel {
    border-radius: 0;
    box-shadow: none;
    display: inline-block;
    text-decoration: none;
    border: 1px solid #aaa;
    position: absolute;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
    height: 38px;
    line-height: 38px;
    padding: 0 15px;
    font-size: 14px;
    /* font-family: 'Gill-light'; */
    font-family: 'GillSans';
    color: #000000;
    outline: none;
    background: #FFF url(../images/select01.png) no-repeat;
    background-size: 14px;
    background-position: right 10px center;
    cursor: pointer;
    border-radius: 6px;
}

.FormControl_date_select_row_Number .FormControl_dropdownHotel {
    display: block;
    width: 100%;
    border: 0;
    outline: 0;
}

.FormControl_date_select_row ul {
    width: calc(100% + 2px);
    display: none;
    position: absolute;
    left: -1px;
    top: 38px;
    overflow: hidden;
    background-color: #fff;
    overflow-y: auto;
    border: 1px solid #999;
    z-index: 9999;
    margin: 0;
    padding: 0;
}

.Telephone_row_select2 ul {
    width: calc(100% + 253px);
    display: none;
    position: absolute;
    left: 0;
    top: 39px;
    overflow: auto;
    background-color: #fff;
    overflow-y: auto;
    border: 1px solid #999;
    z-index: 9999;
    margin: 0;
    padding: 0;
    max-height: 200px;
}
#BookForm04 .Telephone_row_select2 ul {
    width: calc(100% + 263px);
    
}
.FormControl_date_select_row ul li {
    height: 30px;
    line-height: 30px;
    overflow: hidden;
    padding: 0 0 0 15px;
    cursor: pointer;
    font-size: 14px;
}

.FormControl_date_select_row ul li:hover {
    background-color: #FFF9ED;
}

.FormControl_date_select_row_Number ul {
    width: calc(100% + 2px);
    display: none;
    position: absolute;
    left: -1px;
    top: 38px;
    overflow: hidden;
    background-color: #fff;
    overflow-y: auto;
    border: 1px solid #999;
    z-index: 9999;
    margin: 0;
    padding: 0;
}

.FormControl_date_select_row_Number ul li {
    height: 40px;
    line-height: 40px;
    overflow: hidden;
    padding: 0 10px;
    cursor: pointer;
    padding-left: 35px;
}

.FormControl_date_select_row_Number ul li.on {
    background-color: #FFF9ED;
}

.Telephone_row_select2_div {
    position: relative;
}

.Telephone_row_select2_div span {
    position: absolute;
    top: 4px;
    left: 50px;
    cursor: pointer;
    z-index: 1;
    pointer-events: none;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
    font-size: 14px;
}

.formobilemargin {
    margin: 0 -15px 0 -15px;
}

.animation {
    transition: all ease .3s;
    -webkit-transition: all ease .3s;
    -moz-transition: all ease .3s;
}

#floorplanModal .Rooms_wrap_control .carousel-control-prev-icon {
    background-image: url(../images/arrow06.png);
    width: 30px;
    height: 30px;
}

#floorplanModal .Rooms_wrap_control .carousel-control-next-icon {
    background-image: url(../images/arrow05.png);
    width: 30px;
    height: 30px;
}
#floorplanModal-moblie .Rooms_wrap_control .carousel-control-prev-icon {
    background-image: url(../images/arrow06.png);
    width: 30px;
    height: 30px;
}

#floorplanModal-moblie .Rooms_wrap_control .carousel-control-next-icon {
    background-image: url(../images/arrow05.png);
    width: 30px;
    height: 30px;
}
.BookForm {
    width: 100%;
}
.collapseReservation_number {
    margin: 0;
}
.collapseReservation_number_adult {
    padding: 0 7px 0 0;
}
.collapseReservation_number_child {
    padding: 0 0 0 7px;
}
#BOOKTABLEModal .BookForm_btn {
    width: 80%;
    margin: 0 auto;
    border: 0;
    text-align: center;
    padding: 30px 0;
}
.collapseReservation .spinner {
    border: 1px solid #aaa;
    border-radius: 6px;
    margin:0;
}
.collapseReservation .spinner .col-md-6{
    padding:0;
}
.collapseReservation .spinner a:first-child {
    background: #fff url(../images/icon23.png) no-repeat center !important;
    float: left;
    margin:0;
    border-radius: 6px;
    background-size: 20px !important;
}
.collapseReservation .spinner a:last-child {
    background: #fff url(../images/icon24.png) no-repeat center !important;
    float: right;
    margin:0;
    border-radius: 6px;
    background-size: 20px !important;
}
.collapseReservation .spinner a {
    width: 40px;
    height: 38px;
    line-height: 38px;
    display: inline-block;
    text-align: center;
    border: none;
    /* font-family: 'Gill-light'; */
    font-family: 'GillSans';
    cursor: pointer;
    background-color: #fff;
    vertical-align: top;
}
.collapseReservation .spinner input {
    width: calc(100% - 80px);
    height: 38px;
    text-align: center;
    /* font-family: 'Gill-light'; */
    font-family: 'GillSans';
    position: relative;
    top: 0;
    border-radius: 0;
    border: none;
    color: #000;
    font-size: 16px;
    cursor: auto;
}
.collapseReservation .spinner_Adultinfo{
    color: #000;
    font-size: 16px;
    /* font-family: 'Gill-light'; */
    font-family: 'GillSans';
    line-height: 40px;
    background: url(../images/icon16.png) no-repeat left 10px center;
    padding-left: 40px !important;
    border-radius: 6px;
}
.collapseReservation .spinner_Childinfo{
    color: #000;
    font-size: 16px;
    /* font-family: 'Gill-light'; */
    font-family: 'GillSans';
    line-height: 40px;
    background: url(../images/icon17.png) no-repeat left 10px center;
    padding-left: 40px !important;
    border-radius: 6px;
}
#BOOKTABLEModal .modal-header {
    border-bottom: none;
    height: auto;
    padding: 0;
    display: block;
}
#BOOKTABLEModal .modal-header .close{
    position: absolute;
    top: -18px;
    right: -18px;
    width: 36px;
    height: 36px;
    background: #fff;
    border-radius: 50%;
    padding: 0;
    margin: 0;
    opacity: 1;
    border:none;
}
#BOOKTABLEModal .modal-header .close span img{
    margin:10px 0;
}
.collapseReservation #Restaurant{
    background: url(../images/icon14.png) no-repeat left 10px center;
    padding-left: 40px;
    border-radius: 6px;
    cursor: default;
}
.collapseReservation #MakeAReservationDate1{
    background: url(../images/icon15.png) no-repeat left 10px center,url(../images/select01.png) no-repeat right 10px center;

    padding-left: 40px;
    border-radius: 6px;
    cursor: pointer;
    background-size: 20px;
}
.collapseReservation #MakeAReservationDate{
    background: url(../images/icon15.png) no-repeat left 10px center,url(../images/select01.png) no-repeat right 10px center;
    padding-left: 40px;
    border-radius: 6px;
    cursor: pointer;
    background-size: 20px;
}
.collapseReservation_step2_loading {
    text-align: center;
    color: #000;
    justify-content: center;
    padding: 30px 0;
}
.collapseReservation_step2_loading img {
    width: 120px;
}
#BOOKTABLEModal .modal-header .modal-header-banner{
    width: 100%;
}
#BOOKTABLEModal .modal-header .modal-header-banner img{
    width: 100%;
}
#BOOKTABLEModal label{
    font-family: 'GillSans';
    width: 30%;
    display: inline-block;
    text-align: right;
    padding-right: 10px;
    color: #8B6E4A;
    font-size: 16px;
    line-height: 24px;
    vertical-align: top;
    padding-top: 0;
}
.Dining_right_form{
    width: 70%;
    display: inline-flex;
    padding: 0;
}
#BOOKTABLEModal .diy_select{
    width: 100%;
}
#BOOKTABLEModal #FirstName,#BOOKTABLEModal #LastName{
    width: 100%;
}
#BOOKTABLEModal #TelephoneN{
    width: 100%;
}
#BOOKTABLEModal #Email{
    width: 100%;
}
#BOOKTABLEModal #Captcha{
    width: 100%;
}
#BOOKTABLEModal  .BOOKModal_step2_title{
    font-family: 'GillSans';
    font-size: 36px;
    line-height: 41px;
    color: #8B6E4A;
    margin:30px 0;
}
#BOOKTABLEModal  .BOOKModal_step2_title img{
    width:50px;
    height:50px;
    margin-right:20px;
}
.BookForm05_Book_info{
    border:1px solid #8B6E4A;
    border-radius: 6px;
    height: 40px;
    line-height: 40px;
    max-width: 500px;
    margin: 0 auto 10px auto;
}
.BookForm05_Book_info_left{
    width: 40%;font-size: 16px;
    color: #000;
    display: inline-block;
    text-align: right;
    border-right:1px solid #8B6E4A;
    padding-right: 10px;
    font-family: 'GillSans';
}
.BookForm05_Book_info_right{
    width: 60%;font-size: 16px;
    color: #000;
    display: inline-block;
    /* font-family: 'Gill-light'; */
    font-family: 'GillSans';
}
.timediv{
    margin:20px 0 0 0;
}
.timediv_title {
    width: 80px !important;
}
.timediv_time{
    width:calc(100% - 80px);
}

#collapseBook{
    position: absolute;
    width: 100%;
    z-index: 1;
    background: #fff;
    left: 0;
    margin-top: 1px;
    box-shadow: 0px 4px 4px rgba(139, 110, 74, 0.05);
    
}
#collapseBook .Top_Booking{
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
    /* font-family: 'Gill-light'; */
    font-family: 'GillSans';
    padding: 20px 0;
}
#collapseBook .Top_Booking .Top_Booking_row{
    margin: 0;
}
#collapseBook .Top_Booking .Top_Booking_calander{
    width: 35%;
    height: 42px;
    border: 1px solid #8B6E4A;
    box-sizing: border-box;
    border-radius: 6px;
    display: flex;
    padding: 0;
}
#collapseBook .Top_Booking .Top_Booking_calander .Top_Booking_control:nth-child(1){
    width: calc(50% + 18px);
}
#collapseBook .Top_Booking .Top_Booking_calander .Top_Booking_control:nth-child(2){
    width: calc(50% - 18px);
}
#collapseBook .Top_Booking .Top_Booking_calander #datepicker_from, #collapseBook .Top_Booking .Top_Booking_calander #datepicker_to{
    background: transparent;
    border: none;
    height: 22px;
    padding-right: 0;
    padding-left: 10px;
    padding-top: 0;
    padding-bottom: 0;
    color: #000;
    font-size: 14px;
    border-radius: 0;
    margin: 10px 0;
    cursor: pointer;
}
#collapseBook .Top_Booking .Top_Booking_calander #datepicker_from{
    border-right: 1px solid #8B6E4A;
    
    padding-left: 40px;
    background: url(../images/icon15.png) no-repeat;
    background-position: left 10px center;
    background-size: 20px;
}
.Top_Booking_Room{
    width: 100%;
    height: 60px;
    border: none;
    box-sizing: border-box;
    border-radius: 6px;
    display: flex;
    padding: 0;
}
.Top_Booking_Adult{
    width: 100%;
    height: 60px;
    border: none;
    box-sizing: border-box;
    border-radius: 6px;
    display: flex;
    padding: 0;
}
.Top_Booking_Child{
    width: 100%;
    height: 60px;
    border: none;
    box-sizing: border-box;
    border-radius: 6px;
    display: flex;
    padding: 0;
}
.Top_Booking_Room .Numbercollapse_wrap,.Top_Booking_Adult .Numbercollapse_wrap,.Top_Booking_Child .Numbercollapse_wrap{
    display: flex;
}
.Top_Booking_Room .FormControl_label,.Top_Booking_Adult .FormControl_label,.Top_Booking_Child .FormControl_label{
    width: 40%;
    display: inline-block;
    margin: 10px 0;
    height: 40px;
    padding-left: 10px;
    line-height: 40px;
    font-size: 14px;
}
.Top_Booking_Room .spinner,.Top_Booking_Adult .spinner,.Top_Booking_Child .spinner{
    display: flex;
    width: 60%;
    height: 40px;
    margin:10px 0;
    padding-right: 10px;
}
.Top_Booking_Room .spinner a,.Top_Booking_Adult .spinner a,.Top_Booking_Child .spinner a{
    display: inline-block;
    width: 40px;
    height: 40px;
    background: #f00;
    padding: 0 15px;
}
.Top_Booking_Room .spinner a:hover,.Top_Booking_Adult .spinner a:hover,.Top_Booking_Child .spinner a:hover{
    border:none;
}
.Top_Booking_Room .spinner a:first-child,.Top_Booking_Adult .spinner a:first-child,.Top_Booking_Child .spinner a:first-child{
    background:#8B6E4A url(../images/icon9-1.png) no-repeat;
    background-position: center center;
    cursor: pointer;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
}
.Top_Booking_Room .spinner a:last-child,.Top_Booking_Adult .spinner a:last-child,.Top_Booking_Child .spinner a:last-child{
    background: #8B6E4A url(../images/icon10-1.png) no-repeat;
    background-position: center center;
    cursor: pointer;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
}
.Top_Booking_Room .spinner .decrease[disabled="disabled"],.Top_Booking_Adult .spinner .decrease[disabled="disabled"],.Top_Booking_Child .spinner .decrease[disabled="disabled"]{
    background:#ccc url(../images/icon9-1.png) no-repeat;
    background-position: center center;
    cursor: not-allowed;
    border:none;
}
.Top_Booking_Room .spinner .increase[disabled="disabled"],.Top_Booking_Adult .spinner .increase[disabled="disabled"],.Top_Booking_Child .spinner .increase[disabled="disabled"]{
    background: #ccc url(../images/icon10-1.png) no-repeat;
    background-position: center center;
    cursor: not-allowed;
    border:none;
}
.Top_Booking_Room .spinner #Rooms,.Top_Booking_Adult .spinner #Adults,.Top_Booking_Child .spinner #Child{
    width: 100%;
    height: 40px;
    border:none;
    text-align: center;
    padding: 0;
    cursor: auto;
}
#collapseBookonmobile .Top_Booking_Btn{
    width: calc(25% - 30px);
}
.Top_Booking_Btn .Common_btn{
    width: 150px;
    height: 42px;
    background: #8B6E4A;
    border-radius: 6px;
    display: block;
    text-align: center;
    color: #fff;
    line-height: 42px;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    text-decoration: none;
    letter-spacing: 1px;
    font-family: 'GillSans';
}
.Top_Booking_Btn .Common_btn:hover{
    background: #785F41;
}
.Top_Booking_Btn .Common_btn img{
    margin-right: 10px;
}
.Top_Booking_Btn .Top_Bookingbtn{
    display: flex;
    justify-content: space-around;
    padding: 5px 0;
}
.Top_Booking_Btn .Top_Bookingbtn a {
    color: #8D704C;
    border-bottom: 1px solid #8D704C;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    text-decoration: none;
}
@media screen and (min-width:1200px) and (max-width:4096px) {

    .collapseBookonmobile {
        display: none !important;
    }
    #collapseBookonmobile:not(.show) {
        display: block;
    }
}

.Room_booking {
    padding: 30px 20px;
    box-shadow: 0px 0px 4px rgb(0 0 0 / 15%);
}
#collapseBookonmobile{
    width: 100%;
    background: #fff;
    
}
#collapseBookonmobile .Top_Booking{
    width: 100%;
    margin: 0 auto;
    /* font-family: 'Gill-light'; */
    font-family: 'GillSans';
    padding: 25px;
    margin-bottom: 30px;
    border-radius: 20px;
}
#collapseBookonmobile .Top_Booking .Top_Booking_row{
    margin: 0;
}
#collapseBookonmobile .Top_Booking .Top_Booking_calander{
    width: 50%;
    height: 42px;
    border: 1px solid #8B6E4A;
    box-sizing: border-box;
    border-radius: 6px;
    display: flex;
    padding: 0;
}
#collapseBookonmobile .Top_Booking .Top_Booking_calander .Top_Booking_control:nth-child(1){
    width: calc(50% + 18px);
}
#collapseBookonmobile .Top_Booking .Top_Booking_calander .Top_Booking_control:nth-child(2){
    width: calc(50% - 18px);
}
#collapseBookonmobile .Top_Booking .Top_Booking_calander #datepicker_from_room, #collapseBookonmobile .Top_Booking .Top_Booking_calander #datepicker_to_room{
    background: transparent;
    border: none;
    height: 22px;
    padding-right: 0;
    padding-left: 10px;
    padding-top: 0;
    padding-bottom: 0;
    color: #000;
    font-size: 14px;
    border-radius: 0;
    margin: 10px 0;
    cursor: pointer;
    /* font-family: 'Gill-light'; */
    font-family: 'GillSans';
}
#collapseBookonmobile .Top_Booking .Top_Booking_calander #datepicker_from_room{
    border-right: 1px solid #8B6E4A;
    
    padding-left: 40px;
    background: url(../images/icon15.png) no-repeat;
    background-position: left 10px center;
    background-size: 20px;
}
.Top_Booking_Room .spinner #Rooms1,.Top_Booking_Adult .spinner #Adults1,.Top_Booking_Child .spinner #Child1{
    width: 100%;
    height: 40px;
    border:none;
    text-align: center;
    padding: 0;
    cursor: auto;
}
.Top_Booking_Btn #go_booking_offer,.Top_Booking_Btn #go_booking_room,.Top_Booking_Btn #go_booking_home{
    width: 150px;
    font-family: 'GillSans';
    height: 42px;
    background: #8B6E4A;
    border-radius: 6px;
    display: block;
    text-align: center;
    color: #fff;
    line-height: 42px;
    font-style: normal;
    font-weight: 800;
    font-size: 16px;
    text-decoration: none;
    cursor: pointer;
    letter-spacing: 1px;
}
#collapseBookonmobile #go_booking_offer ,#collapseBookonmobile #go_booking_room{
    width: 100%;
}
.Top_Booking_Btn #go_booking_offer:hover,.Top_Booking_Btn #go_booking_room:hover,.Top_Booking_Btn #go_booking_home:hover{
    background: #785F41;
}
.Top_Booking_Btn #go_booking_offer img,.Top_Booking_Btn #go_booking_room img,.Top_Booking_Btn #go_booking_home img{
    margin-right: 10px;
}
#go_booking_home img{
    width: auto !important;
}
.Top_Bookingbtn  img{
    width: auto !important;
}




.PVM_Booking{
    width: 100%;
    background: #fff;
    margin-top: 1px;
    box-shadow: 0px 4px 4px rgba(139, 110, 74, 0.05);
    z-index: 1;
    
}
.PVM_Booking .Top_Booking{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    /* font-family: 'Gill-light'; */
    font-family: 'GillSans';
    padding: 0;
    margin-bottom: 30px;
    box-shadow: none;
    
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
}
.PVM_Booking .Top_Booking .Top_Booking_row{
    margin: 0;
}
.PVM_Booking .Top_Booking .Top_Booking_calander{
    width: 35%;
    height: 42px;
    border: 1px solid #8B6E4A;
    box-sizing: border-box;
    border-radius: 6px;
    display: flex;
    padding: 0;
}
.PVM_Booking .Top_Booking .Top_Booking_calander .Top_Booking_control:nth-child(1){
    width: calc(50% + 18px);
}
.PVM_Booking .Top_Booking .Top_Booking_calander .Top_Booking_control:nth-child(2){
    width: calc(50% - 18px);
}
.PVM_Booking .Top_Booking .Top_Booking_calander #datepicker_from_room{
    border: none;
    height: 22px;
    padding-right: 0;
    padding-left: 40px;
    padding-top: 0;
    padding-bottom: 0;
    background: url(../images/icon15.png) no-repeat;
    background-position: left 10px center;
    color: #000;
    font-size: 14px;
    border-radius: 0;
    margin: 10px 0;
    cursor: pointer;
    
    background-size: 20px;
}
.PVM_Booking .Top_Booking .Top_Booking_calander #datepicker_to_room{
    background: transparent;
    border: none;
    height: 22px;
    padding-right: 0;
    padding-left: 10px;
    padding-top: 0;
    padding-bottom: 0;
    color: #000;
    font-size: 14px;
    border-radius: 0;
    margin: 10px 0;
    cursor: pointer;
}
.PVM_Booking .Top_Booking .Top_Booking_calander #datepicker_from_room{
    border-right: 1px solid #8B6E4A;
}

#sidebar-main {
    display: none;
}

#sidebar-main-trigger {
    display: none;
}
.Common_btn {
    background: #8B6E4A;
    border-radius: 6px;
    color: #fff;
    width: 164px;
    text-align: center;
    height: 40px;
    line-height: 40px;
    font-family: 'GillSans';
    font-weight: 800;
    text-decoration: none;
    display: block;
    text-decoration: none;
}
.Common_btn:hover{
    background: #785F41;
    color: #fff;
    text-decoration: none;
}

.Inner_Header .Top_booking_btn_only{
    max-width: 0;
    overflow: hidden;
}
.Top_booking_btn_only{
    position: relative;
    display: block;
    background: #8B6E4A;
    border-radius: 6px;
    color: #fff;
    width: 164px;
    text-align: center;
    height: 40px;
    line-height: 40px;
    font-family: 'GillSans'; 
    font-weight: 800;
    text-decoration: none;

    max-width: 150px;
    transition: max-width 600ms, margin 1000ms;
    width: 150px;
    letter-spacing: 1px;
}
.Top_booking_btn_onlyblock{
    max-width: 300px !important;
    transition: max-width 1000ms;
}

.Top_booking_btn_only:hover,.Top_booking_btn_only:focus,.Top_booking_btn_only:active{
    background: #785F41;
    color: #fff;
    text-decoration: none;
    font-family: 'GillSans';
    font-weight: 800;
}
.Maintenance_body{
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    padding: 40px 15px;
    text-align: center;
    color: #8B6E4A;

}

.Maintenance_body h1 {
    font-family: 'GillSans';
    font-size: 58px;
    font-style: normal;
    font-weight: 400;
    line-height: 67px;
    letter-spacing: 0px;
    text-align: center;

}
.Maintenance_body p {
    font-family: 'GillSans';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0px;
}

.Error_page {
    text-align: center;
    padding: 110px 0 50px 0;
}

.Error_page .one {
    font-size: 72px;
    font-family: 'GillSans';
    color: #8B6E4A;
    line-height: 85px;
    margin-bottom: 10px;
}

.Error_page .why {
    font-size: 24px;
    font-family: 'GillSans';
    font-weight: bold;
    color: #8B6E4A;
    line-height: 29px;
    margin-bottom: 30px;
}

.Error_page .apology {
    font-size: 16px;
    font-family: 'GillSans';
    color: #8B6E4A;
    line-height: 18px;
    margin-bottom: 80px;
}

.Error_page .back a {
    display: inline-block;
    width: 156px;
    height: 40px;
    background: #8B6E4A;
    color: #fff;
    line-height: 40px;
    text-align: center;
    font-family: 'GillSans';
    text-decoration: none;
    margin-bottom: 40px;
    border-radius:5px;
    font-size:16px;
}
.PC_banner{
    display: block;
}
.Mobile_banner{
    display: none;
}
.PC_index_Carousel{
    display: block;
}
.Mobile_index_Carousel{
    display: none;
}
.Mobile_Totop{
    display: block !important;
    font-family: 'GillSans';
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    color: #8B6E4A;
    cursor: pointer;

    margin: 40px 0 30px calc(100% - 80px);
    width: 80px;
}
.Mobile_Totop div{
    
    text-align: right;
}
.Mobile_Totop img{
    display: inline-block;
    text-align: center;
    width: 18px;
    height: auto;
    margin: 0 25px;
}
.Mobile_Totop span{
    display: block;
    margin-top: 5px;
}
.forweb{
    display: block;
}
.formobile{
    display: none;
}
.Contact_us_list{
    padding: 0;
    margin: 10px 0;
    
}
.Contact_us_list p{
    margin: 0;
    font-size: 16px;
    /* font-family: 'Gill-light'; */
    font-family: 'GillSans';
    font-weight: 400;
    color: #8d704c;
    line-height: 25px;
}
.Offers_list_info04 .Offers_list_info04_title[aria-expanded="false"] {
    padding-right: 40px;
    margin-bottom: 10px;
    display: inline-block;
    min-width: 1px;
    background: url(../images/select01.png) no-repeat right 15px center;
    cursor: pointer;
}

.Offers_list_info04 .Offers_list_info04_title[aria-expanded="true"] {
    padding-right: 40px;
    margin-bottom: 10px;
    display: inline-block;
    min-width: 1px;
    background: url(../images/select02.png) no-repeat right 15px center;
    cursor: pointer;
}
#collapseOfferTandC p{
    /* font-family: 'Gill-light'; */
    font-family: 'GillSans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #8B6E4A;
}


.timediv label {
    color: #000 !important;
    text-align: left !important;
}
.pcmobile_copyright{
    display: block;
}
.tablet_copyright{
    display: none;
}
.Tablet_booking{
    display: none;
}

.modal-backdrop.show {
    opacity: .8;
}
.modal-header-banner-forweb{
    display: block;
}
.modal-header-banner-fortablet{
    display: none;
}
.modal-header-banner-formobile{
    display: none;
}
.displayblock{
    display: none !important;
}
.scrolllogo{
    display: none;
    height: 60px !important;
    width: auto !important;
    margin-left: -30px !important;
}
.defaultscrolllogo img{
    height: 80px;
    width: auto;
}

#BOOKModal_step2 .modal-body{
    margin-top: 120px !important;
}
#BOOKModal_step3  .modal-body{
    margin-top: 120px !important;
}
#BOOKModal_step1 .modal-body .BookForm:nth-child(1),#BOOKModal_step1 .modal-body .BookForm:nth-child(2){
    width: 60%;
    margin:0 auto;
}

.BookForm04_detail{
    padding: 0 20px 15px 20px;
    text-align: center;
}
.BookForm04_detail p{
    display: inline-block;
    font-size: 18px;
    font-family: 'GillSans';
    padding: 0 20px;
    margin-bottom: 0;
}

.Top_Booking_Number{
    position: relative;
    margin: 0 15px;
    width: 25%;
}
#collapseTopBookingNumber{
    position: absolute;
    bottom: 47px;
    background: #fff;
    border: 1px solid #8B6E4A;
    border-radius: 6px;
}
#collapseTopBookingNumber1{
    position: absolute;
    top: 47px;
    background: #fff;
    border: 1px solid #8B6E4A;
    border-radius: 6px;
}
#collapseTopBookingNumber2{
    position: absolute;
    top: 47px;
    background: #fff;
    border: 1px solid #8B6E4A;
    border-radius: 6px;
    z-index: 1;
}
#collapseTopBookingNumber3{
    position: absolute;
    top: 47px;
    background: #fff;
    border: 1px solid #8B6E4A;
    border-radius: 6px;
    z-index: 1;
}

#collapseTopBookingNumber,#collapseTopBookingNumber1,#collapseTopBookingNumber2,#collapseTopBookingNumber3 {
    -webkit-transition: none;
    transition: none;
}
.Top_Booking_Number span{
    width: 100%;
    cursor: pointer;
    height: 42px;
    line-height: 42px;
    border: 1px solid #8B6E4A;
    box-sizing: border-box;
    border-radius: 6px;
    color: #000;
    padding: 0 10px 0 40px;
    background:#fff url(../images/icon16.png) no-repeat left 10px center;
    text-align: left;
    font-size: 14px;
}
.Top_Booking_Number a:hover,.Top_Booking_Number a:active,.Top_Booking_Number a:focus{
    background-color: #fff;
    border: 1px solid #8B6E4A;
    color:#000;
}
.PVM_Booking .Top_Booking .Top_Bookingbtn {
    text-align: right;
    width: 100%;
    margin-top: 10px;
    text-decoration: underline;
    font-size: 14px;
}
.PVM_Booking .Top_Booking .Top_Bookingbtn a{
    text-align: right;
    margin-left: 15px;
}
#collapseBook .Top_Booking .Top_Bookingbtn {
    text-align: right;
    width: 100%;
    margin-top: 10px;
    font-size: 14px;
}
#collapseBook .Top_Booking .Top_Bookingbtn a{
    text-align: right;
    margin-left: 15px;
    text-decoration: underline;
}

.PVM_content p table{
    width:100%;
    font-family: 'GillSans';
    border-collapse: collapse;
    border-spacing: 0px;
    border:none;
}
.PVM_content p table tr:nth-child(1){
    width:100%;
    background-color: #bc9b6a !important;
    color: #fff !important;
}
.PVM_content p table tr td{
    padding: 12px 15px;
}
.PVM_content p table tr:nth-child(odd){
	background-color: rgba(0, 0, 0, 0.1);
    color:#000;
}
.PVM_content p table tr:nth-child(even){
	background-color: #fff;
    color:#000;
}

.Top_Booking_PromotionCode{
    width: calc(40% - 195px);
    margin-right: 15px;
}
.PromotionCodeIpt{
    width: 100%;
    height: 42px;
    border: 1px solid #8B6E4A;
    box-sizing: border-box;
    border-radius: 6px;
    /* font-family: 'Gill-light'; */
    font-family: 'GillSans';
    font-size: 14px;
    color: #000;    
    background: #fff url(../images/icon20.png) no-repeat left 10px center;
    padding: 0 10px 0 40px;
    background-size: 20px;
}
.PromotionCodeIpt::-webkit-input-placeholder { /* WebKit browsers */
    color: #000;
  }
  
  .PromotionCodeIpt::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: #000;
  }
  
  .PromotionCodeIpt:-ms-input-placeholder { /* Internet Explorer 10+ */
    color: #000;
  }   
.PromotionCodeIpt:focus,.PromotionCodeIpt:hover,.PromotionCodeIpt:active{
    height: 42px;
    border: 1px solid #8B6E4A;
    box-sizing: border-box;
    border-radius: 6px; 
}
.defaultlogo{
    height: 120px;
    overflow: hidden;

    
    transition: all 0.05s ease;
    -webkit-transition: all 0.05s ease;
    -moz-transition: all 0.05s ease;
    
}
.defaultlogo img{
    height: 110px;
    overflow: hidden;

    
    transition: all 0.1s ease;
    -webkit-transition: all 0.1s ease;
    -moz-transition: all 0.1s ease;
}

.New_Room_list_info04_01{
    width: 50%;
    display: inline-block;
    vertical-align: top;
}
.New_Room_list_info04_02{
    width: calc(49% - 30px);
    margin-left: 30px;
    display: inline-block;
    vertical-align: top;
}


.Offers_list{
    display: block;
    width: 100%;
}
.Offers_list #portfoliolist .portfolio {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    width: 100%;
    display: none;
}
.Offers_list #portfoliolist .portfolio .portfolio-wrapper:hover{
box-shadow: 0px 0px 5px 3px rgb(139 110 74 / 20%);
transition: all 0.5s ease;
-webkit-transition: all 0.5s ease;
-moz-transition: all 0.5s ease;
}

.forweb_filters{
    display: block;
}
.formobile_filters{
    display: none;
}
.smallscreenlogo{
    display: none;
}
.PVM_Top_Nav{
    border-top:1px solid #8d704c;
}
.About_forweb{
    display: block;
}
.About_formobile{
    display: none;
}

.Offers_list_info02{
    color: #8B6E4A;
}
.Newadd_swim_title{
    font-size: 16px;
    line-height: 24px;
    color: #8B6E4A;
    font-family: 'GillSans';
    font-style: normal;
    font-weight: 400;
}
.bus_title{
    font-family: 'GillSans';
    font-style: normal;
    font-weight: normal;
    color: #8B6E4A;    font-size: 24px;
    line-height: 28px;
}