@media screen and (min-width:320px) and (max-width:767px) {
    .container {
        width: 100%;
        padding: 0 15px;
    }
    .PVM_Header_right{
        display: none;
    }
    .PVM_Header_logo {
        text-align: center;
        margin: 5px 0;
        height: 61px;
    }
    .PVM_Header_logo img {
        width: auto;
        height: 60px;
    }
    .PVM_Header_Menu{
        display: none;
    }
    .PVM_Booking_body, .PVM_Booking{
        display: none;
    }
    #sidebar-main[data-sidebar-main="closed"]{
        display: block;
        padding-top: 60px;
    }
    #sidebar-main[data-sidebar-main="opened"]{
        display: block;
    }
    #sidebar-main-trigger {
        position: absolute;
        display: block;
        width: 24px;
        height: 24px;
        margin: 18px 0 0 10px;
    }
    #sidebar-main-trigger span {
        width: 100%;
        height: 2px;
        background-color: #8B6E4A;
        float: left;
        margin: 3px 0;
    }
    .sidebar {
        background: #fff url(../images/mobilemenubg.png) no-repeat;
        background-size: cover;
    }
    .sidebar .Mobile_booking {
        width: calc(100% - 40px);
        height: 48px;
        background: #fff;
        text-align: center;
        line-height: 48px;
        border:1px solid #8B6E4A;
        border-radius: 6px;
        margin:0 20px;
    }
    .sidebar .Mobile_booking a {
        font-size: 18px;
        font-family: 'GillSans';
        font-weight: bold;
        color: #8B6E4A;
        text-decoration: none; 
        display: block;
    }
    .sidebar .Mobile_booking a span{

        border-bottom: 1px solid #8B6E4A;
    }
    .sidebar .Mobile_menu {
        margin: 20px 0;
    }
    .sidebar .Mobile_menu ul{
        padding-left: 20px;
    }
    .sidebar .Mobile_menu ul li {
        text-align: left;
        text-transform: uppercase;
        list-style-type: none;
        margin: 20px 0;
    }
    .sidebar .Mobile_menu ul li a {
        font-size: 16px;
        /* font-family: 'Gill-light'; */
    font-family: 'GillSans';
        font-weight: bold;
        color: #8B6E4A;
        text-decoration: none;
        font-weight: 400;
        font-size: 18px;
    }
    .sidebar .sidebar_close{
        padding: 0;
    margin: 20px;
    text-align: right;
    }
    .Mobile_lang {
        padding: 0 20px;
        position: absolute;
        bottom: 60px;
        width: 100%;
        display: flex;
    }
    .Mobile_lang a {
        color: #8B6E4A;
        padding-left: 20px;
        padding-right: 20px;
        border-right: 1px solid #8B6E4A;

        font-weight: 400;
        font-size: 18px;
        line-height: 20px;
    }
    .Mobile_lang a:nth-child(4){
        padding-left: 0;
    }
    .Mobile_lang a:nth-child(6){
        border-right:none;
    }
    .PVM_Banner {
        top: 0;
        padding-top: 71px;
    }
    .index_content_container {
        margin-top: 0;
        top: 245px;
    }
    .Common_title {
        font-size: 24px;
        line-height: 28px;
    }
    .Common_title_bottom {
        margin: 15px auto 30px auto;
        width: 100%;
    }
    .index_content_container {
        margin-top: 0;
        top: 0;
    }
    .Footer_container{
        top: 0;
        padding: 0;
    }
    .PVM_content{
        top:0;
        padding-top: 71px;
    }
    .Inner_banner_special{
        padding-top: 0;
    }
    .Common_title span {
        padding-top: 30px;
    }
    .PC_banner{
        display: none;
    }
    .Mobile_banner{
        display: block;
    }
    .PC_index_Carousel{
        display: none;
    }
    .Mobile_index_Carousel{
        display: block;
    }
    .forweb{
        display: none;
    }
    .formobile{
        display: block;
    }
    .PVM_index_content p {
        line-height: 24px;
    }
    .PVM_index_content ul {
        padding-left: 24px;
        margin: 0;
    }
    .PVM_index_Carousel {
        padding: 40px 0 0 0;
    }
    .PVM_index_Carousel h2 {
        font-size: 24px;
        line-height: 28px;
        margin: 0 0 15px 0;
        text-align: center;
    }
    .PVM_index_content table{
        width: 100% !important;
    }
    .PVM_index_Carousel_detail{
        padding:0 15px 20px 15px;
    }
    .PVM_index_Carousel .col-md-4{
        margin-bottom: 20px;
        padding: 0;
        margin: 0 15px 20px 15px;
        border: 2px solid rgba(139, 110, 74, 0.05);
    }
    .PVM_index_Carousel .col-md-4:last-child{
        margin-bottom: 0;
    }
    .PVM_index_Carousel_detail h4 {
        font-size: 18px;
        font-weight: normal;
        line-height: 24px;
    }
    .PVM_Footer {
        display: block;
        text-align: center;
        padding-top: 15px;
        padding-bottom: 20px;
        border-bottom: none;
    }
    .PVM_Footer .phone {
        border-left: none;
        border-right: none;
        margin-bottom: 5px;
        padding: 0 15px;
        font-weight: 400;
        font-size: 14px;
        line-height: 16px;
    }
    .PVM_Footer .address {
        padding: 0 15px;
        margin-bottom: 10px;
        font-weight: 400;
        font-size: 14px;
        line-height: 16px;
    }
    .PVM_Footer .email {
        padding: 0 15px;
        font-weight: 400;
        font-size: 14px;
        line-height: 16px;
    }
    .Mobile_Totop{
        display: block;
        font-family: 'GillSans';
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 16px;
        text-align: center;
        color: #8B6E4A;
        margin:20px 0;
        width: auto;
    }
    .Mobile_Totop img{
        display: inline-block;
        text-align: center;
        width: 18px;
        height: auto;
    }
    .Mobile_Totop span{
        display: block;
        text-align: center;
        margin-top: 5px;
    }
    .PVM_Copyright{
        display: block;
        text-align: center;
        padding-top: 10px;
        padding-bottom: 10px;
        border-top: 1px solid #8d704c; 
    }
    .PVM_Copyright .icon{
        padding:10px 10px 0 10px;
    }
    .PVM_Copyright .icon ul{
        padding: 0;
        margin-bottom: 0;
    }
    .PVM_Copyright .link{
        margin-top: 5px;
        margin-bottom: 10px;
        padding:0 15px;
        font-weight: 400;
        font-size: 14px;
        line-height: 16px;
    }
    .PVM_Copyright .copyright{
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 16px;
        padding:10px 15px;
        margin-bottom: 0;
    }
    .BreadNav{
        display: none;
    }
    .Offers_list .col-md-6 {
        margin-top: 20px;
        border: 2px solid rgba(139, 110, 74, 0.05);
        padding: 0;
        margin: 20px 15px 0 15px;
    }
    .Offers_list .col-md-6:first-child {
        margin-top: 0;
    }
    .Offers_list .col-md-6 article{
        border:none;
    }
    .Offers_list .col-md-6 article:hover{
        border:none;
        box-shadow:none;
    }
    .Offerlist_title {
        padding: 15px 15px 0 15px;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 24px;
    }
    .Offerlist_time {
        padding: 0 15px;
    }
    .Offerlist_more {
        width: 100%;
        text-align: right;
        float: right;
        margin: 15px 0;
    }

    .Room_tablist {
        padding-top: 0;
    }
    #portfoliolist .portfolio {
        width:100%;
        margin: 0 0 20px 0;
    }
    #portfoliolist .portfolio:last-child {
        margin: 0 0 0 0;
    }
    .Room_wrap:first-child {
        padding-top: 0;
    }
    .Room_content_img {
        width: 100%;
    }
    .Room_content_img img{
        width: 100%;
    }
    .Room_content_info {
        width: 100%;
        padding: 15px;
        border: 2px solid rgba(139, 110, 74, 0.05);
    }
    .Room_content_info_title {
        font-size: 18px;
        line-height: 24px;
        font-weight: normal;
    }
    .Room_wrap {
        margin-top: 20px;
    }
    .Room_wrap:first-child {
        margin-top: 0;
    }
    .Dining_list_info03_btnwrap .Menu_item{
        width: 100%;
        margin: 0 0 20px 0;
    }
    .Dining_list_info03_btnwrap .MAKE_SERVATION{
        width:100%;
        margin: 0;
    }
    .location_map {
        margin-bottom: 30px;
    }
    .Route_wrap_thead {
        display: none;
    }
    .Route_wrap_thead_td {
        padding: 10px 15px;
        min-width: 100%;
    }
    .Route_wrap_tbody_tr .Route_wrap_thead_td:first-child {
        background-color: #bc9b6a !important;
        color: #fff;
        font-family: 'GillSans';
    }
    .Route_wrap_tbody_tr .Route_wrap_thead_th {
        background: rgba(0, 0, 0, 0.1);
    }
    .Route_wrap_tbody_tr .Route_wrap_thead_td {
        background: #fff;
    }
    .Route_wrap_tbody_tr .Route_wrap_thead_td:nth-child(even){
        background-color: #fff;
    }
    .Route_wrap_tbody_tr .Route_wrap_thead_td:nth-child(odd){
        background-color: #F0F0F0;
    }
    .About_section .About_section_info p img {
        margin: 20px 0;
    }
    .About_section .About_section_info p video {
        margin: 20px 0;
    }
    .Site_map_wap {
        width: 100%;
        margin: 0 auto;
    }
    .Site_map_wap .col-md-4 {
        padding:15px 0 0  0;
    }
    .Site_map_wap .Site_map_list ul.Site_map_list_secondnav {
        margin: 5px 0 10px 0;
    }
    .Offers_list_info{
        width: 100% !important;
        line-height: 24px;
    }
    .room_list_info04_row img{
        width: 100%;
    }
    #BOOKTABLEModal .modal-dialog {
        margin:100px 15px 40px 15px;
    }
    #BOOKTABLEModal .modal-header .close{
        top: -12px;
        right: -12px;
        width: 24px;
        height: 24px;
    }
    #BOOKTABLEModal .modal-header .close span img {
        margin: -3px 0 0 0;
    }
    #BOOKModal .modal-header .close span img {
        margin: -3px 0 0 0;
    }
    #BOOKTABLEModal .modal-dialog h5 {
        padding: 20px 15px 20px 15px;
        color: #8B6E4A;
        font-size: 24px;
        line-height: 28px;
    }
    .collapseReservation {
        width: 100%;
    }
    .collapseReservation_number_adult{
        padding: 0;
        margin-bottom: 20px;
    }
    .collapseReservation_number_adult .spinner_Adultinfo{
        width: 40% !important;
        padding-left: 40px !important;
    }
    .collapseReservation_number_adult .col-md-6{
        width: 60%;
        padding: 0;
    }
    .collapseReservation_number_child{
        padding: 0;
    }
    .collapseReservation_number_child .spinner_Childinfo{
        width: 40% !important;
        padding-left: 40px !important;
    }
    .collapseReservation_number_child .col-md-6{
        width: 60%;
        padding: 0;
    }
    #BOOKTABLEModal .modal-header .modal-header-banner img {
        width: 100%;
        min-height: 175px;
    }
    .diningDatastep1{
        width:calc(100% - 62px) !important;
    }
    .diningDatastep1 .drp-calendar {
        width: 100% !important;
    }
    
    .collapseReservation_step2_loading {
        padding: 30px 0;
    }
    .timediv {
        display: block;
    }
    .timediv label {
        width: 100% !important;
        text-align: left !important;
        padding: 10px 0 !important;
    }
    .timediv_time {
        width:100%;
    }
    .collapseReservation_step2_choicetime .unchoice {
        width: calc(33% - 10px);
        margin-right: 10px;
        margin-bottom: 10px;
    }
    .collapseReservation_step2_choicetime .unchoice:nth-child(3n) {
        margin-right: 0px;
    }
    .collapseReservation_step2_choicetime .choicetime_list {
        width: calc(33% - 10px);
        margin-right: 10px;
        margin-bottom: 10px;
    }
    .collapseReservation_step2_choicetime .choicetime_list:nth-child(3n) {
        margin-right: 0px;
    }
    #BOOKTABLEModal .BookForm_btn {
        width: 100%;
        padding: 20px 0;
        
    }
    .BookForm_btn a {
        width: calc(50% - 20px);
    }
    #BOOKTABLEModal label {
        width: 100%;
        text-align: left;
    }
    .Dining_right_form {
        width: 100%;
        display: inline-flex;
        padding: 0 15px;
    }
    .collapseReservation .Name_row_label {
        padding: 0;
        width: 100%;
        margin-bottom: 15px;
    }
    .collapseReservation .Name_row_input {
        padding: 0;
        width: 100%;
    }
    .Telephone_row_area {
        width: 25%;
    }
    .Telephone_row_num {
        width: 75%;
    }
    .Captcha_input{
        width: 50%;
    }
    .Captcha_img {
        width: 35%;
    }
    .Captcha_refresh {
        width: 15%;
    }
    .Form_bottom {
        padding: 15px 15px 0 15px;
    }
    .Form_bottom .form-check {
        width: 100%;
        padding:0;
    }
    .Error_Tips_00,
    .Error_Tips0,
    .Error_Tips1,
    .Error_Tips2,
    .Error_Tips3,
    .Error_Tips4,
    .Error_Tips5,
    .Error_Tips_spatype,
    .Error_Tips_spaname,
    .Error_Tips_Therapist,
    .Error_Tips_Title,
    .Error_Tips_Captcha,
    .Error_Tips_Phone{
        margin: 0 0 0 15px;
    }
    .Error_Tips3,.Error_Tips1,.Error_Tips2,.Error_Tips6 {
        margin:0;
    }
    #spaform,#spaform02 {
        width: 100%;
        padding:0 15px;
    }
    #BOOKTABLEModal .BOOKModal_step2_title {
        text-align: center;
        font-style: normal;
        font-weight: normal;
        font-size: 24px;
        line-height: 28px;
        color: #000000;
    }
    #BOOKTABLEModal .BOOKModal_step2_title img {
        margin: 0 auto 20px auto;
        display: block;
    }

    #BOOKModal .modal-header .modal-header-banner img {
        width: 100%;
        min-height: 175px;
    }
    #BOOKModal .modal-dialog {
        margin:100px 15px 40px 15px;
    }
    #BOOKModal .modal-header .close{
        top: -12px;
        right: -12px;
        width: 24px;
        height: 24px;
    }
    #BOOKModal .modal-header .close span{
        font-size: 24px;
        line-height: 26px;
        width: 24px;
        height: 24px;
    }
    #BOOKModal .modal-dialog h5 {
        padding: 20px 15px 20px 15px;
        color: #8B6E4A;
        font-size: 24px;
        line-height: 28px;
    }
    #spaform label, #restaurantform label, #spaform02 label {
        width: 100%;
        text-align: left;
        padding-right: 0;
    }
    #spaform .form-input, #restaurantform .form-input, #spaform02 .form-input {
        width: 100%;
    }
    .diy_select {
        width: 100%;
    }
    #BOOKModal .spinner {
        width: 100%;
    }
    .spaDatastep1{
        width:calc(100% - 62px) !important;
    }
    .spaDatastep1 .drp-calendar {
        width: 100% !important;
    }
    #spaform .Error_Tips_00,
    #spaform .Error_Tips0,
    #spaform .Error_Tips1,
    #spaform .Error_Tips2,
    #spaform .Error_Tips3,
    #spaform .Error_Tips4,
    #spaform .Error_Tips5,
    #spaform .Error_Tips_spatype,
    #spaform .Error_Tips_spaname,
    #spaform .Error_Tips_Therapist,
    #spaform .Error_Tips_Title,
    #spaform .Error_Tips_Captcha,
    #spaform .Error_Tips_Phone{
        margin: 0 0 0 0;
    }
    .PVM_Name_row {
        width: 100%;
    }
    .Name_row_FN {
        padding: 0;
        width: 100%;
        margin-bottom: 15px;
    }
    .Name_row_LN {
        padding: 0;
        width: 100%;
    }
    .PVM_Telephone_row {
        width: 100%;
        margin: 0;
    }
    #spaform02 .form-textarea {
        width: 100%;
    }
    .PVM_Captcha_row {
        width: 100%;
    }
    #spaform02 .Form_bottom {
        padding: 15px 0 0 0;
    }
    .Captcha_row {
        margin-left: 0;
        margin-right: 0;
    }
    .BOOKModal_step2 {
        padding:0 15px;
        width: 100%;
    }
    #BOOKModal .BOOKModal_step2_title {
        text-align: center;
        font-style: normal;
        font-weight: normal;
        font-size: 24px;
        line-height: 28px;
        color: #8B6E4A;
    }
    #BOOKModal .BOOKModal_step2_title img {
        margin: 0 auto 20px auto;
        display: block;
    }







    #exampleModal-now-hotel .modal-dialog {
        margin: 0;
        height: 100%;
    }
    #exampleModal-now-hotel .modal-content {
        height: 100%;
        border:none;
        border-radius: 0;
    }
    #exampleModal-now-hotel .modal-header {
        text-align: center;
    display: block;
    padding: 0;
    background: #fff;
    height: 71px;
    box-shadow: 0 -4px 17px -2px grey;
    }
    #exampleModal-now-hotel .modal-header .img2 {
        display: inline !important;
        height: 60px !important;
        margin:5px 0;
        transition: all 0.6s ease 0s;
        -webkit-transition: all 0.6s ease 0s;
        -moz-transition: all 0.6s ease 0s;
        -o-transition: all 0.6s ease 0s;
    }
    #exampleModal-now-hotel button.close {
        right: 25px;
        top: 27px;
        z-index: 1051;    
        color: #fff;
        opacity: 1;
        text-shadow: none;
        margin:0;
        padding: 0;
        font-size: 0;
        margin: 15px 15px 0 0;
    }
    #exampleModal-now-hotel .modal-body {
        padding: 15px 15px 0 15px;
        margin-top: 30px;
    }
    #exampleModal-now-hotel .Room_detail_section01_area label{
        width: 100%;
        margin: 0;
        color: #000;
        margin-bottom: 0;
        height: 42px;
        line-height: 42px;
        font-weight: 400;
        /* font-family: 'Gill-light'; */
    font-family: 'GillSans';
        font-size: 14px;
        padding-left: 15px;
    }
    #exampleModal-now-hotel .modal-content {
        height: 100%;
    }
    #exampleModal-now-hotel .FormControl_dropdownHotel {
        background: url(../images/icon15.png) no-repeat left 10px top 8px, url(../images/selecthotel.png) no-repeat right 10px center !important;
        background-size: auto, 20px !important;
    }
    #exampleModal-now-hotel .FormControl_dropdownHotel_icon {
        background: url(../images/icon15.png) no-repeat left 10px center, url(../images/selecthotel02.png) no-repeat right 10px center !important;
        background-size: auto, 20px !important;
    }
    #exampleModal-now-hotel .Numbercollapse_wrap .spinner {
        width: 100%;
        border: none;
    height: 42px;
    line-height: 42px;
    overflow: hidden;
    margin: 0;
    padding: 0;
    }
    #exampleModal-now-hotel .Numbercollapse_wrap a {
        width: 42px;
        height: 42px;
        line-height: 42px;
    }
    #exampleModal-now-hotel .Numbercollapse_wrap .spinner a:first-child {
        border-right: 0;
        background: url(../images/icon23.png) no-repeat center !important;
        float: left;
        background-size: 20px !important;
    }
    #exampleModal-now-hotel .Numbercollapse_wrap .spinner a:last-child {
        border-left: 0;
        background: url(../images/icon24.png) no-repeat center !important;
        float: right;
        background-size: 20px !important;
    }
    #exampleModal-now-hotel .Numbercollapse_wrap input {
        width: calc(100% - 80px);
        height: 42px;border: none;
        box-sizing: border-box;
        border-radius: 6px;
        background-color: transparent;
        font-family: 'GillSans';
        font-size: 14px;
        text-align: center;
        color: #000;
    }
    .Mobile_Booking_input{
        width: 100%;
        height: 42px;
        border: none;
box-sizing: border-box;
border-radius: 6px;
    }
    .FormControl_date_select_row {
        margin: 0;
    }
    .FormControl_date_select_data{
        padding:0;
        margin-bottom: 15px;
    }
    .calendar_selected {
        background: #8B6E4A !important;
        color: #fff !important;
    }
    .FormControl_date_select_Numbercollapse {
        margin: 20px 0;
        width: 100%;
        z-index: 1;
        top: 35px;
        border: 1px solid #000;
        border-radius: 6px;
    }
    .FormControl_date_select_Numbercollapse:before {
        top: -9px;
    border-right: 8px solid transparent;
    border-bottom: 8px solid #000;
    border-left: 8px solid transparent;
    position: absolute;
    display: inline-block;
    border-bottom-color: rgba(0, 0, 0, 1);
    content: '';
    }
    .FormControl_date_select_row_Number {
        margin: 0;
        display: block;
    }
    .FormControl_date_select_row_Number .Top_Booking_Room,.FormControl_date_select_row_Number .Top_Booking_Adult,.FormControl_date_select_row_Number .Top_Booking_Child{
        width: 100%;
    margin: 0 0 20px 0;
    padding: 0;
    height: 44px;
    }
    .FormControl_date_select_row_Number .Top_Booking_Room .Numbercollapse_wrap,.FormControl_date_select_row_Number .Top_Booking_Adult .Numbercollapse_wrap,.FormControl_date_select_row_Number .Top_Booking_Child .Numbercollapse_wrap{
        width: 100%;
    }
    .FormControl_date_select_Number{
        width: 100%;
        height: 100%;
        line-height: 40px;
        font-family: 'Gotham-Bold';
        padding-left: 15px;
        font-size: 14px;
        background-color: #fff;
        color: #000;
    }
    .FormControl_date_select_Number[aria-expanded="true"]{
        /* background: url(../images/iconnumber.png) no-repeat,url(../images/selecthotel02.png); */
        background: url(../images/selecthotel02.png);
    background-size: 20px;
    background-position: right 10px center;
    background-color: #fff;
    background-repeat: no-repeat;
    border: 1px solid #000;
    }
    .FormControl_date_select_Number[aria-expanded="false"]{
        /* background: url(../images/iconnumber.png) no-repeat,url(../images/selecthotel.png); */
        background: url(../images/selecthotel.png);
    background-size: 20px;
    background-position: right 10px center;
    background-color: #fff;
    background-repeat: no-repeat;
    border: 1px solid #000;
    }

    #exampleModal-now-hotel .FormControl_hotelname_select input {
        /* background: url(../images/icon15-mobile.png) no-repeat left 10px top 8px; */
        background-size: auto;
        background-color: #fff;
        padding-left: 15px;
        outline: none;
    }
    .FormControl_button a {
        float: left;
        color: #fff;
        font-family: 'GillSans';
        font-size: 16px;font-weight: 600;
        text-decoration: none;
        letter-spacing: 1px;
        width: 100%;
        height: 40px;
        line-height: 40px;
        text-align: center;
        background: #8B6E4A;
border-radius: 6px;
        text-transform: uppercase;
    }
    .Room_detail_section01_row_link{
        padding: 0;
        display: flex;
        justify-content: flex-end;
        margin: 10px 0;
    }
    .Room_detail_section01_row_link a{
        font-style: normal;
        font-weight: 400;
        font-family: 'Gill-liht';
        font-size: 14px;
        line-height: 16px;
        text-decoration-line: underline;
        color: #8D704C;
        /* font-family: 'Gill-light'; */
    font-family: 'GillSans';
    }
    .offerBooking{
        margin-bottom: 30px;
    }
    .offercollapseBookonmobile {
        background: #8B6E4A;
        border: 1px solid #8B6E4A;
        box-sizing: border-box;
        border-radius: 6px;
        width: 100%;
        font-weight: 800;
        font-family: 'GillSans';
    }
    .offercollapseBookonmobile[aria-expanded="false"]{
        color: #fff;
        font-weight: 800;
        font-family: 'GillSans';
    }
    .offercollapseBookonmobile[aria-expanded="false"] .closeB{
        display: none;
    }
    .offercollapseBookonmobile[aria-expanded="true"]{
        color: #fff;
        font-weight: 800;
        font-family: 'GillSans';
    }
    .offercollapseBookonmobile[aria-expanded="true"] .showB{
        display: none;
    }
    .offercollapseBookonmobile[aria-expanded="true"] img,.offercollapseBookonmobile[aria-expanded="false"] img{
        vertical-align: baseline;
        margin-left: 8px;
    }
    .Room_booking{
        box-shadow: none;
        border:1px solid #8B6E4A;
        margin-bottom: 0 !important;
        padding: 15px !important;
    }
    #collapseBookonmobile .Top_Booking .Top_Booking_row {
        display: block;
    }
    #collapseBookonmobile .Top_Booking .Top_Booking_calander {
        width: 100%;
        display: block;height: auto;
        border: none;
    }
    .Top_Booking_Room,.Top_Booking_Adult,.Top_Booking_Child{
        width: 100%;
        padding: 0;
        margin: 0 auto 15px auto;
        display: block;
    }
    #exampleModal-now-hotel .Top_Booking_Room, #exampleModal-now-hotel .Top_Booking_Adult, #exampleModal-now-hotel .Top_Booking_Child {
        width: calc(100% - 30px);
        height:44px;
        padding: 0;
        margin: 0 auto 20px auto;
        display: block;
        border: 1px solid #8B6E4A;
    }
    .Top_Booking_Btn {
        width: 100%;
    }
    #collapseBookonmobile .Top_Booking .Top_Booking_calander .Top_Booking_control {
        width: 100%;
    }
    #mobile_sub_datepicker_to,#mobile_sub_datepicker_from{
        height: 42px;
        border: 1px solid #8B6E4A;
        border-radius: 6px;
        background: #fff;
        margin-bottom: 15px;background: url(../images/icon15.png) no-repeat left 10px center;
        background-size: 20px;
        padding-left: 40px;
        font-size: 14px;
        color: #000;
    }
    #mobile_sub_datepicker_to_offer,#mobile_sub_datepicker_from_offer{
        height: 42px;
        border: 1px solid #8B6E4A;
        border-radius: 6px;
        background: #fff;
        margin-bottom: 15px;background: url(../images/icon15.png) no-repeat left 10px center;
        background-size: 20px;
        padding-left: 40px;
        font-size: 14px;
        color: #000;
    }
    .Top_Booking_Room .FormControl_label, .Top_Booking_Adult .FormControl_label, .Top_Booking_Child .FormControl_label{
        width: 70%;
        /* font-family: 'Gill-light'; */
        font-family: 'GillSans';
        margin: 0;
        color: #000;

        
    height: 42px;
    line-height: 42px;
    }
    #collapseTopBookingNumber2 .Top_Booking_Room .FormControl_label, #collapseTopBookingNumber2 .Top_Booking_Adult .FormControl_label, #collapseTopBookingNumber2 .Top_Booking_Child .FormControl_label {
        margin: 10px 0;
    }
    #collapseTopBookingNumber3 .Top_Booking_Room .FormControl_label, #collapseTopBookingNumber3 .Top_Booking_Adult .FormControl_label, #collapseTopBookingNumber3 .Top_Booking_Child .FormControl_label {
        margin: 10px 0;
    }
    .Top_Booking_Room .spinner, .Top_Booking_Adult .spinner, .Top_Booking_Child .spinner {
        width: 50%;
    }
    .Top_Booking_Room .spinner a:first-child, .Top_Booking_Adult .spinner a:first-child, .Top_Booking_Child .spinner a:first-child {
        background: #8B6E4A url(../images/icon9-1.png) no-repeat;
        background-position: center center;
        cursor: pointer;
    }
    .Top_Booking_Room .spinner a:last-child, .Top_Booking_Adult .spinner a:last-child, .Top_Booking_Child .spinner a:last-child {
        background: #8B6E4A url(../images/icon10-1.png) no-repeat;
        background-position: center center;
        cursor: pointer;
    }
    .BookForm_wrap_Tips {
        width: 100%;
        padding: 0 15px 15px 15px;
    }

    .BookForm05_Book_info_left {
        width: 55%;
    }
    .BookForm05_Book_info_right {
        width: 45%;
    }
    .pcmobile_copyright{
        display: block;
    }
    .tablet_copyright{
        display: none;
    }
    .Room_detail_section01_arrow {
        width: 0;
        height: 0;
        border-left: 8px solid transparent;
        border-right: 8px solid transparent;
        border-bottom: 8px solid #8B6E4A;
        /* position: absolute; */
        left: 0;
        right: 0;
        /* top: -15px; */
        /* bottom: 0; */
        margin: 10px auto 0 auto;
        position: relative;
    }
    .Room_detail_section01_arrow::after{
        content: '';
        position: absolute;
        width: 0;
        height: 0;
        border-left: 8px solid transparent;
        border-right: 8px solid transparent;
        border-bottom: 8px solid #fff;
        /* position: absolute; */
        left: -8px;
        right: 0;
        top: -8px;
        bottom: 0;
        margin: 9px auto 0 auto;
    }
    .BookForm04_detail p{
        font-family: 'GillSans';
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 21px;
        text-align: center;
    }

    .PVM_index_Carousel_detail p{
        font-size: 14px;
    }
    #BOOKModal .modal-dialog .modal-content {
        border-radius: 0;
        height: auto;
    }
    .Room_content_info_more a{
        font-family: 'GillSans';
        background: url(../images/chevrons-right.png) no-repeat right 10px center;
    }
    .Mobile_Totop div{
        text-align: center;
    }
    .diningDatastep1 .calendar-table th {
        line-height: 17px;
        font-size: 14px;
    }
    .daterangepicker .calendar-table td {
        height: 26px;
        line-height: 26px;
    }
    .modal-header-banner-forweb{
        display: none;
    }
    .modal-header-banner-fortablet{
        display: none;
    }
    .modal-header-banner-formobile{
        display: block;
    }
    
    #BOOKModal .modal-dialog .modal-footer a {
        width: calc(50% - 20px);
        margin: 0 10px;
    }
    #BOOKModal_step1 .modal-body .BookForm:nth-child(1), #BOOKModal_step1 .modal-body .BookForm:nth-child(2) {
        width: 100%;
        margin: 0 auto;
        padding: 0 15px;
    }
    .BookForm {
        padding: 0 15px;
    }


    .Top_Booking_Number {
        margin: 0;
        width: 100%;
    }
    .Top_Booking_Btn #go_booking_offer, .Top_Booking_Btn #go_booking_room, .Top_Booking_Btn #go_booking_home{
        width: 100%;
        margin-top:15px;
    }
    #BOOKModal_step2 .modal-body {
        margin-top: 0px !important;
    }
    .Mobile_promotion{
        width: calc(100% - 30px);
        height: 44px;
        padding: 0;
        margin: 0 auto 20px auto;
        display: block;
    }
    .Top_Booking_PromotionCode {
        width: 100%;
        margin-top: 15px;
        margin-bottom: 15px;
    }
    .Room_list_info04 .room_list_info04_row img{
        margin-bottom: 15px;
        width: 100%;
    }
    /* .defaultlogo, .scrolllogo {
        position: relative;
        width: auto;
        margin-left:0;
    }
    .defaultlogo{
        display: inline-block;
    } */
    .smallscreenlogo{
        display: none;
    }

    .New_Room_list_info04_01{
        width: 100%;
        display: inline-block;
        vertical-align: top;
    }
    .New_Room_list_info04_02{
        width: 100%;
        margin-left: 0;
        display: inline-block;
        vertical-align: top;
    }
    #collapseBookonmobile .Top_Booking .Top_Booking_calander .Top_Booking_control:nth-child(1),#collapseBookonmobile .Top_Booking .Top_Booking_calander .Top_Booking_control:nth-child(2){
        width: 100%;
    }
    #collapseBookonmobile .Top_Booking_Btn {
        width: 100%;
    }
    .Offers_tablist {
        padding: 0;
    }
    .Offers_tablist #portfoliolist {
        margin: 0;
    }
    .Offers_tablist #filters{
        margin-bottom: 30px;
    }
    .Offers_tablist #portfoliolist .portfolio .portfolio-wrapper:hover {
        box-shadow: none;
    }
    #collapseTopBookingNumber, #collapseTopBookingNumber1, #collapseTopBookingNumber2, #collapseTopBookingNumber3{
        width: 100%;
    }


    .Offers_tablist_dropdown{
        margin-bottom: 20px;
        border-bottom: 1px solid #8d704c;
        width: 100%;
    }
    .Offers_tablist_dropdown a[aria-expanded="false"]{
        background: transparent url(../images/select01.png) no-repeat;
        background-position: right 5px center;
        -webkit-appearance: none;
        width: 100%;
        display: block;
    }
    .Offers_tablist_dropdown a[aria-expanded="true"]{
        background: transparent url(../images/select02.png) no-repeat;
        background-position: right 5px center;
        -webkit-appearance: none;
        width: 100%;
        display: block;
    }
    .Offers_tablist_dropdown a span {
        display: inline-block;
        margin: 0 !important;
        padding: 0px 30px;
        font-size: 14px;
        cursor: pointer;
        border-right: none;
        font-family: 'GillSans';
        width: auto !important;
        border-top-left-radius: 6px;
        border-top-right-radius: 6px;
        background-color: #8d704c;
        color: #fff !important;
        height: 35px;
        line-height: 35px;
        text-transform: uppercase;
    }
    .Offers_tablist_dropdown .dropdown-menu{
        width: calc(100% - 30px);
        margin: 0;
        padding: 0;
        box-shadow: 0px 4px 8px 0px rgb(0 0 0 / 20%);
        border: none;
        margin-top: 5px;
    }
    .Offers_tablist_dropdown .dropdown-menu ul{
        margin-bottom: 0 !important;
    }
    .Offers_tablist_dropdown .dropdown-menu ul li{
        text-align: center;
        font-size: 14px;
        font-family: 'GillSans';
        font-weight: normal;
        color: #000000;
        line-height: 17px;
        padding: 14px 0;
        width: 100%;
        margin: 0;
        display: inline-block;
        border-right: none !important;
        border-bottom: 1px solid #8d704c;
        padding-right: 0 !important;
        width: calc(100% - 30px);
        margin: 0 15px !important;
    }
    .Offers_tablist_dropdown .dropdown-menu ul li:last-child{
        border-bottom: none;
    }
    .Offers_tablist_dropdown .dropdown-menu ul li span.active {
        border-bottom: none !important;
        font-family: 'GillSans';
        pointer-events: none;
        transition: all 0.5s ease;
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
    }
    .Offers_tablist_dropdown .dropdown-menu ul li img{
        width: 15px;
        vertical-align: middle;
        margin-left: 5px;
        margin-top: 3px;
        display: none;
        position: absolute;
        height: 10px;
    }
    .Offers_tablist_dropdown .dropdown-menu ul li span.active img{
        display: inline-block;
    }
    .Offers_tablist_dropdown a span img {
        display: none;
    }

    .forweb_filters{
        display: none;
    }
    .formobile_filters{
        display: block;
    }
    .Offers_list  #portfoliolist{
        margin:0;
    }
    .Offers_list {
        display: block;
        width: 100%;
        margin: 0;
    }

    .Offers_list #portfoliolist .portfolio .portfolio-wrapper:hover {
        box-shadow: none;
    }
    
    .PVM_Top_Nav {
        border-top: none;
    }
    
    .Offerlist_more:after {
        background: none;
      }
      .About_forweb{
        display: none;
    }
    .About_formobile{
        display: block;
    }
}