
.new-mobile-calendar {
	display: none;
	position: fixed;
	width: 100%;
	/* z-index: 999999999;
	top: 0; */
	overflow: auto;
	height: 100%;
	background: #fff;
}
.headerWrapper{
	background: #fff;
}
.headerWrapper .headerWrapper_div{
	
    box-shadow: 0 -4px 17px -2px grey;
}
.firstSelect {
	width: 100%;
	background: #fff;
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	overflow: scroll;
	display: none;
}

body td {
	text-align: center;
	height: 40px;
}

.dateZone {
	width: 100%;
	margin: auto;
	background: #ffffff;
	color: #666;
	margin-top: 71px;
	position: fixed;
	z-index: 9999;
	display: none;
}

.dateZone td {
	background: #8B6E4A;
    height: 35px;
    color: #fff;
    line-height: 35px;
    border: 1px solid #fff;
    border-bottom: 0;
}

.tbody {
	margin-top:116px;
}

.tbody td {
	background: #fff;
	color: #000;
}
.calendar_disabled{
	color: #ccc !important;
}

.dateZone td {
	width: 14.2%;
	font-size: 14px;
}
.New_dateweek{
	width: 100%;
	margin: auto;
	background: #ffffff;
	color: #666;
	z-index: 9999;
}
.New_dateweek td{
    height: 35px;
    color: #000;
    line-height: 35px;
    border: 1px solid #fff;
    border-bottom: 0;
	width: 14.2%;
	font-size: 16px;
    font-weight: 600;
}
.dateTable {
	width: 100%;
	margin: auto;
	border-bottom: 1px solid #fff;
}

.tbody .ny1 {
	width: 100%;
	text-align: center;
	padding: 5px 0;
	color: #fff;
	background-color: #7D6241;
	font-size: 16px;
	line-height:35px;
    font-family: 'GillSans';
    margin-bottom: 0;
    font-weight: 600;
}

.dateTable td {
	width: 14.2%;
	font-size: 14px;
    /* font-family: 'Gill-light'; */
    font-family: 'GillSans';
}

.dateTable .rz {
	font-size: 12px;
	display: none;
}

.datTip {
	background: rgba(0,153,255,0.8);
	width: 40%;
	position: fixed;
	bottom: 2px;
	left: 30%;
}

.datTip p {
	width: 100%;
	margin: auto;
	text-align: center;
	color: #fff;
	padding: 3px 0;
	font-size: 14px;
}

.rz {
	position: relative;
	/* display: none; */
}
/*.hover{
	font-size:14px;
	display:inline-block;
	width:60%;
	background:#FF3;
	display: none; 
	color:red;
	text-align:center;
	border-radius:5px;
	}
*/
.in-item .active {
	border: 2px #2f6c70 solid;
}

.hidden {
	display: none;
}

.Date_lr {
	width: 50%;
	text-align: center;
}

.span21 {
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%,-50%);
	transform: translate(-50%,-50%);
	font-size: 14px;
	color: #666;
	border: 1px solid #e5e5e5;
	padding: 2px 8px;
	line-height: 20px;
	border-radius: .2rem;
	background-color: #fff;
}

#checkinout {
	height: 50px;
	line-height: 50px;
	position: relative;
	margin: 10px;
	padding: 2px 0;
	display: -webkit-box;
	display: flex;
	border: 1px solid #e5e5e5;
	border-radius: .02rem;
	background-color: #fff;
}

#firstSelect p {
	line-height: 25px;
	color: #999;
	font-size: 12px;
}

#startDate {
	border: 0;
	left: 0;
	margin: 0 auto;
	width: 100%;
	font-size: 14px;
	text-align: left;
	color: #000;
    /* font-family: 'Gill-light'; */
    font-family: 'GillSans';
	width: 100%;
    height: 44px;
    border: 1px solid #8B6E4A;
box-sizing: border-box;
border-radius: 6px;font-weight: 400;
	/* background: url(../images/icon17-mobile.png) no-repeat left 10px top 8px, url(../images/selecthotel.png) no-repeat right 10px center; */
	background:  url(../images/icon15.png) no-repeat left 10px center;
        background-size: 20px;
        background-color: #fff;
        padding-left: 40px;
}

#endDate {
	border: 0;
	left: 0;
	margin: auto 0;
	width: 100%;
	font-size: 14px;
	text-align: left;
	color: #000;
    /* font-family: 'Gill-light'; */
    font-family: 'GillSans';
	width: 100%;
    height: 44px;
    border: 1px solid #8B6E4A;
box-sizing: border-box;
border-radius: 6px;font-weight: 400;
    /* background: url(../images/icon17-mobile.png) no-repeat left 10px top 8px, url(../images/selecthotel.png) no-repeat right 10px center; */
    background: url(../images/icon15.png) no-repeat left 10px center;
        background-size: 20px;
        background-color: #fff;
        padding-left: 40px;
}

.mask_calendar {
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
			/*background: rgba(0,0,0,.4);*/
	display: none;
	z-index: 9999;
}

.calendar {
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
}

.animated {
	animation-duration: 1s;
	animation-fill-mode: both;
}

@keyframes slideInDown {
	from {
		transform: translate3d(0, -100%, 0);
		visibility: visible;
	}

	to {
		transform: translate3d(0, 0, 0);
	}
}

.slideInDown {
	animation-name: slideInDown;
}
/* section{
	margin:10px;
	padding:5px;
	} */
@media only screen and (min-width:400px) {
	body td {
		text-align: center;
		height: 47px;
	}
}

@media only screen and (max-width:320px) {
	body {
		font-size: 14px;
	}

	.dateTable .rz {
		font-size: 12px;
		display: none;
	}

	.datTip p {
		font-size: 12px;
	}

	.hover {
		font-size: 12px;
	}

	body td {
		text-align: center;
		height: 35px;
	}
}
