@media screen and (min-width:768px) and (max-width:1199px) {
    .container {
        width: 100%;
        padding: 0 30px;
    }
    .forweb{
        display: none;
    }
    .formobile{
        display: block;
    }
    .PVM_Header_right .dropdown{
        display: none;
    }
    .PVM_Header_right .Header_right_book{
        display: none;
    }
    .PVM_Header_right {
        position: unset;
    }
    .PVM_Header_right .Tablet_booking{
        display: block;
        background: #8B6E4A;
        border-radius: 6px;
        color: #fff;
        width: 164px;
        text-align: center;
        height: 40px;
        line-height: 40px;
        font-family: 'GillSans';
        font-weight: 800;
        text-decoration: none;
        position: absolute;
        right: 30px;
        top: 20px;
    }
    .PVM_Header_right .Tablet_booking a{
        
        font-family: 'GillSans';
        font-weight: 800;
    }
    .PVM_Top {
        height: 87px;
    }
    .PVM_Header_logo {
        text-align: center;
        margin: 8px 0;
        height:auto;
    }
    .PVM_Header_logo img {
        width: auto;
        height: 70px;
    }
    .PVM_Header_Menu{
        display: none;
    }
    .PVM_Booking_body, .PVM_Booking{
        display: none;
    }
    #sidebar-main[data-sidebar-main="closed"]{
        display: block;
        padding-top: 60px;
    }
    #sidebar-main[data-sidebar-main="opened"]{
        display: block;
    }
    #sidebar-main-trigger {
        position: absolute;
        display: block;
        width: 24px;
        height: 24px;
        margin: 23px 0 0 0;
    }
    #sidebar-main-trigger span {
        width: 100%;
        height: 2px;
        background-color: #8B6E4A;
        float: left;
        margin: 3px 0;
    }
    #sidebar-main[data-sidebar-main="opened"]{
        width: 375px !important;
    }
    .sidebar {
        background: #fff url(../images/ipadmenubg.png) no-repeat;
        background-size: cover;
    }
    .sidebar .Mobile_booking {
        display: none;
    }
    .sidebar .Mobile_booking a {
        font-size: 18px;
        font-family: 'GillSans';
        font-weight: bold;
        color: #8B6E4A;
        text-decoration: none; 
        border-bottom: 1px solid #8B6E4A;
    }
    .sidebar .Mobile_menu {
        margin: 20px 0;
    }
    .sidebar .Mobile_menu ul{
        padding-left: 20px;
    }
    .sidebar .Mobile_menu ul li {
        text-align: left;
        text-transform: uppercase;
        list-style-type: none;
        margin: 20px 0;
    }
    .sidebar .Mobile_menu ul li a {
        font-size: 16px;
        /* font-family: 'Gill-light'; */
    font-family: 'GillSans';
        font-weight: bold;
        color: #8B6E4A;
        text-decoration: none;
        font-weight: 400;
        font-size: 18px;
    }
    .sidebar .sidebar_close{
        padding: 0;
    margin: 20px;
    text-align: right;
    }
    .Mobile_lang {
        padding: 0 20px;
        position: absolute;
        bottom: 60px;
        width: 100%;
        display: flex;
    }
    .Mobile_lang a {
        color: #8B6E4A;
        padding-left: 20px;
        padding-right: 20px;
        border-right: 1px solid #8B6E4A;

        font-weight: 400;
        font-size: 18px;
        line-height: 20px;
    }
    .Mobile_lang a:nth-child(4){
        padding-left: 0;
    }
    .Mobile_lang a:nth-child(6){
        border-right:none;
    }
    .PVM_Banner {
        top: 0;
        padding-top: 71px;
    }
    .index_content_container {
        margin-top: 0;
        top: 0;
    }
    .Footer_container{
        top: 0;
        padding: 40px 30px 30px 30px;
    }
    .PVM_index_Carousel {
        padding: 40px 0 0 0;
    }
    .Common_title span {
        padding-top: 30px;
        font-size: 24px;
        line-height: 28px;
    }
    #exampleModal-now-hotel {
        height: auto;
    }
    #exampleModal-now-hotel .modal-dialog {
        margin: 0;
        height: 100%;
    }
    #exampleModal-now-hotel .modal-content {
        height: 100%;
    }
    #exampleModal-now-hotel .modal-header {
        text-align: center;
    display: block;
    padding: 0;
    background: #fff;
    height: 87px;box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05);
    }
    #exampleModal-now-hotel .modal-header .img2 {
        display: inline !important;
        height: 70px !important;
        margin:8px 0;
        transition: all 0.6s ease 0s;
        -webkit-transition: all 0.6s ease 0s;
        -moz-transition: all 0.6s ease 0s;
        -o-transition: all 0.6s ease 0s;
    }
    #exampleModal-now-hotel button.close {
        right: 25px;
        top: 27px;
        z-index: 1051;    
        color: #fff;
        opacity: 1;
        text-shadow: none;
        margin:0;
        padding: 0;
        font-size: 0;
        margin: 15px 15px 0 0;
    }
    
    #exampleModal-now-hotel .modal-body {
        padding: 20px 20px 20px 20px;
        margin-top: 30px;
    }
    #exampleModal-now-hotel .Room_detail_section01_area label{
        width: 100%;
        margin: 0;
        color: #000;
        margin-bottom: 0;
        height: 42px;
        line-height: 42px;
        font-weight: 400;
        /* font-family: 'Gill-light'; */
    font-family: 'GillSans';
        font-size: 14px;
        padding-left: 15px;
    }
    #exampleModal-now-hotel .modal-content {
        height: 100%;
    }
    #exampleModal-now-hotel .FormControl_dropdownHotel {
        background: url(../images/icon15.png) no-repeat left 10px top 8px, url(../images/selecthotel.png) no-repeat right 10px center !important;
        background-size: auto, 20px !important;
    }
    #exampleModal-now-hotel .FormControl_dropdownHotel_icon {
        background: url(../images/icon15.png) no-repeat left 10px center, url(../images/selecthotel02.png) no-repeat right 10px center !important;
        background-size: auto, 20px !important;
    }
    #exampleModal-now-hotel .Numbercollapse_wrap .spinner {
        width: 100%;
        border: none;
    height: 44px;
    line-height: 44px;
    overflow: hidden;
    margin: 0;
    padding: 0;
    }
    #exampleModal-now-hotel .Numbercollapse_wrap a {
        width: 42px;
        height: 42px;
        line-height: 42px;
    }
    #exampleModal-now-hotel .Numbercollapse_wrap .spinner a:first-child {
        border-right: 0;
        background: url(../images/icon23.png) no-repeat center !important;
        float: left;
        background-size: 20px !important;
    }
    #exampleModal-now-hotel .Numbercollapse_wrap .spinner a:last-child {
        border-left: 0;
        background: url(../images/icon24.png) no-repeat center !important;
        float: right;
        background-size: 20px !important;
    }
    #exampleModal-now-hotel .Numbercollapse_wrap input {
        width: calc(100% - 80px);
        height: 42px;border: none;
        box-sizing: border-box;
        border-radius: 6px;
        background-color: transparent;font-weight: 400;
        font-family: 'GillSans';
        font-size: 14px;
        text-align: center;
        color: #000;
    }
    .Mobile_Booking_input{
        width: 100%;
        height: 42px;
        border: none;
box-sizing: border-box;
border-radius: 6px;
    }
    .FormControl_date_select_row {
        margin: 0;
    }
    .FormControl_date_select_data{
        padding:0;
        margin-bottom: 20px;
    }
    .calendar_selected {
        background: #8B6E4A !important;
        color: #fff !important;
    }
    .FormControl_date_select_Numbercollapse {
        margin: 20px 0;
        width: 100%;
        z-index: 1;
        top: 35px;
        border: 1px solid #000;
        border-radius: 6px;
    }
    .FormControl_date_select_Numbercollapse:before {
        top: -9px;
    border-right: 8px solid transparent;
    border-bottom: 8px solid #000;
    border-left: 8px solid transparent;
    position: absolute;
    display: inline-block;
    border-bottom-color: rgba(0, 0, 0, 1);
    content: '';
    }
    .FormControl_date_select_row_Number {
        margin: 0;
        display: block;
    }
    .FormControl_date_select_row_Number .Top_Booking_Room,.FormControl_date_select_row_Number .Top_Booking_Adult,.FormControl_date_select_row_Number .Top_Booking_Child{
        width: 100%;
    margin: 0 0 20px 0;
    padding: 0;
    height: 44px;
    }
    .FormControl_date_select_row_Number .Top_Booking_Room .Numbercollapse_wrap,.FormControl_date_select_row_Number .Top_Booking_Adult .Numbercollapse_wrap,.FormControl_date_select_row_Number .Top_Booking_Child .Numbercollapse_wrap{
        width: 100%;
    }
    .FormControl_date_select_Number{
        width: 100%;
        height: 100%;
        line-height: 40px;
        font-family: 'Gotham-Bold';
        padding-left: 15px;
        font-size: 14px;
        background-color: #fff;
        color: #000;
    }
    .FormControl_date_select_Number[aria-expanded="true"]{
        /* background: url(../images/iconnumber.png) no-repeat,url(../images/selecthotel02.png); */
        background: url(../images/selecthotel02.png);
    background-size: 20px;
    background-position: right 10px center;
    background-color: #fff;
    background-repeat: no-repeat;
    border: 1px solid #000;
    }
    .FormControl_date_select_Number[aria-expanded="false"]{
        /* background: url(../images/iconnumber.png) no-repeat,url(../images/selecthotel.png); */
        background: url(../images/selecthotel.png);
    background-size: 20px;
    background-position: right 10px center;
    background-color: #fff;
    background-repeat: no-repeat;
    border: 1px solid #000;
    }

    #exampleModal-now-hotel .FormControl_hotelname_select input {
        /* background: url(../images/icon15-mobile.png) no-repeat left 10px top 8px; */
        background-size: auto;
        background-color: #fff;
        padding-left: 15px;
        outline: none;
    }
    .Room_detail_section01_row_link{
        padding: 0;
        display: flex;
        justify-content: flex-end;
        margin: 10px 0;
    }
    .Room_detail_section01_row_link a{
        font-style: normal;
        font-weight: 400;
        font-family: 'GillSans';
        font-size: 14px;
        line-height: 16px;
        text-decoration-line: underline;
        color: #8D704C;
        
    margin-left: 15px;
    }
    #mobile_booking{
        display: flex;
    width: calc(50% - 10px) !important;
    border: 1px solid #8B6E4A;
    border-radius: 6px;
    height: 46px;
    margin-left:5px;
    margin-right: 5px;
    }
    #exampleModal-now-hotel .Top_Booking_Room, #exampleModal-now-hotel .Top_Booking_Adult, #exampleModal-now-hotel .Top_Booking_Child {
        width: calc(50% - 10px);
        margin-left: 5px;
        margin-right: 5px;    border: 1px solid #8B6E4A;
    }
    #mobile_booking #startDate{
        border:none;
        height:22px;
        margin:10px 0;
        background: url(../images/icon15.png) no-repeat left 10px center;
        border-right: 1px solid #8B6E4A;
        border-radius: 0;
        background-size: 20px;
    }
    #mobile_booking #endDate{
        border:none;
        height:22px;
        margin:10px 0;
        background: none;
    }
    #mobile_booking .FormControl_date_select_data {
        padding: 0;
        margin-bottom: 0;
    }
    #mobile_booking .Room_detail_section01_area:nth-child(1){
        flex: 0 0 calc(50% + 18px);
    max-width: calc(50% + 18px);
    padding: 0;
    }
    #mobile_booking .Room_detail_section01_area:nth-child(2){
        flex: 0 0 calc(50% - 18px);
    max-width: calc(50% - 18px);
    padding: 0;
    }
    .FormControl_button a {
        float: left;
        color: #fff;
        font-family: 'GillSans';
        font-size: 16px;
        font-weight: 600;
        text-decoration: none;
        letter-spacing: 2px;
        width: 100%;
        height: 40px;
        line-height: 40px;
        text-align: center;
        background: #8B6E4A;
        border-radius: 6px;
        text-transform: uppercase;
    }
    .PVM_Copyright{
        display: block;
        padding-left:0;
        padding-right:0;
    }
    .PVM_Copyright .link{
        width: 60%;
        display: inline-block;
    }
    .PVM_Copyright .icon{
        width: 39%;
        display: inline-block;
    }
    .pcmobile_copyright{
        display: none;
    }
    .tablet_copyright{
        display: block;
        width: 100%;
        text-align: center;
    }
    .PVM_Copyright .formobile{
        display: none;
    }
    .PVM_Copyright .forweb{
        display: inline-block;
        text-align: right;
    }
    .Mobile_Totop {
        display: block;
        font-family: 'GillSans';
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 16px;
        text-align: center;
        color: #8B6E4A;
        margin: 0 auto 30px auto;
        width: 100px;
    }
    .Mobile_Totop img{
        display: block;
        margin: 0 auto 10px auto;
        width: 18px;
    }
    .Mobile_Totop span{
        display: block;
    }
    .PVM_content {
        top: 0;
        padding-top: 81px;
    }
    .BreadNav{
        display: none;
    }
    .Offers_list{
        margin:0 10px;
    }
    .Offers_list .col-md-6 article{
        border: 1px solid rgba(139, 110, 74, 0.05);
    }
    .Offers_list .col-md-6:nth-child(odd) {
        padding-left: 5px;
    padding-right: 5px;
    margin-top: 30px;
    }
    .Offers_list .col-md-6:nth-child(even) {
        padding-left: 5px;
        padding-right: 5px;
        margin-top: 30px;
    }
    .Offerlist_more {
        width: 100%;
        text-align: right;
        float: unset;
        margin: 15px 0 0 0;
    }
    .Inner_banner_special {
        padding-top: 0;
    }
    .offerBooking{
        margin-bottom: 30px;
    }
    .offercollapseBookonmobile {
        background: #8B6E4A;
        border: 1px solid #8B6E4A;
        box-sizing: border-box;
        border-radius: 6px;
        width: 100%;
        font-weight: 800;
        font-family: 'GillSans';
        color: #fff;
    }
    .offercollapseBookonmobile:active,.offercollapseBookonmobile:hover{
        
        color: #fff;
        font-family: 'GillSans';
        font-size: 16px;
    }
    .offercollapseBookonmobile[aria-expanded="false"]{
        width: 200px;
    }
    .offercollapseBookonmobile[aria-expanded="false"] .closeB{
        display: none;
    }
    .offercollapseBookonmobile[aria-expanded="true"]{
        width: 200px;

    }
    .offercollapseBookonmobile[aria-expanded="true"] .showB{
        display: none;
    }
    .offercollapseBookonmobile[aria-expanded="true"] img,.offercollapseBookonmobile[aria-expanded="false"] img{
        vertical-align: baseline;
        margin-left: 8px;
    }
    .Room_booking{
        box-shadow: none;
        border:1px solid #8B6E4A;
        margin-bottom: 0 !important;
        padding: 15px 15px !important;
    }
    #collapseBookonmobile .Top_Booking .Top_Booking_row {
        display: flex;
    }
    #collapseBookonmobile .Top_Booking .Top_Booking_calander {
        width: 100%;
        display: block;height: auto;
        border: none;
    }
    .Top_Booking_Room,.Top_Booking_Adult,.Top_Booking_Child{
        width: 100%;
        padding: 0;
        margin: 0 0 15px 0;
        margin-left: 5px;
        margin-right: 5px;
        display: block;
    }
    .Top_Booking_Btn {
        width: 150px;
    }
    #collapseBookonmobile .Top_Booking .Top_Booking_calander .Top_Booking_control {
        width: 100%;
    }
    #mobile_sub_datepicker_to,#mobile_sub_datepicker_from{
        height: 42px;
        border: 1px solid #8B6E4A;
        border-radius: 6px;
        background: #fff;
        margin-bottom: 15px;background: url(../images/icon15.png) no-repeat left 10px center;
        background-size: 20px;
    }
   #mobile_sub_datepicker_from_offer{
        height: 22px;
        border: none;
        border-radius: 6px;
        background: #fff;
        background: url(../images/icon15.png) no-repeat left 10px center;
        background-size: 20px;
        padding-left: 40px;
        border-right: 1px solid #8B6E4A;
        margin:10px 0;
        border-radius: 0;
        color: #000;
    }
    #mobile_sub_datepicker_to_offer{
        border: none;
        border-radius: 6px;
        background: #fff;
        margin-bottom: 15px;
        
        margin:10px 0 10px 0;
        background-size: 20px;
        height: 22px;
        border-radius: 0;
        color: #000;
        padding: .375rem 0 .375rem 10px;
    }
    .Top_Booking_Room .FormControl_label, .Top_Booking_Adult .FormControl_label, .Top_Booking_Child .FormControl_label{
        width: 40%;
        margin: 0;
        /* font-family: 'Gill-light'; */
    font-family: 'GillSans';
        color: #000;
    }
    .Top_Booking_Number .FormControl_label{
        margin:10px 0;
    }
    .Top_Booking_Room .spinner, .Top_Booking_Adult .spinner, .Top_Booking_Child .spinner {
        width: 60%;
    }
    .Top_Booking_Room .spinner a:first-child, .Top_Booking_Adult .spinner a:first-child, .Top_Booking_Child .spinner a:first-child {
        cursor: pointer;
        background-size: 14px;

        background: #8B6E4A url(../images/icon9-1.png) no-repeat;
        background-position: center center;
        cursor: pointer;
        border-top-left-radius: 25px;
        border-bottom-left-radius: 25px;
    }
    .Top_Booking_Room .spinner a:last-child, .Top_Booking_Adult .spinner a:last-child, .Top_Booking_Child .spinner a:last-child {
        cursor: pointer;
        background-size: 14px;

        background: #8B6E4A url(../images/icon10-1.png) no-repeat;
        background-position: center center;
        cursor: pointer;
        border-top-right-radius: 25px;
        border-bottom-right-radius: 25px;
    }
    .BookForm_wrap_Tips {
        width: 100%;
        padding: 0 15px 15px 15px;
    }

    .BookForm05_Book_info_left {
        width: 45%;
    }
    .BookForm05_Book_info_right {
        width: 55%;
    }
    .Room_content_img {
        width: 50%;
    }
    .Room_content_img img{
        width: 100%;
    }
    .Room_content_info {
        width: 50%;
    }
    .Room_content_rightinfo {
        padding-left: 30px;
    }
    .Room_content_lefthtinfo {
        padding-right: 30px;
    }
    .Room_wrap .formobile{
        display: none;
    }
    .Room_wrap .forweb{
        display: block;
    }
    .Room_detail_section01_arrow {
        width: 0;
        height: 0;
        border-left: 8px solid transparent;
        border-right: 8px solid transparent;
        border-bottom: 8px solid #8B6E4A;
        /* position: absolute; */
        left: 40px;
        right: 0;
        /* top: -15px; */
        /* bottom: 0; */
        margin: 10px 0 0 0;
        position: relative;
    }
    .Room_detail_section01_arrow::after{
        content: '';
        position: absolute;
        width: 0;
        height: 0;
        border-left: 8px solid transparent;
        border-right: 8px solid transparent;
        border-bottom: 8px solid #fff;
        /* position: absolute; */
        left: -8px;
        right: 0;
        top: -7px;
        bottom: 0;
        margin: 9px auto 0 auto;
    }
    .Room_wrap {
        margin-top: 30px;
    }
    .spaform_new_row{
        margin: 0 auto;
        max-width: 706px;
    }
    .spaDatastep1 {
        max-width: 323px;
    }
    #BOOKTABLEModal .modal-dialog {
        padding: 0 30px;
    }
    .collapseReservation {
        width: 100%;
        
        margin: 0 auto;
        max-width: 706px;
    }   
    #BOOKTABLEModal label {
        width: 100%;
        padding-left: 0;
        padding-right: 15px;
    }
    .Dining_right_form {
        width: 100%;
    }
    .Form_bottom .form-check {
        width: 100%;
        margin: 0 auto;
    }
    .Form_bottom {
        padding: 15px 15px 0 15px;
        margin: 0 auto;
        max-width: 706px;
    }

    .BOOKModal_step2 {
        margin: 0 auto;
        max-width: 706px;
    }
    input[type="checkbox"]+.label::before {
        left: -20px;
    }
    input[type="checkbox"]+.label svg {
        left: -20px;
    }
    .Error_Tips_00, .Error_Tips0, .Error_Tips1, .Error_Tips2, .Error_Tips3, .Error_Tips4, .Error_Tips5, .Error_Tips_spatype, .Error_Tips_spaname, .Error_Tips_Therapist, .Error_Tips_Title, .Error_Tips_Captcha, .Error_Tips_Phone, .Error_Tips6 {
        margin: 0;
    }
    .BookForm05_Book_info {
        max-width: 100%;
    }

    #spaform {
        width: 100%;
        margin: 0 auto;
    }
    #BOOKModal .modal-dialog {
        padding: 0 30px;
    }
    #spaform label, #restaurantform label, #spaform02 label {
        width: 100%;
        text-align: left;
        padding-left: 0;
        padding-right: 0;
    }
    #spaform .form-input, #restaurantform .form-input, #spaform02 .form-input {
        width: 100%;
    }
    .diy_select {
        width: 100%;
    }
    #BOOKModal .spinner {
        width: 100%;
    }
    .PVM_Telephone_row {
        width: 100%;
    }
    #spaform02 .form-textarea {
        width: 100%;
    }
    .PVM_Captcha_row {
        width: 100%;
    }
    .PVM_Name_row {
        width: 100%;
    }
    .fortabletandmobile {
        display: block;
    }
    .Route_wrap_thead {
        display: none;
    }
    .Route_wrap_thead_td {
        padding: 10px 15px;
        min-width: 100%;
    }
    .Route_wrap_tbody_tr .Route_wrap_thead_td:first-child {
        background-color: #bc9b6a !important;
        color: #fff;
        font-family: 'GillSans';
    }
    .Route_wrap_tbody_tr .Route_wrap_thead_th {
        background: rgba(0, 0, 0, 0.1);
    }
    .Route_wrap_tbody_tr .Route_wrap_thead_td {
        background: #fff;
    }
    .Route_wrap_tbody_tr .Route_wrap_thead_td:nth-child(even){
        background-color: #fff;
    }
    .Route_wrap_tbody_tr .Route_wrap_thead_td:nth-child(odd){
        background-color: #F0F0F0;
    }
    .About_section .About_section_info p img {
        margin: 30px 0;
        width: 100%;
    }
    .Offers_list_info {
        width:100% !important;
    }
    .Site_map_wap {
        width: 100%;
    }
    .Site_map_wap .col-md-4 {
        padding: 30px 15px;
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
    }

    #collapseBookonmobile .Top_Booking .Top_Booking_calander {
        width: 45%;
        height: 42px;
        border: 1px solid #8B6E4A;
        box-sizing: border-box;
        border-radius: 6px;
        display: flex;
        padding: 0;
        
        margin-left: 0;
        margin-right: 0;
    }
    #collapseBookonmobile .Top_Booking .Top_Booking_calander .Top_Booking_control {
        width: 50%;
    }
    .Top_Booking_Number {
        position: relative;
    margin: 0 15px;
    width: calc(55% - 150px);
    }
    #collapseBookonmobile .Top_Booking .Top_Booking_calander #datepicker_from_room, #collapseBookonmobile .Top_Booking .Top_Booking_calander #datepicker_to_room {
        background: transparent;
        border: none;
        height: 22px;
        padding-right: 0;
        padding-left: 10px;
        padding-top: 0;
        padding-bottom: 0;
        background: url(../images/icon15.png) no-repeat;
        background-position: right 15px center;
        color: #000;
        font-size: 14px;
        border-radius: 0;
        margin: 10px 0;
        cursor: pointer;
    }
    #collapseBookonmobile .Top_Booking .Top_Booking_calander #datepicker_from_room {
        border-right: 1px solid #8B6E4A;
    }
    #collapseBookonmobile #mobile_sub_datepicker_from{
        height: 22px;
        border: none;
        border-radius: 6px;
        background: #fff;
        background: url(../images/icon15.png) no-repeat left 10px center;
        background-size: 20px;
        padding-left: 40px;
        border-right: 1px solid #8B6E4A;
        margin: 10px 0;
        border-radius: 0;
    }
    #collapseBookonmobile #mobile_sub_datepicker_to{
        border: none;
        border-radius: 6px;
        background: #fff;
        margin-bottom: 15px;
        margin: 10px 0 10px 0;
        background-size: 20px;
        height: 22px;
        border-radius: 0;
        padding: .375rem 0 .375rem 10px;
    }
    .PVM_index_Carousel .row{
        margin:0 -7px;
    }
    .PVM_index_Carousel .row .col-md-4{
        padding:0 7px;
    }
    .PVM_index_Carousel_detail h4 {
        font-size: 18px;
    }
    .Offerlist_title {
        font-size: 18px;
    }
    .Offerlist_more a {
        font-size: 14px;
    }
    #filters li {
        font-size: 18px;
    }
    .Room_content_info_title {
        font-size: 18px;
    }
    .Room_detail_section01_row{
        margin:0 -5px
    }
    .mobile_booking_search {
        padding: 5px;
        flex: 0 0 100%;
        max-width: 100%;
    }
    .Room_detail_section01_area{
        
        flex: 0 0 100%;
        max-width: 100%;
    }
    .Top_Booking_Room ,.Top_Booking_Adult, .Top_Booking_Child{
        height: 46px;
    }
    #BOOKTABLEModal .modal-dialog h5 {
        padding: 20px 20px 5px 20px;
    }
    .BookForm04_detail{
        text-align: center;
    }
    .BookForm04_detail p{
        font-family: 'GillSans';
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 21px;
        text-align: center;
        display: inline-block;
        padding: 0 25px;
    }
    #BOOKTABLEModal .BOOKModal_step2_title {
        font-size: 24px;
    }
    #BOOKModal .modal-dialog .modal-content {
        border-radius: 0;
        height: auto;
    }

    .modal-header-banner-fortablet{
        display: none;
    }
    .modal-header-banner-formobile{
        display: none;
    }
    .Mobile_Totop div {
        text-align: center;
    }
    .BOOKModal_step2 .BOOKModal_step2_success {
        color: #000;
    }
    #BOOKModal_step1 .modal-body .BookForm:nth-child(1), #BOOKModal_step1 .modal-body .BookForm:nth-child(2) {
        width: 80%;
        margin: 0 auto;
        max-width: 575px;
    }
    .BookForm {
        width: 100%;
    }
    .single {
        width: calc(100% - 0px) !important;
    }
    #BOOKModal_step2 .modal-body {
        margin-top: 0px !important;
    }
    .Mobile_promotion{
        width: calc(50% - 10px);
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom:15px;
    }
    .Top_Booking_PromotionCode {
        width: 20%;
        margin-right: 0;
    }
    /* .defaultlogo, .scrolllogo {
        position: relative;
        width: auto;
        margin-left:0;
    }
    .defaultlogo{
        display: inline-block;
    } */
    .smallscreenlogo{
        display: none;
    }
    .Footer_container .formobile{
        display: none;
    }
    #collapseBookonmobile .Top_Booking_Btn {
        width: 120px !important;
    }

    .forweb_filters{
        display: block;
    }
    .formobile_filters{
        display: none;
    }

    #endDate {
            padding-left: 10px !important;
    }
    .headerWrapper{
        line-height: 87px !important;
    }
    .headerWrapper .headerWrapper_div img{
        height: 70px !important;
        margin: 8px 0;
    }
    .PVM_Top_Nav {
        border-top: none;
    }
    .Offerlist_more:after {
        background: none;
      }
      .About_forweb{
        display: block;
    }
    .About_formobile{
        display: none;
    }
}