{#
/**
 * @file
 * Default theme implementation to each level of menu.
 */
#}
{% import _self as menu %}

{{ menu.menu_links(items, attributes, 0 ) }}

{% macro menu_links(items, attributes, menu_level) %}
{#  {% set number = items|first.menu_level %}
  <ul class="menu menu-level-{{ number }}">
  {% for key, item in items if key|first != '#' %}
    {% set menu_item_classes = [
      'menu-item',
      item.is_expanded ? 'menu-item--expanded',
      item.is_collapsed ? 'menu-item--collapsed',
      item.in_active_trail ? 'menu-item--active-trail',
    ] %}

    <li{{ item.attributes.addClass(menu_item_classes) }}>
      {{ link(item.title, item.url) }}
      {% set rendered_content = item.content|without('') %}
      {% if rendered_content|render %}
        {{ rendered_content }}
      {% endif %}
    </li>
  {% endfor %}
  </ul>#}
    {% set number = items|first.menu_level %}

  {% if number == 0 %}
      {% for key, item in items if key|first != '#' %}
          <li><a href="{{ item.url }}" class="{{ item.attributes.class }}" {% if item.url.isExternal() %}target="_blank" {% endif %}>{{ item.title }}</a></li>
      {% endfor %}
      {% else %}
  {% endif %}

{% endmacro %}
