{#
/**
 * @file
 * Default theme implementation to display a paragraph.
 *
 * Available variables:
 * - paragraph: Full paragraph entity.
 *   Only method names starting with "get", "has", or "is" and a few common
 *   methods such as "id", "label", and "bundle" are available. For example:
 *   - paragraph.getCreatedTime() will return the paragraph creation timestamp.
 *   - paragraph.id(): The paragraph ID.
 *   - paragraph.bundle(): The type of the paragraph, for example, "image" or "text".
 *   - paragraph.getOwnerId(): The user ID of the paragraph author.
 *   See Drupal\paragraphs\Entity\Paragraph for a full list of public properties
 *   and methods for the paragraph object.
 * - content: All paragraph items. Use {{ content }} to print them all,
 *   or print a subset such as {{ content.field_example }}. Use
 *   {{ content|without('field_example') }} to temporarily suppress the printing
 *   of a given child element.
 * - attributes: HTML attributes for the containing element.
 *   The attributes.class element may contain one or more of the following
 *   classes:
 *   - paragraphs: The current template type (also known as a "theming hook").
 *   - paragraphs--type-[type]: The current paragraphs type. For example, if the paragraph is an
 *     "Image" it would result in "paragraphs--type--image". Note that the machine
 *     name will often be in a short form of the human readable label.
 *   - paragraphs--view-mode--[view_mode]: The View Mode of the paragraph; for example, a
 *     preview would result in: "paragraphs--view-mode--preview", and
 *     default: "paragraphs--view-mode--default".
 * - view_mode: View mode; for example, "preview" or "full".
 * - logged_in: Flag for authenticated user status. Will be true when the
 *   current user is a logged-in member.
 * - is_admin: Flag for admin user status. Will be true when the current user
 *   is an administrator.
 *
 * @see template_preprocess_paragraph()
 *
 * @ingroup themeable
 */
#}
{%
  set classes = [
    'paragraph',
    'paragraph--type--' ~ paragraph.bundle|clean_class,
    view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
    not paragraph.isPublished() ? 'paragraph--unpublished'
  ]
%}
{% block paragraph %}
  {% block content %}
  <style>
    #container{
        min-height: 600px;
    }
    @media screen and (min-width:320px) and (max-width:991px) {
        #container{
            min-height: 180px;
        }
    }
</style>

      <div class="location_map">
          <div class="location_map_title">{{ content.field_title }}</div>
          {% if p_current_language == "en" %}
              <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3695.5475373658783!2d113.57071931495192!3d22.143220585405412!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x34016ffc021fc709%3A0x462b2cbc047e1aec!2sPalazzo%20Versace%20Macau!5e0!3m2!1sen!2s!4v1646201072430!5m2!1sen!2s" width="100%" height="atuo" style="border:0;"  id="container"  allowfullscreen="" loading="lazy"></iframe>
              {% elseif p_current_language == "zh-hant" %}
              <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3695.5475373658783!2d113.57071931495192!3d22.143220585405412!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x34016ffc021fc709%3A0x462b2cbc047e1aec!2sPalazzo%20Versace%20Macau!5e0!3m2!1szh-TW!2s!4v1646201159858!5m2!1szh-TW!2s" width="100%" height="atuo" style="border:0;" allowfullscreen="" id="container"  loading="lazy"></iframe>
          {% else %}
              <style>

                  .anchorBL{display:none}
              </style>
              <div id="container"></div>
              <script src="https://api.map.baidu.com/api?type=webgl&v=1.0&ak=RCGzXkTFoGz6fyjvj4zB1Mf6x0QIXjEn"></script>
              <script>
                  var map = new BMapGL.Map('container'); // 创建Map实例
                  var point=new BMapGL.Point(113.584473,22.146048);
                  map.centerAndZoom(point, 17); // 初始化地图,设置中心点坐标和地图级别
                  map.enableScrollWheelZoom(true);     //开启鼠标滚轮缩放
                  var scaleCtrl = new BMapGL.ScaleControl();  // 添加比例尺控件
                  map.addControl(scaleCtrl);
                  var zoomCtrl = new BMapGL.ZoomControl();  // 添加比例尺控件
                  map.addControl(zoomCtrl);
                  var marker1 = new BMapGL.Marker(point);
                  map.addOverlay(marker1);
                  // 创建信息窗口
                  // var opts = {
                  //     width: 200,
                  //     height: 70,
                  //     title: '澳门上葡京综合度假村'
                  // };
                  // var infoWindow = new BMapGL.InfoWindow('地址：澳门特别行政区路凼填海区射击路南150米', opts);
                  // map.openInfoWindow(infoWindow, point);
                  // marker1.addEventListener("click", function(){
                  //     map.openInfoWindow(infoWindow, point); //开启信息窗口
                  // });
                  var opts = {
                      position: new BMapGL.Point(113.584473,22.146048), // 指定文本标注所在的地理位置
                      offset: new BMapGL.Size(-50, -80), // 设置文本偏移量
                  };
                  // 创建文本标注对象
                  var label = new BMapGL.Label('澳门范思哲豪华酒店大楼', opts);
                  // 自定义文本标注样式
                  label.setStyle({
                      color: 'black',
                      borderRadius: '5px',
                      borderColor: '#ccc',
                      padding: '10px',
                      fontSize: '16px',
                      height: '50px',
                      lineHeight: '30px',
                      fontFamily: '微软雅黑'
                  });
                  map.addOverlay(label);


              </script>
          {% endif %}
      </div>
  {% endblock %}
{% endblock paragraph %}
