{#
/**
 * @file
 * Default theme implementation to display a paragraph.
 *
 * Available variables:
 * - paragraph: Full paragraph entity.
 *   Only method names starting with "get", "has", or "is" and a few common
 *   methods such as "id", "label", and "bundle" are available. For example:
 *   - paragraph.getCreatedTime() will return the paragraph creation timestamp.
 *   - paragraph.id(): The paragraph ID.
 *   - paragraph.bundle(): The type of the paragraph, for example, "image" or "text".
 *   - paragraph.getOwnerId(): The user ID of the paragraph author.
 *   See Drupal\paragraphs\Entity\Paragraph for a full list of public properties
 *   and methods for the paragraph object.
 * - content: All paragraph items. Use {{ content }} to print them all,
 *   or print a subset such as {{ content.field_example }}. Use
 *   {{ content|without('field_example') }} to temporarily suppress the printing
 *   of a given child element.
 * - attributes: HTML attributes for the containing element.
 *   The attributes.class element may contain one or more of the following
 *   classes:
 *   - paragraphs: The current template type (also known as a "theming hook").
 *   - paragraphs--type-[type]: The current paragraphs type. For example, if the paragraph is an
 *     "Image" it would result in "paragraphs--type--image". Note that the machine
 *     name will often be in a short form of the human readable label.
 *   - paragraphs--view-mode--[view_mode]: The View Mode of the paragraph; for example, a
 *     preview would result in: "paragraphs--view-mode--preview", and
 *     default: "paragraphs--view-mode--default".
 * - view_mode: View mode; for example, "preview" or "full".
 * - logged_in: Flag for authenticated user status. Will be true when the
 *   current user is a logged-in member.
 * - is_admin: Flag for admin user status. Will be true when the current user
 *   is an administrator.
 *
 * @see template_preprocess_paragraph()
 *
 * @ingroup themeable
 */
#}
{%
  set classes = [
    'paragraph',
    'paragraph--type--' ~ paragraph.bundle|clean_class,
    view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
    not paragraph.isPublished() ? 'paragraph--unpublished'
  ]
%}
{% block paragraph %}
  {% block content %}

      <div class="location_map">
          <h4 class="bus_title">Complimentary Shuttle Bus Service</h4>
          {% if paragraph.field_title is not empty -%}
          <div class="location_map_title">{{ content.field_title }}</div>{% endif %}

          <div class="Route_wrap_table">
              <div class="Route_wrap_thead row">
                  {% if paragraph.field_title_one is not empty -%}
                      <div class="col Route_wrap_thead_th">
                          {{ content.field_title_one }}
                      </div>
                  {% endif %}

                  {% if paragraph.field_title_two is not empty -%}
                      <div class="col Route_wrap_thead_th">
                          {{ content.field_title_two }}
                      </div>
                  {% endif %}

                  {% if paragraph.field_title_three is not empty -%}
                      <div class="col Route_wrap_thead_th">
                          {{ content.field_title_three }}
                      </div>
                  {% endif %}

                  {% if paragraph.field_title_four is not empty -%}
                      <div class="col Route_wrap_thead_th">
                          {{ content.field_title_four }}
                      </div>
                  {% endif %}

                  {% if paragraph.field_title_five is not empty -%}
                      <div class="col Route_wrap_thead_th">
                          {{ content.field_title_five }}
                      </div>
                  {% endif %}
              </div>
              <div class="Route_wrap_tbody">
                  {% for key, item in content.field_info if key|first != '#'%}
                      <div class="Route_wrap_tbody_tr row">
                          {% if item['#paragraph'].field_title_one[0].value is not empty -%}
                              <div class="col Route_wrap_thead_td">
                                  {{ item['#paragraph'].field_title_one[0].value|raw }}
                              </div>
                          {% endif %}
                          {% if item['#paragraph'].field_title_two[0].value is not empty -%}
                              {% if paragraph.field_title_two is not empty -%}
                                  <div class="col Route_wrap_thead_td fortabletandmobile">
                                      {{ content.field_title_two }}
                                  </div>
                              {% endif %}
                              <div class="col Route_wrap_thead_td">
                                  {{ item['#paragraph'].field_title_two[0].value|raw }}
                              </div>
                          {% endif %}
                          {% if item['#paragraph'].field_title_three[0].value is not empty -%}
                              {% if paragraph.field_title_three is not empty -%}
                                  <div class="col Route_wrap_thead_td fortabletandmobile">
                                      {{ content.field_title_three }}
                                  </div>
                              {% endif %}
                              <div class="col Route_wrap_thead_td">
                                  {{ item['#paragraph'].field_title_three[0].value|raw }}
                              </div>
                          {% endif %}
                          {% if item['#paragraph'].field_title_four[0].value is not empty -%}
                              {% if paragraph.field_title_four is not empty -%}
                                  <div class="col Route_wrap_thead_td fortabletandmobile">
                                      {{ content.field_title_four }}
                                  </div>
                              {% endif %}
                              <div class="col Route_wrap_thead_td">
                                  {{ item['#paragraph'].field_title_four[0].value|raw }}
                              </div>
                          {% endif %}
                          {% if item['#paragraph'].field_title_five[0].value is not empty -%}
                              {% if paragraph.field_title_five is not empty -%}
                                  <div class="col Route_wrap_thead_td fortabletandmobile">
                                      {{ content.field_title_five }}
                                  </div>
                              {% endif %}
                              <div class="col Route_wrap_thead_td">
                                  {{ item['#paragraph'].field_title_five[0].value|raw }}
                              </div>
                          {% endif %}
                      </div>
                  {% endfor %}
              </div>
          </div>
      </div>
  {% endblock %}
{% endblock paragraph %}
