{#
/**
 * @file
 * Default theme implementation to display a paragraph.
 *
 * Available variables:
 * - paragraph: Full paragraph entity.
 *   Only method names starting with "get", "has", or "is" and a few common
 *   methods such as "id", "label", and "bundle" are available. For example:
 *   - paragraph.getCreatedTime() will return the paragraph creation timestamp.
 *   - paragraph.id(): The paragraph ID.
 *   - paragraph.bundle(): The type of the paragraph, for example, "image" or "text".
 *   - paragraph.getOwnerId(): The user ID of the paragraph author.
 *   See Drupal\paragraphs\Entity\Paragraph for a full list of public properties
 *   and methods for the paragraph object.
 * - content: All paragraph items. Use {{ content }} to print them all,
 *   or print a subset such as {{ content.field_example }}. Use
 *   {{ content|without('field_example') }} to temporarily suppress the printing
 *   of a given child element.
 * - attributes: HTML attributes for the containing element.
 *   The attributes.class element may contain one or more of the following
 *   classes:
 *   - paragraphs: The current template type (also known as a "theming hook").
 *   - paragraphs--type-[type]: The current paragraphs type. For example, if the paragraph is an
 *     "Image" it would result in "paragraphs--type--image". Note that the machine
 *     name will often be in a short form of the human readable label.
 *   - paragraphs--view-mode--[view_mode]: The View Mode of the paragraph; for example, a
 *     preview would result in: "paragraphs--view-mode--preview", and
 *     default: "paragraphs--view-mode--default".
 * - view_mode: View mode; for example, "preview" or "full".
 * - logged_in: Flag for authenticated user status. Will be true when the
 *   current user is a logged-in member.
 * - is_admin: Flag for admin user status. Will be true when the current user
 *   is an administrator.
 *
 * @see template_preprocess_paragraph()
 *
 * @ingroup themeable
 */
#}
{%
  set classes = [
    'paragraph',
    'paragraph--type--' ~ paragraph.bundle|clean_class,
    view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
    not paragraph.isPublished() ? 'paragraph--unpublished'
  ]
%}
{% block paragraph %}
  {% block content %}
  <div class="offerBooking">
    
<a class="btn collapseBookonmobile offercollapseBookonmobile" data-toggle="collapse" href="#collapseBookonmobile" role="button" aria-expanded="false" aria-controls="collapseBookonmobile" id="mobile_sub_booking_offer">
        {{ content.field_button_title | field_value }}
        <img class="showB" src="{{ theme_path }}/images/select03.png">
        <img class="closeB" src="{{ theme_path }}/images/select04.png">
       </a>
       
      <div class="collapse offer-collapse" id="collapseBookonmobile">
     
        <div class="Room_detail_section01_arrow"></div>
    
        <div class="Room_booking Top_Booking">
        <form>
          <div class="row Top_Booking_row">
            <input name="hotelname_offer" type="hidden" data-value="{{ content.field_hotel_code | field_value }}">
            <input type="hidden" id="rate" name="rate" value="{{ content.field_rate | field_value }}">
            <div class="Top_Booking_calander">
              <div class="Top_Booking_control">
                <input type="text" name="arrival_date_room" id="datepicker_from_room" class="form-control onlydata Top_Booking_input forweb" readonly="readonly"/>
                <input type="text" name="mobile_sub_arrival_date_offer" id="mobile_sub_datepicker_from_offer" class="form-control onlydata Top_Booking_input  formobile" readonly/>
              </div>
              <div class="Top_Booking_control">
                <input type="text" name="departure_date_room" id="datepicker_to_room" class="form-control onlydata Top_Booking_input forweb" readonly="readonly"/>
                <input type="text" name="mobile_sub_departure_date_offer" id="mobile_sub_datepicker_to_offer" class="form-control onlydata Top_Booking_input formobile" readonly/>
              </div>
            </div>

            <div class="Top_Booking_Number">
              <span class="btn" data-toggle="collapse" id="home_content_text3" href="#collapseTopBookingNumber3" role="button" aria-expanded="false" aria-controls="collapseTopBookingNumber3">
                {% if current_language == "en" %}1 Room, 2 Adults, 0 Child{% elseif current_language == "zh-hant" %}1 客房，2 成人，0 小童{% else %}1 间客房，2 位成人，0 位儿童{% endif %}
              </span>
              <div class="collapse" id="collapseTopBookingNumber3">
                  
                <div class="Top_Booking_Room">
                  <div class="Numbercollapse_wrap">
                      <label class="FormControl_label" for="number">{% if current_language == "en" %}Rooms{% elseif current_language == "zh-hant" %}客房{% else %}客房{% endif %}</label>
                      <input type="text" class="spinnerRooms1" id="Rooms1" readonly="readonly" value="1"/>
                 </div>
              </div>
              <div class="Top_Booking_Adult">
                  <div class="Numbercollapse_wrap">
                      <label class="FormControl_label" for="number">{% if current_language == "en" %}Adults{% elseif current_language == "zh-hant" %}成人{% else %}成人{% endif %}</label>
                      <input type="text" class="spinnerAdults1" id="Adults1" value="2" readonly="readonly"/>
                  </div>
              </div>
              <div class="Top_Booking_Child">
                  <div class="Numbercollapse_wrap">
                      <label class="FormControl_label" for="number">{% if current_language == "en" %}Children{% elseif current_language == "zh-hant" %}小童{% else %}儿童{% endif %}</label>
                      <input type="text" class="spinnerChild1"  id="Child1" value="0" readonly="readonly"/>
                  </div>
              </div>

              </div>
          </div>
          
        {#  <div class="Top_Booking_PromotionCode">
            <input type="text" class="form-control PromotionCodeIpt" id="PromotionCode" placeholder="Promotion Code">
        </div>#}

            <div class="Top_Booking_Btn">
              <div class="Top_Booking_control">
                <a id="go_booking_offer">{% if p_current_language == "en" %}BOOK NOW{% elseif p_current_language == "zh-hant" %}預訂{% else %}预订{% endif %}</a>
                {# <a id="mobile_go_booking_offer">{% if p_current_language == "en" %}BOOK NOW{% elseif p_current_language == "zh-hant" %}預訂{% else %}预订{% endif %}</a> #}
              </div>
            </div>

          </div>

        </form>
        </div>
      </div>
    </div>
  {% endblock %}
{% endblock paragraph %}