
<div class="Room_list_info04 New_Room_list_info04_02">
  <div class="Room_list_info04_title">{{ content.field_title }}</div>
  <div class="room_list_info04_row row">
    {% for key, item in paragraph.field_img_list.value %}
    <div class="col-md-12"><img src="{{ file_url(content.field_img_list[key]['#media'].field_media_image.entity.uri.value) }}" alt="{{ content.field_img_list[key]['#media'].field_media_image.alt }}"></div>
    {% endfor %}
   {# {% for key, item in paragraph.field_img_list_mobile.value %}
      <div class="col-md-6"><img src="{{ file_url(content.field_img_list_mobile[key]['#media'].field_media_image.entity.uri.value) }}" alt="{{ content.field_img_list_mobile[key]['#media'].field_media_image.alt }}"></div>
    {% endfor %} mobile#}
  </div>
</div>