{#
/**
 * @file
 * Default theme implementation to display a paragraph.
 *
 * Available variables:
 * - paragraph: Full paragraph entity.
 *   Only method names starting with "get", "has", or "is" and a few common
 *   methods such as "id", "label", and "bundle" are available. For example:
 *   - paragraph.getCreatedTime() will return the paragraph creation timestamp.
 *   - paragraph.id(): The paragraph ID.
 *   - paragraph.bundle(): The type of the paragraph, for example, "image" or "text".
 *   - paragraph.getOwnerId(): The user ID of the paragraph author.
 *   See Drupal\paragraphs\Entity\Paragraph for a full list of public properties
 *   and methods for the paragraph object.
 * - content: All paragraph items. Use {{ content }} to print them all,
 *   or print a subset such as {{ content.field_example }}. Use
 *   {{ content|without('field_example') }} to temporarily suppress the printing
 *   of a given child element.
 * - attributes: HTML attributes for the containing element.
 *   The attributes.class element may contain one or more of the following
 *   classes:
 *   - paragraphs: The current template type (also known as a "theming hook").
 *   - paragraphs--type-[type]: The current paragraphs type. For example, if the paragraph is an
 *     "Image" it would result in "paragraphs--type--image". Note that the machine
 *     name will often be in a short form of the human readable label.
 *   - paragraphs--view-mode--[view_mode]: The View Mode of the paragraph; for example, a
 *     preview would result in: "paragraphs--view-mode--preview", and
 *     default: "paragraphs--view-mode--default".
 * - view_mode: View mode; for example, "preview" or "full".
 * - logged_in: Flag for authenticated user status. Will be true when the
 *   current user is a logged-in member.
 * - is_admin: Flag for admin user status. Will be true when the current user
 *   is an administrator.
 *
 * @see template_preprocess_paragraph()
 *
 * @ingroup themeable
 */
#}
{%
  set classes = [
    'paragraph',
    'paragraph--type--' ~ paragraph.bundle|clean_class,
    view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
    not paragraph.isPublished() ? 'paragraph--unpublished'
  ]
%}
{% block paragraph %}
  {% block content %}
    {% if paragraph.field_title is not empty -%}
      <a class="MAKE_SERVATION" href="" data-toggle="modal" data-target="#BOOKModal">{{ content.field_title }}</a>
    {% endif %}
  {% endblock %}
{% endblock paragraph %}

<div class="modal fade" id="BOOKModal" tabindex="-1" aria-labelledby="BOOKModal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content" id="BOOKModal_step1">
      <div class="modal-header">
        <div class="modal-header-banner">
          <img class="modal-header-banner-forweb" src="{{ theme_path }}/images/image-22.png">
          <img class="modal-header-banner-fortablet" src="{{ theme_path }}/images/image-22.png">
          <img class="modal-header-banner-formobile" src="{{ theme_path }}/images/image-22.png">
        </div>
        <h5 class="modal-title" id="BOOKModal">{{ content.field_title_one }}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true"><img src="{{ theme_path }}/images/close.png"></span>
        </button>
      </div>
      <div class="modal-body row">
        <form id="spaform" class="row">
          <div class="row spaform_new_row">
            <div class="form-group col-md-6">
              <label>{% if p_current_language == "en" %}Spa{% elseif p_current_language == "zh-hant" %}水療中心{% else %}水疗中心{% endif %}:</label>
              <input class="form-input" name="name" value="{{ nodetitle }}" readonly>
            </div><!--Spa-->
            <div class="form-group col-md-6">
              <label><span class="reddot">*</span> {% if p_current_language == "en" %}Treatment Category{% elseif p_current_language == "zh-hant" %}療程類型{% else %}疗程类型{% endif %}: </label>
              <div class='diy_select'>
                <input type='hidden' name='spatype' id="spatype" class='diy_select_input'/>
                <div class='diy_select_txt' id="spatype_text">{% if p_current_language == "en" %}-Please select-{% elseif p_current_language == "zh-hant" %}-請選擇-{% else %}-请选择-{% endif %}</div>
                <div class='diy_select_btn'></div>
                <ul class='diy_select_list' id="spatype_ul" >
                </ul>
              </div>
              <div class="Error_Tips_spatype row">
                <div class="Error_Tips_spatype1">{% if p_current_language == "en" %}Please select the treatment category{% elseif p_current_language == "zh-hant" %}請選擇療程類型{% else %}请选择疗程类型{% endif %}</div>
              </div>
            </div><!--Treatment Category-->
            <div class="form-group col-md-6">
              <label><span class="reddot">*</span> {% if p_current_language == "en" %}Treatment{% elseif p_current_language == "zh-hant" %}療程{% else %}疗程{% endif %}: </label>
              <div class='diy_select'>
                <input type='hidden' name='spaname' id="spaname" class='diy_select_input'/>
                <div class='diy_select_txt' id="spaname_text">{% if p_current_language == "en" %}-Please select-{% elseif p_current_language == "zh-hant" %}-請選擇-{% else %}-请选择-{% endif %}</div>
                <div class='diy_select_btn'></div>
                <ul class='diy_select_list spaname_list' id="spaname_ul">
                </ul>
             </div>
              <div class="Error_Tips_spaname row">
                <div class="Error_Tips_spaname1">{% if p_current_language == "en" %}Please select the treatment{% elseif p_current_language == "zh-hant" %}請選擇療程{% else %}请选择疗程{% endif %}</div>
              </div>
            </div><!--Treatment-->
            <div class="form-group col-md-6">
              <label><span class="reddot">*</span> {% if p_current_language == "en" %}Therapist{% elseif p_current_language == "zh-hant" %}理療師{% else %}理疗师{% endif %}: </label>
              <div class='diy_select'>
                <input type="hidden" name="gender" id="gender_value" class='diy_select_input'>
                <div class='diy_select_txt' id="Treatmentname_text">{% if p_current_language == "en" %}-Please select-{% elseif p_current_language == "zh-hant" %}-請選擇-{% else %}-请选择-{% endif %}</div>
                <div class='diy_select_btn'></div>
                <ul class='diy_select_list Treatmentname_list' id="Treatmentname_ul">
                  <li data-value="{% if p_current_language == "en" %}No Preference{% elseif p_current_language == "zh-hant" %}沒有偏好{% else %}沒有偏好{% endif %}">{% if p_current_language == "en" %}No Preference{% elseif p_current_language == "zh-hant" %}沒有偏好{% else %}沒有偏好{% endif %}</li>
                  <li data-value="{% if p_current_language == "en" %}Female{% elseif p_current_language == "zh-hant" %}女性{% else %}女性{% endif %}">{% if p_current_language == "en" %}Female{% elseif p_current_language == "zh-hant" %}女性{% else %}女性{% endif %}</li>
                  <li data-value="{% if p_current_language == "en" %}Male{% elseif p_current_language == "zh-hant" %}男性{% else %}男性{% endif %}">{% if p_current_language == "en" %}Male{% elseif p_current_language == "zh-hant" %}男性{% else %}男性{% endif %}</li>
                </ul>
             </div>

              <div class="Error_Tips_Therapist row">
                <div class="Error_Tips_Therapist1">{% if p_current_language == "en" %}Please select your preferred therapist{% elseif p_current_language == "zh-hant" %}請選擇理療師{% else %}请选择理疗师{% endif %}</div>
              </div>
            </div><!--Therapist-->
            <div class="form-group col-md-6">
              <label><span class="reddot">*</span> {% if p_current_language == "en" %}Date{% elseif p_current_language == "zh-hant" %}日期{% else %}日期{% endif %}: </label>
              <input type="text" class="form-input" id="MakeAReservationDate" name="date_text"  readonly="readonly" onclick="document.activeElement.blur();">
              <input type="hidden" name="date">
              <div id="Data_calander_wrap"></div>
            </div><!--Date-->
            <div class="form-group col-md-6">
              <label><span class="reddot">*</span> {% if p_current_language == "en" %}Time{% elseif p_current_language == "zh-hant" %}時間{% else %}时间{% endif %}: </label>
              <div class='diy_select'>
                <input type='hidden' name='time'  id="time" class='diy_select_input'/>
                <div class='diy_select_txt' id="time_text">{% if p_current_language == "en" %}-Please Select-{% elseif p_current_language == "zh-hant" %}-請選擇-{% else %}-请选择-{% endif %}</div>
                <div class='diy_select_btn'></div>
                <ul class='diy_select_list' name="" id="time_ul">
                  <li value="11:00">11:00</li>
                  <li value="11:30">11:30</li>
                  <li value="12:00">12:00</li>
                  <li value="12:30">12:30</li>
                  <li value="13:00">13:00</li>
                  <li value="13:30">13:30</li>
                  <li value="14:00">14:00</li>
                  <li value="14:30">14:30</li>
                  <li value="15:00">15:00</li>
                  <li value="15:30">15:30</li>
                  <li value="16:00">16:00</li>
                  <li value="16:30">16:30</li>
                  <li value="17:00">17:00</li>
                  <li value="17:30">17:30</li>
                  <li value="18:00">18:00</li>
                  <li value="18:30">18:30</li>
                  <li value="19:00">19:00</li>
                </ul>
              </div>
              <div class="Error_Tips5 row">
                <div class="Error_Tips05">{% if p_current_language == "en" %}Please select your preferred time slot{% elseif p_current_language == "zh-hant" %}請選擇療程時間{% else %}请选择疗程时间{% endif %}</div>
              </div>
            </div><!--Time-->
            <div class="form-group col-md-6">
              <label><span class="reddot">*</span> {% if p_current_language == "en" %}No. of Guests{% elseif p_current_language == "zh-hant" %}賓客人數{% else %}宾客人數{% endif %}: </label>
              <div class="spinner">
                <a class="adult_jian" href="javascript:;"></a>
                <input type="text" class="Guests"  readonly="readonly" value="1"  />
                <input type="hidden" id="adult_value" name="adult_value" value="1">
                <a class="adult_jia" href="javascript:;"></a>
              </div>
            </div><!--No. of Guests-->
          </div>
          <div class="col-md-12 Form_bottom">
            <div class="form-group row">
              <div class="col-sm-12">
                <div class="modal-footer">
                  <a id="BOOKModal—step1-n">{% if p_current_language == "en" %}NEXT{% elseif p_current_language == "zh-hant" %}下一步{% else %}下一步{% endif %}</a>
                </div>
              </div>
            </div>
          </div>
        </form>
        <form id="spaform02" class="row" style="display: none;">
          <div class="row spaform_new_row">
            <div class="form-group col-md-6">
              <label><span class="reddot">*</span> {% if p_current_language == "en" %}Title{% elseif p_current_language == "zh-hant" %}稱謂{% else %}称谓{% endif %}: </label>

              <div class='diy_select'>
                <input type='hidden' name='title' id="titlesel" class='diy_select_input'/>
                <div class='diy_select_txt' id="title_text">{% if p_current_language == "en" %}-Please Select-{% elseif p_current_language == "zh-hant" %}-請選擇-{% else %}-请选择-{% endif %}</div>
                <div class='diy_select_btn'></div>
                <ul class='diy_select_list' name="" id="titlesel_ul">
                  {% if p_current_language == "en" %}
                    <li value="Mr.">Mr</li>
                    <li value="Mrs.">Mrs</li>
                    <li value="Ms.">Ms</li>
                    <li value="Dr.">Dr</li>
                    <li value="Prof.">Prof.</li>
                  {% elseif p_current_language == "zh-hant" %}
                    <li value="Mr.">先生</li>
                    <li value="Mrs.">女士</li>
                    <li value="Ms.">小姐</li>
                    <li value="Dr.">博士</li>
                    <li value="Prof.">教授</li>
                  {% else %}
                    <li value="Mr.">先生</li>
                    <li value="Mrs.">女士</li>
                    <li value="Ms.">小姐</li>
                    <li value="Dr.">博士</li>
                    <li value="Prof.">教授</li>
                  {% endif %}
                </ul>
              </div>
              <div class="Error_Tips_Title row">
                <div class="Error_Tips_Title1">{% if p_current_language == "en" %}Please select your title{% elseif p_current_language == "zh-hant" %}請選擇您的稱謂{% else %}请选择您的称谓{% endif %}</div>
              </div>

            </div><!--Title-->
            <div class="form-group col-md-6 Name_row row">
              <label><span class="reddot">*</span> {% if p_current_language == "en" %}Name{% elseif p_current_language == "zh-hant" %}姓名{% else %}姓名{% endif %}: </label>
              <div class="row PVM_Name_row">
                <div class="col-md-6 Name_row_FN">
                  {% if p_current_language == "en" %}
                    <input class="form-input" id="FirstName" name="firstname" placeholder="{% if p_current_language == "en" %}First Name{% elseif p_current_language == "zh-hant" %}名字{% else %}名字{% endif %}">
                    <div class="Error_Tips1 row">
                      <div class="Error_Tips01">{% if p_current_language == "en" %}Please input your first name{% elseif p_current_language == "zh-hant" %}請填寫您的名字{% else %}请填写您的名字{% endif %}</div>
                    </div>
                  {% else %}
                    <input class="form-input" id="LastName" name="lastname" placeholder="{% if p_current_language == "en" %}Last Name{% elseif p_current_language == "zh-hant" %}姓氏{% else %}姓氏{% endif %}">
                    <div class="Error_Tips2 row">
                      <div class="Error_Tips02">{% if p_current_language == "en" %}Please input your last name{% elseif p_current_language == "zh-hant" %}請填寫您的姓氏{% else %}请填写您的姓氏{% endif %}</div>
                    </div>
                  {% endif %}
                </div>
                <div class="col-md-6 Name_row_LN">
                  {% if p_current_language == "en" %}
                    <input class="form-input" id="LastName" name="lastname" placeholder="{% if p_current_language == "en" %}Last Name{% elseif p_current_language == "zh-hant" %}名字{% else %}名字{% endif %}">
                    <div class="Error_Tips2 row">
                      <div class="Error_Tips02">{% if p_current_language == "en" %}Please input your last name{% elseif p_current_language == "zh-hant" %}請填寫您的名字{% else %}请填写您的名字{% endif %}</div>
                    </div>
                  {% else %}
                    <input class="form-input" id="FirstName" name="firstname" placeholder="{% if p_current_language == "en" %}First Name{% elseif p_current_language == "zh-hant" %}名字{% else %}名字{% endif %}">
                    <div class="Error_Tips1 row">
                      <div class="Error_Tips01">{% if p_current_language == "en" %}Please input your first name{% elseif p_current_language == "zh-hant" %}請填寫您的名字{% else %}请填写您的名字{% endif %}</div>
                    </div>
                  {% endif %}
                </div>
              </div>
              <div class="Error_Tips0 row">
                <div class="Error_Tips00">{% if p_current_language == "en" %}Please input your name{% elseif p_current_language == "zh-hant" %}請填寫您的姓名{% else %}请填写您的姓名{% endif %}</div>
              </div>
            </div><!--Name-->
            <div class="form-group col-md-6 Telephone_row row">
              <label><span class="reddot">*</span> {% if p_current_language == "en" %}Contact No.{% elseif p_current_language == "zh-hant" %}電話號碼{% else %}电话号码{% endif %}: </label>
              <div class="PVM_Telephone_row">
                <div class="col-md-4 Telephone_row_area">
                  <div class="FormControl_date_select_row Telephone_row_select Telephone_row_select2" name="nice-select">
                    <input class="FormControl_dropdownHotel" type="text" name="area_code" value="853" readonly>
                    <ul>
                      <div class="Telephone_row_select2_div"><li data-value="86">86</li><span>{% if p_current_language == "en" %} China{% elseif p_current_language == "zh-hant" %}中國{% else %} 中国{% endif %}</span></div>
                      <div class="Telephone_row_select2_div"><li data-value="853">853</li><span>{% if p_current_language == "en" %} Macau S.A.R, China{% elseif p_current_language == "zh-hant" %}中國澳門特別行政區{% else %} 中国澳门特别行政区{% endif %}</span></div>
                      <div class="Telephone_row_select2_div"><li data-value="852">852</li><span>{% if p_current_language == "en" %} Hong Kong S.A.R, China{% elseif p_current_language == "zh-hant" %}中國香港特別行政區{% else %} 中国香港特别行政区{% endif %}</span></div>
                      <div class="Telephone_row_select2_div"><li data-value="886">886</li><span>{% if p_current_language == "en" %} Taiwan, China{% elseif p_current_language == "zh-hant" %}中國臺灣{% else %} 中国台湾{% endif %}</span></div>
                      <div class="Telephone_row_select2_div"><li data-value="81">81</li><span>{% if p_current_language == "en" %} Japan{% elseif p_current_language == "zh-hant" %}日本{% else %} 日本{% endif %}</span></div>
                      <div class="Telephone_row_select2_div"><li data-value="82">82</li><span>{% if p_current_language == "en" %} Korea, Republic Of{% elseif p_current_language == "zh-hant" %}韓國{% else %} 韩国{% endif %}</span></div>
                      <div class="Telephone_row_select2_div"><li data-value="1">1</li><span>{% if p_current_language == "en" %} United States{% elseif p_current_language == "zh-hant" %}美國{% else %} 美国{% endif %}</span></div>
                      <div class="Telephone_row_select2_div"><li data-value="93">93</li><span>{% if p_current_language == "en" %} Afghanistan{% elseif p_current_language == "zh-hant" %}阿富汗{% else %} 阿富汗{% endif %}</span></div>
                      <div class="Telephone_row_select2_div"><li data-value="355">355</li><span>{% if p_current_language == "en" %} Albania{% elseif p_current_language == "zh-hant" %}阿爾巴尼亞{% else %} 阿尔巴尼亚{% endif %}</span></div>
                      <div class="Telephone_row_select2_div"><li data-value="213">213</li><span>{% if p_current_language == "en" %} Algeria{% elseif p_current_language == "zh-hant" %}阿爾及利亞{% else %} 阿尔及利亚{% endif %}</span></div>
                      <div class="Telephone_row_select2_div"><li data-value="684">684</li><span>{% if p_current_language == "en" %} American Samoa{% elseif p_current_language == "zh-hant" %}美屬薩摩亞{% else %} 美属萨摩亚{% endif %}</span></div>
                      <div class="Telephone_row_select2_div"><li data-value="376">376</li><span>{% if p_current_language == "en" %} Andorra{% elseif p_current_language == "zh-hant" %}安道​​爾{% else %} 安道​​尔{% endif %}</span></div>
                      <div class="Telephone_row_select2_div"><li data-value="244">244</li><span>{% if p_current_language == "en" %} Angola{% elseif p_current_language == "zh-hant" %}安哥拉{% else %} 安哥拉{% endif %}</span></div>
                      <div class="Telephone_row_select2_div"><li data-value="264">264</li><span>{% if p_current_language == "en" %} Anguilla/St Kitts{% elseif p_current_language == "zh-hant" %}安圭拉/聖基茨{% else %} 安圭拉/圣基茨{% endif %}</span></div>
                      <div class="Telephone_row_select2_div"><li data-value="672">672</li><span>{% if p_current_language == "en" %} Antarctica{% elseif p_current_language == "zh-hant" %}南極洲{% else %} 南极洲{% endif %}</span></div>
                      <div class="Telephone_row_select2_div"><li data-value="268">268</li><span>{% if p_current_language == "en" %} Antigua and Barbuda{% elseif p_current_language == "zh-hant" %}安提瓜和巴布達{% else %} 安提瓜和巴布达{% endif %}</span></div>
                      <div class="Telephone_row_select2_div"><li data-value="54">54</li><span>{% if p_current_language == "en" %} Argentina{% elseif p_current_language == "zh-hant" %}阿根廷{% else %} 阿根廷{% endif %}</span></div>
                      <div class="Telephone_row_select2_div"><li data-value="374">374</li><span>{% if p_current_language == "en" %} Armenia{% elseif p_current_language == "zh-hant" %}亞美尼亞{% else %} 亚美尼亚{% endif %}</span></div>
                      <div class="Telephone_row_select2_div"><li data-value="297">297</li><span>{% if p_current_language == "en" %} Aruba{% elseif p_current_language == "zh-hant" %}阿魯巴{% else %} 阿鲁巴{% endif %}</span></div>
                      <div class="Telephone_row_select2_div"><li data-value="61">61</li><span>{% if p_current_language == "en" %} Australia{% elseif p_current_language == "zh-hant" %}澳大利亞{% else %} 澳大利亚{% endif %}</span></div>
                      <div class="Telephone_row_select2_div"><li data-value="43">43</li><span>{% if p_current_language == "en" %} Austria{% elseif p_current_language == "zh-hant" %}奧地利{% else %} 奥地利{% endif %}</span></div>
                      <div class="Telephone_row_select2_div"><li data-value="994">994</li><span>{% if p_current_language == "en" %} Azerbaijan{% elseif p_current_language == "zh-hant" %}阿塞拜疆{% else %} 阿塞拜疆{% endif %}</span></div>
                      <div class="Telephone_row_select2_div"><li data-value="242">242</li><span>{% if p_current_language == "en" %} Bahamas{% elseif p_current_language == "zh-hant" %}巴哈馬{% else %} 巴哈马{% endif %}</span></div>
                      <div class="Telephone_row_select2_div"><li data-value="973">973</li><span>{% if p_current_language == "en" %} Bahrain{% elseif p_current_language == "zh-hant" %}巴林{% else %} 巴林{% endif %}</span></div>
                      <div class="Telephone_row_select2_div"><li data-value="880">880</li><span>{% if p_current_language == "en" %} Bangladesh{% elseif p_current_language == "zh-hant" %}孟加拉國{% else %} 孟加拉国{% endif %}</span></div>
                      <div class="Telephone_row_select2_div"><li data-value="246">246</li><span>{% if p_current_language == "en" %} Barbados{% elseif p_current_language == "zh-hant" %}巴巴多斯{% else %} 巴巴多斯{% endif %}</span></div>
                      <div class="Telephone_row_select2_div"><li data-value="375">375</li><span>{% if p_current_language == "en" %} Belarus{% elseif p_current_language == "zh-hant" %}白俄羅斯{% else %} 白俄罗斯{% endif %}</span></div>
                      <div class="Telephone_row_select2_div"><li data-value="32">32</li><span>{% if p_current_language == "en" %} Belgium{% elseif p_current_language == "zh-hant" %}比利時{% else %} 比利时{% endif %}</span></div>
                      <div class="Telephone_row_select2_div"><li data-value="501">501</li><span>{% if p_current_language == "en" %} Belize{% elseif p_current_language == "zh-hant" %}伯利茲{% else %} 贝里斯{% endif %}</span></div>
                      <div class="Telephone_row_select2_div"><li data-value="229">229</li><span>{% if p_current_language == "en" %} Benin{% elseif p_current_language == "zh-hant" %}貝寧{% else %} 贝宁{% endif %}</span></div>
                      <div class="Telephone_row_select2_div"><li data-value="441">441</li><span>{% if p_current_language == "en" %} Bermuda{% elseif p_current_language == "zh-hant" %}百慕達{% else %} 百慕大{% endif %}</span></div>
                      <div class="Telephone_row_select2_div"><li data-value="975">975</li><span>{% if p_current_language == "en" %} Bhutan{% elseif p_current_language == "zh-hant" %}不丹{% else %} 不丹{% endif %}</span></div>
                      <div class="Telephone_row_select2_div"><li data-value="591">591</li><span>{% if p_current_language == "en" %} Bolivia{% elseif p_current_language == "zh-hant" %}玻利維亞{% else %} 玻利维亚{% endif %}</span></div>
                      <div class="Telephone_row_select2_div"><li data-value="387">387</li><span>{% if p_current_language == "en" %} Bonaire,Saba,St Eustatius{% elseif p_current_language == "zh-hant" %}荷蘭加勒比區{% else %} 荷兰加勒比区{% endif %}</span></div>
                      <div class="Telephone_row_select2_div"><li data-value="387">387</li><span>{% if p_current_language == "en" %} Bosnia and Herzegovina{% elseif p_current_language == "zh-hant" %}波斯尼亞和黑塞哥維那{% else %} 波斯尼亚和黑塞哥维那{% endif %}</span></div>
                      <div class="Telephone_row_select2_div"><li data-value="267">267</li><span>{% if p_current_language == "en" %} Botswana{% elseif p_current_language == "zh-hant" %}博茨瓦納{% else %} 博茨瓦纳{% endif %}</span></div>
                      <div class="Telephone_row_select2_div"><li data-value="99">99</li><span>{% if p_current_language == "en" %} Bouvet Island{% elseif p_current_language == "zh-hant" %}布維島{% else %} 布维岛{% endif %}</span></div>
                      <div class="Telephone_row_select2_div"><li data-value="55">55</li><span>{% if p_current_language == "en" %} Brazil{% elseif p_current_language == "zh-hant" %}Brazil - 巴西{% else %} 巴西{% endif %}</span></div>
                      <div class="Telephone_row_select2_div"><li data-value="246">246</li><span>{% if p_current_language == "en" %} British Indian Ocean Territory{% elseif p_current_language == "zh-hant" %}英屬印度洋領地{% else %} 英属印度洋领地{% endif %}</span></div>
                      <div class="Telephone_row_select2_div"><li data-value="673">673</li><span>{% if p_current_language == "en" %} Brunei{% elseif p_current_language == "zh-hant" %}汶萊{% else %} 汶莱{% endif %}</span></div>
                      <div class="Telephone_row_select2_div"><li data-value="359">359</li><span>{% if p_current_language == "en" %} Bulgaria{% elseif p_current_language == "zh-hant" %}保加利亞{% else %} 保加利亚{% endif %}</span></div>
                      <div class="Telephone_row_select2_div"><li data-value="226">226</li><span>{% if p_current_language == "en" %} Burkina Faso{% elseif p_current_language == "zh-hant" %}布基納法索{% else %} 布基纳法索{% endif %}</span></div>
                      <div class="Telephone_row_select2_div"><li data-value="257">257</li><span>{% if p_current_language == "en" %} Burundi{% elseif p_current_language == "zh-hant" %}布隆迪{% else %} 布隆迪{% endif %}</span></div>
                      <div class="Telephone_row_select2_div"><li data-value="855">855</li><span>{% if p_current_language == "en" %} Cambodia{% elseif p_current_language == "zh-hant" %}柬埔寨{% else %} 柬埔寨{% endif %}</span></div>
                      <div class="Telephone_row_select2_div"><li data-value="237">237</li><span>{% if p_current_language == "en" %} Cameroon{% elseif p_current_language == "zh-hant" %}喀麥隆{% else %} 喀麦隆{% endif %}</span></div>
                      <div class="Telephone_row_select2_div"><li data-value="1">1</li><span>{% if p_current_language == "en" %} Canada{% elseif p_current_language == "zh-hant" %}加拿大{% else %} 加拿大{% endif %}</span></div>
                      <div class="Telephone_row_select2_div"><li data-value="238">238</li><span>{% if p_current_language == "en" %} Cape Verde{% elseif p_current_language == "zh-hant" %}佛得角{% else %} 佛得角{% endif %}</span></div>
                      <div class="Telephone_row_select2_div"><li data-value="345">345</li><span>{% if p_current_language == "en" %} Cayman Islands{% elseif p_current_language == "zh-hant" %}開曼群島{% else %} 开曼群岛{% endif %}</span></div>
                      <div class="Telephone_row_select2_div"><li data-value="236">236</li><span>{% if p_current_language == "en" %} Central African Republic{% elseif p_current_language == "zh-hant" %}中非共和國{% else %} 中非共和国{% endif %}</span></div>
                      <div class="Telephone_row_select2_div"><li data-value="235">235</li><span>{% if p_current_language == "en" %} Chad{% elseif p_current_language == "zh-hant" %}乍得{% else %} 乍得{% endif %}</span></div>
                      <div class="Telephone_row_select2_div"><li data-value="56">56</li><span>{% if p_current_language == "en" %} Chile{% elseif p_current_language == "zh-hant" %}智利{% else %} 智利{% endif %}</span></div>
                      <div class="Telephone_row_select2_div"><li data-value="61">61</li><span>{% if p_current_language == "en" %} Christmas Island{% elseif p_current_language == "zh-hant" %}聖誕島{% else %} 圣诞岛{% endif %}</span></div>
                      <div class="Telephone_row_select2_div"><li data-value="61">61</li><span>{% if p_current_language == "en" %} Cocos (Keeling) Islands{% elseif p_current_language == "zh-hant" %}科科斯（基林）群島{% else %} 科科斯（基林）群岛{% endif %}</span></div>
                      <div class="Telephone_row_select2_div"><li data-value="57">57</li><span>{% if p_current_language == "en" %} Colombia{% elseif p_current_language == "zh-hant" %}哥倫比亞{% else %} 哥伦比亚{% endif %}</span></div>
                      <div class="Telephone_row_select2_div"><li data-value="269">269</li><span>{% if p_current_language == "en" %} Comoros{% elseif p_current_language == "zh-hant" %}科摩羅{% else %} 科摩罗{% endif %}</span></div>
                      <div class="Telephone_row_select2_div"><li data-value="242">242</li><span>{% if p_current_language == "en" %} Congo{% elseif p_current_language == "zh-hant" %}剛果{% else %} 刚果{% endif %}</span></div>
                      <div class="Telephone_row_select2_div"><li data-value="243">243</li><span>{% if p_current_language == "en" %} Congo, The Democratic Republic of the{% elseif p_current_language == "zh-hant" %}剛果民主共和國{% else %} 刚果民主共和国{% endif %}</span></div>
                      <div class="Telephone_row_select2_div"><li data-value="682">682</li><span>{% if p_current_language == "en" %} Cook Island{% elseif p_current_language == "zh-hant" %}庫克群島{% else %} 库克群岛{% endif %}</span></div>
                      <div class="Telephone_row_select2_div"><li data-value="506">506</li><span>{% if p_current_language == "en" %} Costa Rica{% elseif p_current_language == "zh-hant" %}哥斯達黎加{% else %} 哥斯达黎加{% endif %}</span></div>
                      <div class="Telephone_row_select2_div"><li data-value="99">99</li><span>{% if p_current_language == "en" %} Cote D'Ivoire{% elseif p_current_language == "zh-hant" %}象牙海岸{% else %} 象牙海岸{% endif %}</span></div>
                      <div class="Telephone_row_select2_div"><li data-value="385">385</li><span>{% if p_current_language == "en" %} Croatia{% elseif p_current_language == "zh-hant" %}克羅地亞{% else %} 克罗地亚{% endif %}</span></div>
                      <div class="Telephone_row_select2_div"><li data-value="53">53</li><span>{% if p_current_language == "en" %} Cuba{% elseif p_current_language == "zh-hant" %}古巴{% else %} 古巴{% endif %}</span></div>
                      <div class="Telephone_row_select2_div"><li data-value="599">599</li><span>{% if p_current_language == "en" %} Curacao{% elseif p_current_language == "zh-hant" %}庫拉索{% else %} 库拉索{% endif %}</span></div>
                      <div class="Telephone_row_select2_div"><li data-value="357">357</li><span>{% if p_current_language == "en" %} Cyprus{% elseif p_current_language == "zh-hant" %}塞浦路斯{% else %} 塞浦路斯{% endif %}</span></div>
                      <div class="Telephone_row_select2_div"><li data-value="420">420</li><span>{% if p_current_language == "en" %} Czech Republic{% elseif p_current_language == "zh-hant" %}捷克共和國{% else %} 捷克共和国{% endif %}</span></div>
                      <div class="Telephone_row_select2_div"><li data-value="45">45</li><span>{% if p_current_language == "en" %} Denmark{% elseif p_current_language == "zh-hant" %}丹麥{% else %} 丹麦{% endif %}</span></div>
                      <div class="Telephone_row_select2_div"><li data-value="253">253</li><span>{% if p_current_language == "en" %} Djibouti{% elseif p_current_language == "zh-hant" %}吉布提{% else %} 吉布提{% endif %}</span></div>
                      <div class="Telephone_row_select2_div"><li data-value="767">767</li><span>{% if p_current_language == "en" %} Dominica{% elseif p_current_language == "zh-hant" %}多米尼加{% else %} 多米尼加{% endif %}</span></div>
                      <div class="Telephone_row_select2_div"><li data-value="849">849</li><span>{% if p_current_language == "en" %} Dominican Republic{% elseif p_current_language == "zh-hant" %}多明尼加共和國{% else %} 多明尼加共和国{% endif %}</span></div>
                      <div class="Telephone_row_select2_div"><li data-value="670">670</li><span>{% if p_current_language == "en" %} East Timor{% elseif p_current_language == "zh-hant" %}東帝汶{% else %} 东帝汶{% endif %}</span></div>
                      <div class="Telephone_row_select2_div"><li data-value="593">593</li><span>{% if p_current_language == "en" %} Ecuador{% elseif p_current_language == "zh-hant" %}厄瓜多爾{% else %} 厄瓜多尔{% endif %}</span></div>
                      <div class="Telephone_row_select2_div"><li data-value="20">20</li><span>{% if p_current_language == "en" %} Egypt{% elseif p_current_language == "zh-hant" %}埃及{% else %} 埃及{% endif %}</span></div>
                      <div class="Telephone_row_select2_div"><li data-value="503">503</li><span>{% if p_current_language == "en" %} El Salvador{% elseif p_current_language == "zh-hant" %}薩爾瓦多{% else %} 萨尔瓦多{% endif %}</span></div>
                      <div class="Telephone_row_select2_div"><li data-value="240">240</li><span>{% if p_current_language == "en" %} Equatorial Guinea{% elseif p_current_language == "zh-hant" %}赤道幾內亞{% else %} 赤道几内亚{% endif %}</span></div>
                      <div class="Telephone_row_select2_div"><li data-value="291">291</li><span>{% if p_current_language == "en" %} Eritrea{% elseif p_current_language == "zh-hant" %}厄立特里亞{% else %} 厄立特里亚{% endif %}</span></div>
                      <div class="Telephone_row_select2_div"><li data-value="372">372</li><span>{% if p_current_language == "en" %} Estonia{% elseif p_current_language == "zh-hant" %}愛沙尼亞{% else %} 爱沙尼亚{% endif %}</span></div>
                      <div class="Telephone_row_select2_div"><li data-value="251">251</li><span>{% if p_current_language == "en" %} Ethiopia{% elseif p_current_language == "zh-hant" %}埃塞俄比亞{% else %} 埃塞俄比亚{% endif %}</span></div>
                      <div class="Telephone_row_select2_div"><li data-value="500">500</li><span>{% if p_current_language == "en" %} Falkland Islands{% elseif p_current_language == "zh-hant" %}福克蘭群島{% else %} 福克兰群岛{% endif %}</span></div>
                      <div class="Telephone_row_select2_div"><li data-value="298">298</li><span>{% if p_current_language == "en" %} Faroe Islands{% elseif p_current_language == "zh-hant" %}法羅群島{% else %} 法罗群岛{% endif %}</span></div>
                      <div class="Telephone_row_select2_div"><li data-value="679">679</li><span>{% if p_current_language == "en" %} Fiji{% elseif p_current_language == "zh-hant" %}斐濟{% else %} 斐济{% endif %}</span></div>
                      <div class="Telephone_row_select2_div"><li data-value="358">358</li><span>{% if p_current_language == "en" %} Finland{% elseif p_current_language == "zh-hant" %}芬蘭{% else %} 芬兰{% endif %}</span></div>
                      <div class="Telephone_row_select2_div"><li data-value="33">33</li><span>{% if p_current_language == "en" %} France{% elseif p_current_language == "zh-hant" %}法國{% else %} 法国{% endif %}</span></div>
                      <div class="Telephone_row_select2_div"><li data-value="99">99</li><span>{% if p_current_language == "en" %} French Guiana{% elseif p_current_language == "zh-hant" %}法屬圭亞那{% else %} 法属圭亚那{% endif %}</span></div>
                      <div class="Telephone_row_select2_div"><li data-value="689">689</li><span>{% if p_current_language == "en" %} French Polynesia{% elseif p_current_language == "zh-hant" %}法屬玻里尼西亞{% else %} 法属玻里尼西亚{% endif %}</span></div>
                      <div class="Telephone_row_select2_div"><li data-value="99">99</li><span>{% if p_current_language == "en" %} French Souther Territories{% elseif p_current_language == "zh-hant" %}法屬南部領地{% else %} 法属南部领地{% endif %}</span></div>
                      <div class="Telephone_row_select2_div"><li data-value="241">241</li><span>{% if p_current_language == "en" %} Gabon{% elseif p_current_language == "zh-hant" %}加蓬{% else %} 加蓬{% endif %}</span></div>
                      <div class="Telephone_row_select2_div"><li data-value="220">220</li><span>{% if p_current_language == "en" %} Gambia{% elseif p_current_language == "zh-hant" %}甘比亞{% else %} 甘比亚{% endif %}</span></div>
                      <div class="Telephone_row_select2_div"><li data-value="995">995</li><span>{% if p_current_language == "en" %} Georgia{% elseif p_current_language == "zh-hant" %}格魯吉亞{% else %} 格鲁吉亚{% endif %}</span></div>
                      <div class="Telephone_row_select2_div"><li data-value="49">49</li><span>{% if p_current_language == "en" %} Germany{% elseif p_current_language == "zh-hant" %}德國{% else %} 德国{% endif %}</span></div>
                      <div class="Telephone_row_select2_div"><li data-value="233">233</li><span>{% if p_current_language == "en" %} Ghana{% elseif p_current_language == "zh-hant" %}加納{% else %} 加纳{% endif %}</span></div>
                      <div class="Telephone_row_select2_div"><li data-value="350">350</li><span>{% if p_current_language == "en" %} Gibraltar{% elseif p_current_language == "zh-hant" %}直布羅陀{% else %} 直布罗陀{% endif %}</span></div>
                      <div class="Telephone_row_select2_div"><li data-value="30">30</li><span>{% if p_current_language == "en" %} Greece{% elseif p_current_language == "zh-hant" %}希臘{% else %} 希腊{% endif %}</span></div>
                      <div class="Telephone_row_select2_div"><li data-value="299">299</li><span>{% if p_current_language == "en" %} Greenland{% elseif p_current_language == "zh-hant" %}格陵蘭{% else %} 格陵兰{% endif %}</span></div>
                      <div class="Telephone_row_select2_div"><li data-value="473">473</li><span>{% if p_current_language == "en" %} Grenada{% elseif p_current_language == "zh-hant" %}格瑞那達{% else %} 格瑞那达{% endif %}</span></div>
                      <div class="Telephone_row_select2_div"><li data-value="590">590</li><span>{% if p_current_language == "en" %} Guadeloupe/St Martin{% elseif p_current_language == "zh-hant" %}瓜德羅普島/聖馬丁{% else %} 瓜德罗普岛/圣马丁{% endif %}</span></div>
                      <div class="Telephone_row_select2_div"><li data-value="671">671</li><span>{% if p_current_language == "en" %} Guam{% elseif p_current_language == "zh-hant" %}關島{% else %} 关岛{% endif %}</span></div>
                      <div class="Telephone_row_select2_div"><li data-value="502">502</li><span>{% if p_current_language == "en" %} Guatemala{% elseif p_current_language == "zh-hant" %}危地馬拉{% else %} 危地马拉{% endif %}</span></div>
                      <div class="Telephone_row_select2_div"><li data-value="224">224</li><span>{% if p_current_language == "en" %} Guinea{% elseif p_current_language == "zh-hant" %}幾內亞{% else %} 几内亚{% endif %}</span></div>
                      <div class="Telephone_row_select2_div"><li data-value="245">245</li><span>{% if p_current_language == "en" %} Guinea Bissau{% elseif p_current_language == "zh-hant" %}幾內亞比索{% else %} 几内亚比索{% endif %}</span></div>
                      <div class="Telephone_row_select2_div"><li data-value="592">592</li><span>{% if p_current_language == "en" %} Guyana{% elseif p_current_language == "zh-hant" %}圭亞那{% else %} 圭亚那{% endif %}</span></div>
                      <div class="Telephone_row_select2_div"><li data-value="509">509</li><span>{% if p_current_language == "en" %} Haiti{% elseif p_current_language == "zh-hant" %}海地{% else %} 海地{% endif %}</span></div>
                      <div class="Telephone_row_select2_div"><li data-value="99">99</li><span>{% if p_current_language == "en" %} Heard and McDonald Islands{% elseif p_current_language == "zh-hant" %}赫德和麥克唐納群島{% else %} 赫德和麦克唐纳群岛{% endif %}</span></div>
                      <div class="Telephone_row_select2_div"><li data-value="504">504</li><span>{% if p_current_language == "en" %} Honduras{% elseif p_current_language == "zh-hant" %}洪都拉斯{% else %} 洪都拉斯{% endif %}</span></div>
                      <div class="Telephone_row_select2_div"><li data-value="36">36</li><span>{% if p_current_language == "en" %} Hungary{% elseif p_current_language == "zh-hant" %}匈牙利{% else %} 匈牙利{% endif %}</span></div>
                      <div class="Telephone_row_select2_div"><li data-value="354">354</li><span>{% if p_current_language == "en" %} Iceland{% elseif p_current_language == "zh-hant" %}冰島{% else %} 冰岛{% endif %}</span></div>
                      <div class="Telephone_row_select2_div"><li data-value="91">91</li><span>{% if p_current_language == "en" %} India{% elseif p_current_language == "zh-hant" %}印度{% else %} 印度{% endif %}</span></div>
                      <div class="Telephone_row_select2_div"><li data-value="62">62</li><span>{% if p_current_language == "en" %} Indonesia{% elseif p_current_language == "zh-hant" %}印度尼西亞{% else %} 印度尼西亚{% endif %}</span></div>
                      <div class="Telephone_row_select2_div"><li data-value="98">98</li><span>{% if p_current_language == "en" %} Iran{% elseif p_current_language == "zh-hant" %}伊朗{% else %} 伊朗{% endif %}</span></div>
                      <div class="Telephone_row_select2_div"><li data-value="964">964</li><span>{% if p_current_language == "en" %} Iraq{% elseif p_current_language == "zh-hant" %}伊拉克{% else %} 伊拉克{% endif %}</span></div>
                      <div class="Telephone_row_select2_div"><li data-value="353">353</li><span>{% if p_current_language == "en" %} Ireland{% elseif p_current_language == "zh-hant" %}愛爾蘭{% else %} 爱尔兰{% endif %}</span></div>
                      <div class="Telephone_row_select2_div"><li data-value="44">44</li><span>{% if p_current_language == "en" %} Isle Of Man{% elseif p_current_language == "zh-hant" %}曼島{% else %} 曼岛{% endif %}</span></div>
                      <div class="Telephone_row_select2_div"><li data-value="972">972</li><span>{% if p_current_language == "en" %} Israel{% elseif p_current_language == "zh-hant" %}以色列{% else %} 以色列{% endif %}</span></div>
                      <div class="Telephone_row_select2_div"><li data-value="39">39</li><span>{% if p_current_language == "en" %} Italy{% elseif p_current_language == "zh-hant" %}意大利{% else %} 意大利{% endif %}</span></div>
                      <div class="Telephone_row_select2_div"><li data-value="876">876</li><span>{% if p_current_language == "en" %} Jamaica{% elseif p_current_language == "zh-hant" %}牙買加{% else %} 牙买加{% endif %}</span></div>
                      <div class="Telephone_row_select2_div"><li data-value="962">962</li><span>{% if p_current_language == "en" %} Jordan{% elseif p_current_language == "zh-hant" %}約旦{% else %} 约旦{% endif %}</span></div>
                      <div class="Telephone_row_select2_div"><li data-value="7">7</li><span>{% if p_current_language == "en" %} Kazakhstan{% elseif p_current_language == "zh-hant" %}哈薩克斯坦{% else %} 哈萨克斯坦{% endif %}</span></div>
                      <div class="Telephone_row_select2_div"><li data-value="254">254</li><span>{% if p_current_language == "en" %} Kenya{% elseif p_current_language == "zh-hant" %}肯亞{% else %} 肯亚{% endif %}</span></div>
                      <div class="Telephone_row_select2_div"><li data-value="686">686</li><span>{% if p_current_language == "en" %} Kiribati{% elseif p_current_language == "zh-hant" %}吉里巴斯{% else %} 吉里巴斯{% endif %}</span></div>
                      <div class="Telephone_row_select2_div"><li data-value="850">850</li><span>{% if p_current_language == "en" %} Korea,Democratic People's Republic of{% elseif p_current_language == "zh-hant" %}朝鮮{% else %} 朝鲜{% endif %}</span></div>
                      <div class="Telephone_row_select2_div"><li data-value="965">965</li><span>{% if p_current_language == "en" %} Kuwait{% elseif p_current_language == "zh-hant" %}科威特{% else %} 科威特{% endif %}</span></div>
                      <div class="Telephone_row_select2_div"><li data-value="99">99</li><span>{% if p_current_language == "en" %} Kyrgzstan{% elseif p_current_language == "zh-hant" %}吉爾吉斯斯坦{% else %} 吉尔吉斯斯坦{% endif %}</span></div>
                      <div class="Telephone_row_select2_div"><li data-value="856">856</li><span>{% if p_current_language == "en" %} Laos{% elseif p_current_language == "zh-hant" %}老撾{% else %} 老挝{% endif %}</span></div>
                      <div class="Telephone_row_select2_div"><li data-value="371">371</li><span>{% if p_current_language == "en" %} Latvia{% elseif p_current_language == "zh-hant" %}拉脫維亞{% else %} 拉脱维亚{% endif %}</span></div>
                      <div class="Telephone_row_select2_div"><li data-value="961">961</li><span>{% if p_current_language == "en" %} Lebanon{% elseif p_current_language == "zh-hant" %}黎巴嫩{% else %} 黎巴嫩{% endif %}</span></div>
                      <div class="Telephone_row_select2_div"><li data-value="266">266</li><span>{% if p_current_language == "en" %} Lesotho{% elseif p_current_language == "zh-hant" %}萊索托{% else %} 莱索托{% endif %}</span></div>
                      <div class="Telephone_row_select2_div"><li data-value="231">231</li><span>{% if p_current_language == "en" %} Liberia{% elseif p_current_language == "zh-hant" %}利比里亞{% else %} 利比里亚{% endif %}</span></div>
                      <div class="Telephone_row_select2_div"><li data-value="99">99</li><span>{% if p_current_language == "en" %} Libyan Arab Jamahiriya{% elseif p_current_language == "zh-hant" %}阿拉伯利比亞民眾國{% else %} 阿拉伯利比亚民众国{% endif %}</span></div>
                      <div class="Telephone_row_select2_div"><li data-value="423">423</li><span>{% if p_current_language == "en" %} Liechtenstein{% elseif p_current_language == "zh-hant" %}列支敦士登{% else %} 列支敦士登{% endif %}</span></div>
                      <div class="Telephone_row_select2_div"><li data-value="370">370</li><span>{% if p_current_language == "en" %} Lithuania{% elseif p_current_language == "zh-hant" %}立陶宛{% else %} 立陶宛{% endif %}</span></div>
                      <div class="Telephone_row_select2_div"><li data-value="352">352</li><span>{% if p_current_language == "en" %} Luxembourg{% elseif p_current_language == "zh-hant" %}盧森堡{% else %} 卢森堡{% endif %}</span></div>
                      <div class="Telephone_row_select2_div"><li data-value="389">389</li><span>{% if p_current_language == "en" %} Macedonia{% elseif p_current_language == "zh-hant" %}馬其頓{% else %} 马其顿{% endif %}</span></div>
                      <div class="Telephone_row_select2_div"><li data-value="261">261</li><span>{% if p_current_language == "en" %} Madagascar{% elseif p_current_language == "zh-hant" %}馬達加斯加{% else %} 马达加斯加{% endif %}</span></div>
                      <div class="Telephone_row_select2_div"><li data-value="265">265</li><span>{% if p_current_language == "en" %} Malawi{% elseif p_current_language == "zh-hant" %}馬拉威{% else %} 马拉威{% endif %}</span></div>
                      <div class="Telephone_row_select2_div"><li data-value="60">60</li><span>{% if p_current_language == "en" %} Malaysia{% elseif p_current_language == "zh-hant" %}馬來西亞{% else %} 马来西亚{% endif %}</span></div>
                      <div class="Telephone_row_select2_div"><li data-value="960">960</li><span>{% if p_current_language == "en" %} Maldives{% elseif p_current_language == "zh-hant" %}馬爾地夫{% else %} 马尔地夫{% endif %}</span></div>
                      <div class="Telephone_row_select2_div"><li data-value="223">223</li><span>{% if p_current_language == "en" %} Mali{% elseif p_current_language == "zh-hant" %}馬里{% else %} 马里{% endif %}</span></div>
                      <div class="Telephone_row_select2_div"><li data-value="356">356</li><span>{% if p_current_language == "en" %} Malta{% elseif p_current_language == "zh-hant" %}馬爾他{% else %} 马尔他{% endif %}</span></div>
                      <div class="Telephone_row_select2_div"><li data-value="692">692</li><span>{% if p_current_language == "en" %} Marshall Islands{% elseif p_current_language == "zh-hant" %}馬紹爾群島{% else %} 马绍尔群岛{% endif %}</span></div>
                      <div class="Telephone_row_select2_div"><li data-value="99">99</li><span>{% if p_current_language == "en" %} Martinique{% elseif p_current_language == "zh-hant" %}法屬馬丁尼克{% else %} 法属马丁尼克{% endif %}</span></div>
                      <div class="Telephone_row_select2_div"><li data-value="222">222</li><span>{% if p_current_language == "en" %} Mauritania{% elseif p_current_language == "zh-hant" %}毛里塔尼亞{% else %} 毛里塔尼亚{% endif %}</span></div>
                      <div class="Telephone_row_select2_div"><li data-value="230">230</li><span>{% if p_current_language == "en" %} Mauritius{% elseif p_current_language == "zh-hant" %}毛里求斯{% else %} 毛里求斯{% endif %}</span></div>
                      <div class="Telephone_row_select2_div"><li data-value="262">262</li><span>{% if p_current_language == "en" %} Mayotte{% elseif p_current_language == "zh-hant" %}馬約特{% else %} 马约特{% endif %}</span></div>
                      <div class="Telephone_row_select2_div"><li data-value="52">52</li><span>{% if p_current_language == "en" %} Mexico{% elseif p_current_language == "zh-hant" %}墨西哥{% else %} 墨西哥{% endif %}</span></div>
                      <div class="Telephone_row_select2_div"><li data-value="691">691</li><span>{% if p_current_language == "en" %} Micronesia, Federated States of{% elseif p_current_language == "zh-hant" %}密克羅尼西亞聯邦{% else %} 密克罗尼西亚联邦{% endif %}</span></div>
                      <div class="Telephone_row_select2_div"><li data-value="99">99</li><span>{% if p_current_language == "en" %} Midway Islands{% elseif p_current_language == "zh-hant" %}中途島{% else %} 中途岛{% endif %}</span></div>
                      <div class="Telephone_row_select2_div"><li data-value="373">373</li><span>{% if p_current_language == "en" %} Moldova{% elseif p_current_language == "zh-hant" %}摩爾多瓦{% else %} 摩尔多瓦{% endif %}</span></div>
                      <div class="Telephone_row_select2_div"><li data-value="377">377</li><span>{% if p_current_language == "en" %} Monaco{% elseif p_current_language == "zh-hant" %}摩納哥{% else %} 摩纳哥{% endif %}</span></div>
                      <div class="Telephone_row_select2_div"><li data-value="976">976</li><span>{% if p_current_language == "en" %} Mongolia{% elseif p_current_language == "zh-hant" %}蒙古{% else %} 蒙古{% endif %}</span></div>
                      <div class="Telephone_row_select2_div"><li data-value="382">382</li><span>{% if p_current_language == "en" %} Montenegro{% elseif p_current_language == "zh-hant" %}黑山{% else %} 黑山{% endif %}</span></div>
                      <div class="Telephone_row_select2_div"><li data-value="664">664</li><span>{% if p_current_language == "en" %} Montserrat{% elseif p_current_language == "zh-hant" %}蒙瑟拉特島{% else %} 蒙瑟拉特岛{% endif %}</span></div>
                      <div class="Telephone_row_select2_div"><li data-value="212">212</li><span>{% if p_current_language == "en" %} Morocco{% elseif p_current_language == "zh-hant" %}摩洛哥{% else %} 摩洛哥{% endif %}</span></div>
                      <div class="Telephone_row_select2_div"><li data-value="258">258</li><span>{% if p_current_language == "en" %} Mozambique{% elseif p_current_language == "zh-hant" %}莫桑比克{% else %} 莫桑比克{% endif %}</span></div>
                      <div class="Telephone_row_select2_div"><li data-value="95">95</li><span>{% if p_current_language == "en" %} Myanmar{% elseif p_current_language == "zh-hant" %}緬甸{% else %} 缅甸{% endif %}</span></div>
                      <div class="Telephone_row_select2_div"><li data-value="264">264</li><span>{% if p_current_language == "en" %} Namibia{% elseif p_current_language == "zh-hant" %}納米比亞{% else %} 纳米比亚{% endif %}</span></div>
                      <div class="Telephone_row_select2_div"><li data-value="674">674</li><span>{% if p_current_language == "en" %} Nauru{% elseif p_current_language == "zh-hant" %}瑙魯{% else %} 瑙鲁{% endif %}</span></div>
                      <div class="Telephone_row_select2_div"><li data-value="977">977</li><span>{% if p_current_language == "en" %} Nepal{% elseif p_current_language == "zh-hant" %}尼泊爾{% else %} 尼泊尔{% endif %}</span></div>
                      <div class="Telephone_row_select2_div"><li data-value="31">31</li><span>{% if p_current_language == "en" %} Netherlands{% elseif p_current_language == "zh-hant" %}荷蘭{% else %} 荷属安替列斯{% endif %}</span></div>
                      <div class="Telephone_row_select2_div"><li data-value="599">599</li><span>{% if p_current_language == "en" %} Netherlands Antilles{% elseif p_current_language == "zh-hant" %}荷屬安的列斯{% else %} 荷兰{% endif %}</span></div>
                      <div class="Telephone_row_select2_div"><li data-value="687">687</li><span>{% if p_current_language == "en" %} New Caledonia{% elseif p_current_language == "zh-hant" %}新喀裡多尼亞{% else %} 新喀里多尼亚{% endif %}</span></div>
                      <div class="Telephone_row_select2_div"><li data-value="64">64</li><span>{% if p_current_language == "en" %} New Zealand{% elseif p_current_language == "zh-hant" %}新西蘭{% else %} 新西兰{% endif %}</span></div>
                      <div class="Telephone_row_select2_div"><li data-value="505">505</li><span>{% if p_current_language == "en" %} Nicaragua{% elseif p_current_language == "zh-hant" %}尼加拉瓜{% else %} 尼加拉瓜{% endif %}</span></div>
                      <div class="Telephone_row_select2_div"><li data-value="227">227</li><span>{% if p_current_language == "en" %} Niger{% elseif p_current_language == "zh-hant" %}尼日爾{% else %} 尼日尔{% endif %}</span></div>
                      <div class="Telephone_row_select2_div"><li data-value="234">234</li><span>{% if p_current_language == "en" %} Nigeria{% elseif p_current_language == "zh-hant" %}尼日利亞{% else %} 尼日利亚{% endif %}</span></div>
                      <div class="Telephone_row_select2_div"><li data-value="683">683</li><span>{% if p_current_language == "en" %} Niue{% elseif p_current_language == "zh-hant" %}紐埃{% else %} 纽埃{% endif %}</span></div>
                      <div class="Telephone_row_select2_div"><li data-value="99">99</li><span>{% if p_current_language == "en" %} Norfolk Island{% elseif p_current_language == "zh-hant" %}諾福克島{% else %} 诺福克岛{% endif %}</span></div>
                      <div class="Telephone_row_select2_div"><li data-value="670">670</li><span>{% if p_current_language == "en" %} Northern Mariana Islands{% elseif p_current_language == "zh-hant" %}北馬里安納群島{% else %} 北马里安纳群岛{% endif %}</span></div>
                      <div class="Telephone_row_select2_div"><li data-value="47">47</li><span>{% if p_current_language == "en" %} Norway{% elseif p_current_language == "zh-hant" %}挪威{% else %} 挪威{% endif %}</span></div>
                      <div class="Telephone_row_select2_div"><li data-value="968">968</li><span>{% if p_current_language == "en" %} Oman{% elseif p_current_language == "zh-hant" %}阿曼{% else %} 阿曼{% endif %}</span></div>
                      <div class="Telephone_row_select2_div"><li data-value="92">92</li><span>{% if p_current_language == "en" %} Pakistan{% elseif p_current_language == "zh-hant" %}巴基斯坦{% else %} 巴基斯坦{% endif %}</span></div>
                      <div class="Telephone_row_select2_div"><li data-value="680">680</li><span>{% if p_current_language == "en" %} Palau{% elseif p_current_language == "zh-hant" %}帛琉{% else %} 帕劳{% endif %}</span></div>
                      <div class="Telephone_row_select2_div"><li data-value="507">507</li><span>{% if p_current_language == "en" %} Panama{% elseif p_current_language == "zh-hant" %}巴拿馬{% else %} 巴拿马{% endif %}</span></div>
                      <div class="Telephone_row_select2_div"><li data-value="675">675</li><span>{% if p_current_language == "en" %} Papua New Guinea{% elseif p_current_language == "zh-hant" %}巴布亞紐幾內亞{% else %} 巴布亚纽几内亚{% endif %}</span></div>
                      <div class="Telephone_row_select2_div"><li data-value="595">595</li><span>{% if p_current_language == "en" %} Paraguay{% elseif p_current_language == "zh-hant" %}巴拉圭{% else %} 巴拉圭{% endif %}</span></div>
                      <div class="Telephone_row_select2_div"><li data-value="51">51</li><span>{% if p_current_language == "en" %} Peru{% elseif p_current_language == "zh-hant" %}秘魯{% else %} 秘鲁{% endif %}</span></div>
                      <div class="Telephone_row_select2_div"><li data-value="63">63</li><span>{% if p_current_language == "en" %} Philippines{% elseif p_current_language == "zh-hant" %}菲律賓{% else %} 菲律宾{% endif %}</span></div>
                      <div class="Telephone_row_select2_div"><li data-value="64">64</li><span>{% if p_current_language == "en" %} Pitcairn{% elseif p_current_language == "zh-hant" %}皮特凱恩{% else %} 皮特凯恩{% endif %}</span></div>
                      <div class="Telephone_row_select2_div"><li data-value="48">48</li><span>{% if p_current_language == "en" %} Poland{% elseif p_current_language == "zh-hant" %}波蘭{% else %} 波兰{% endif %}</span></div>
                      <div class="Telephone_row_select2_div"><li data-value="351">351</li><span>{% if p_current_language == "en" %} Portugal{% elseif p_current_language == "zh-hant" %}葡萄牙{% else %} 葡萄牙{% endif %}</span></div>
                      <div class="Telephone_row_select2_div"><li data-value="939">939</li><span>{% if p_current_language == "en" %} Puerto Rico{% elseif p_current_language == "zh-hant" %}波多黎各{% else %} 波多黎各{% endif %}</span></div>
                      <div class="Telephone_row_select2_div"><li data-value="974">974</li><span>{% if p_current_language == "en" %} Qatar{% elseif p_current_language == "zh-hant" %}卡塔爾{% else %} 卡塔尔{% endif %}</span></div>
                      <div class="Telephone_row_select2_div"><li data-value="262">262</li><span>{% if p_current_language == "en" %} Reunion{% elseif p_current_language == "zh-hant" %}留尼旺{% else %} 留尼旺{% endif %}</span></div>
                      <div class="Telephone_row_select2_div"><li data-value="40">40</li><span>{% if p_current_language == "en" %} Romania{% elseif p_current_language == "zh-hant" %}羅馬尼亞{% else %} 罗马尼亚{% endif %}</span></div>
                      <div class="Telephone_row_select2_div"><li data-value="99">99</li><span>{% if p_current_language == "en" %} Russia{% elseif p_current_language == "zh-hant" %}俄國{% else %} 俄国{% endif %}</span></div>
                      <div class="Telephone_row_select2_div"><li data-value="7">7</li><span>{% if p_current_language == "en" %} Russian Federation{% elseif p_current_language == "zh-hant" %}俄羅斯聯邦{% else %} 俄罗斯联邦{% endif %}</span></div>
                      <div class="Telephone_row_select2_div"><li data-value="250">250</li><span>{% if p_current_language == "en" %} Rwanda{% elseif p_current_language == "zh-hant" %}盧旺達{% else %} 卢旺达{% endif %}</span></div>
                      <div class="Telephone_row_select2_div"><li data-value="290">290</li><span>{% if p_current_language == "en" %} Saint Helena{% elseif p_current_language == "zh-hant" %}聖赫勒拿{% else %} 圣赫勒拿{% endif %}</span></div>
                      <div class="Telephone_row_select2_div"><li data-value="869">869</li><span>{% if p_current_language == "en" %} Saint Kitts and Nevis{% elseif p_current_language == "zh-hant" %}聖基茨和尼維斯{% else %} 圣基茨和尼维斯{% endif %}</span></div>
                      <div class="Telephone_row_select2_div"><li data-value="758">758</li><span>{% if p_current_language == "en" %} Saint Lucia{% elseif p_current_language == "zh-hant" %}聖露西亞{% else %} 圣露西亚{% endif %}</span></div>
                      <div class="Telephone_row_select2_div"><li data-value="508">508</li><span>{% if p_current_language == "en" %} Saint Pierre And Miquelon{% elseif p_current_language == "zh-hant" %}聖皮爾和密克隆{% else %} 圣皮尔和密克隆{% endif %}</span></div>
                      <div class="Telephone_row_select2_div"><li data-value="784">784</li><span>{% if p_current_language == "en" %} Saint Vincent And The Grenadines{% elseif p_current_language == "zh-hant" %}聖文森特和格林納丁斯群島{% else %} 圣文森特和格林纳丁斯群岛{% endif %}</span></div>
                      <div class="Telephone_row_select2_div"><li data-value="685">685</li><span>{% if p_current_language == "en" %} Samoa{% elseif p_current_language == "zh-hant" %}薩摩亞{% else %} 萨摩亚{% endif %}</span></div>
                      <div class="Telephone_row_select2_div"><li data-value="378">378</li><span>{% if p_current_language == "en" %} San Marino{% elseif p_current_language == "zh-hant" %}聖馬力諾{% else %} 圣马力诺{% endif %}</span></div>
                      <div class="Telephone_row_select2_div"><li data-value="239">239</li><span>{% if p_current_language == "en" %} Sao Tome and Principe{% elseif p_current_language == "zh-hant" %}聖多美和普林西比{% else %} 圣多美和普林西比{% endif %}</span></div>
                      <div class="Telephone_row_select2_div"><li data-value="966">966</li><span>{% if p_current_language == "en" %} Saudi Arabia{% elseif p_current_language == "zh-hant" %}沙烏地阿拉伯{% else %} 沙乌地阿拉伯{% endif %}</span></div>
                      <div class="Telephone_row_select2_div"><li data-value="221">221</li><span>{% if p_current_language == "en" %} Senegal{% elseif p_current_language == "zh-hant" %}塞內加爾{% else %} 塞内加尔{% endif %}</span></div>
                      <div class="Telephone_row_select2_div"><li data-value="381">381</li><span>{% if p_current_language == "en" %} Serbia{% elseif p_current_language == "zh-hant" %}塞爾維亞{% else %} 塞尔维亚{% endif %}</span></div>
                      <div class="Telephone_row_select2_div"><li data-value="248">248</li><span>{% if p_current_language == "en" %} Seychelles{% elseif p_current_language == "zh-hant" %}塞舌爾{% else %} 塞席尔{% endif %}</span></div>
                      <div class="Telephone_row_select2_div"><li data-value="232">232</li><span>{% if p_current_language == "en" %} Sierra Leone{% elseif p_current_language == "zh-hant" %}塞拉利昂{% else %} 塞拉利昂{% endif %}</span></div>
                      <div class="Telephone_row_select2_div"><li data-value="65">65</li><span>{% if p_current_language == "en" %} Singapore{% elseif p_current_language == "zh-hant" %}新加坡{% else %} 新加坡{% endif %}</span></div>
                      <div class="Telephone_row_select2_div"><li data-value="721">721</li><span>{% if p_current_language == "en" %} Sint Maarten{% elseif p_current_language == "zh-hant" %}荷屬聖馬丁{% else %} 圣马丁岛{% endif %}</span></div>
                      <div class="Telephone_row_select2_div"><li data-value="421">421</li><span>{% if p_current_language == "en" %} Slovakia{% elseif p_current_language == "zh-hant" %}斯洛伐克{% else %} 斯洛伐克{% endif %}</span></div>
                      <div class="Telephone_row_select2_div"><li data-value="386">386</li><span>{% if p_current_language == "en" %} Slovenia{% elseif p_current_language == "zh-hant" %}斯洛文尼亞{% else %} 斯洛文尼亚{% endif %}</span></div>
                      <div class="Telephone_row_select2_div"><li data-value="677">677</li><span>{% if p_current_language == "en" %} Solomon Islands{% elseif p_current_language == "zh-hant" %}所羅門群島{% else %} 所罗门群岛{% endif %}</span></div>
                      <div class="Telephone_row_select2_div"><li data-value="252">252</li><span>{% if p_current_language == "en" %} Somalia{% elseif p_current_language == "zh-hant" %}索馬里{% else %} 索马里{% endif %}</span></div>
                      <div class="Telephone_row_select2_div"><li data-value="27">27</li><span>{% if p_current_language == "en" %} South Africa{% elseif p_current_language == "zh-hant" %}南非{% else %} 南非{% endif %}</span></div>
                      <div class="Telephone_row_select2_div"><li data-value="99">99</li><span>{% if p_current_language == "en" %} South Georgia and the South Sandwich Islands{% elseif p_current_language == "zh-hant" %}南喬治亞島和南桑威奇群島{% else %} 南乔治亚岛和南桑威奇群岛{% endif %}</span></div>
                      <div class="Telephone_row_select2_div"><li data-value="211">211</li><span>{% if p_current_language == "en" %} South Sudan{% elseif p_current_language == "zh-hant" %}南蘇丹{% else %} 南苏丹{% endif %}</span></div>
                      <div class="Telephone_row_select2_div"><li data-value="34">34</li><span>{% if p_current_language == "en" %} Spain{% elseif p_current_language == "zh-hant" %}西班牙{% else %} 西班牙{% endif %}</span></div>
                      <div class="Telephone_row_select2_div"><li data-value="94">94</li><span>{% if p_current_language == "en" %} Sri Lanka{% elseif p_current_language == "zh-hant" %}斯里蘭卡{% else %} 斯里兰卡{% endif %}</span></div>
                      <div class="Telephone_row_select2_div"><li data-value="249">249</li><span>{% if p_current_language == "en" %} Sudan{% elseif p_current_language == "zh-hant" %}蘇丹{% else %} 苏丹{% endif %}</span></div>
                      <div class="Telephone_row_select2_div"><li data-value="597">597</li><span>{% if p_current_language == "en" %} Suriname{% elseif p_current_language == "zh-hant" %}蘇利南{% else %} 苏利南{% endif %}</span></div>
                      <div class="Telephone_row_select2_div"><li data-value="99">99</li><span>{% if p_current_language == "en" %} Svalbard and Jan Mayen Islands{% elseif p_current_language == "zh-hant" %}斯瓦爾巴特群島和揚馬延群島{% else %} 斯瓦尔巴特群岛和扬马延岛{% endif %}</span></div>
                      <div class="Telephone_row_select2_div"><li data-value="268">268</li><span>{% if p_current_language == "en" %} Swaziland{% elseif p_current_language == "zh-hant" %}斯威士蘭{% else %} 斯威士兰{% endif %}</span></div>
                      <div class="Telephone_row_select2_div"><li data-value="46">46</li><span>{% if p_current_language == "en" %} Sweden{% elseif p_current_language == "zh-hant" %}瑞典{% else %} 瑞典{% endif %}</span></div>
                      <div class="Telephone_row_select2_div"><li data-value="41">41</li><span>{% if p_current_language == "en" %} Switzerland{% elseif p_current_language == "zh-hant" %}瑞士{% else %} 瑞士{% endif %}</span></div>
                      <div class="Telephone_row_select2_div"><li data-value="963">963</li><span>{% if p_current_language == "en" %} Syria{% elseif p_current_language == "zh-hant" %}敘利亞{% else %} 叙利亚{% endif %}</span></div>
                      <div class="Telephone_row_select2_div"><li data-value="992">992</li><span>{% if p_current_language == "en" %} Tajikistan{% elseif p_current_language == "zh-hant" %}塔吉克斯坦{% else %} 塔吉克斯坦{% endif %}</span></div>
                      <div class="Telephone_row_select2_div"><li data-value="255">255</li><span>{% if p_current_language == "en" %} Tanzania{% elseif p_current_language == "zh-hant" %}坦桑尼亞{% else %} 坦桑尼亚{% endif %}</span></div>
                      <div class="Telephone_row_select2_div"><li data-value="66">66</li><span>{% if p_current_language == "en" %} Thailand{% elseif p_current_language == "zh-hant" %}泰國{% else %} 泰国{% endif %}</span></div>
                      <div class="Telephone_row_select2_div"><li data-value="228">228</li><span>{% if p_current_language == "en" %} Togo{% elseif p_current_language == "zh-hant" %}多哥{% else %} 多哥{% endif %}</span></div>
                      <div class="Telephone_row_select2_div"><li data-value="690">690</li><span>{% if p_current_language == "en" %} Tokelau{% elseif p_current_language == "zh-hant" %}托克勞{% else %} 托克劳{% endif %}</span></div>
                      <div class="Telephone_row_select2_div"><li data-value="676">676</li><span>{% if p_current_language == "en" %} Tonga{% elseif p_current_language == "zh-hant" %}湯加{% else %} 汤加{% endif %}</span></div>
                      <div class="Telephone_row_select2_div"><li data-value="868">868</li><span>{% if p_current_language == "en" %} Trinidad And Tobago{% elseif p_current_language == "zh-hant" %}千里達和多巴哥{% else %} 特立尼达和多巴哥{% endif %}</span></div>
                      <div class="Telephone_row_select2_div"><li data-value="216">216</li><span>{% if p_current_language == "en" %} Tunisia{% elseif p_current_language == "zh-hant" %}突尼斯{% else %} 突尼斯{% endif %}</span></div>
                      <div class="Telephone_row_select2_div"><li data-value="90">90</li><span>{% if p_current_language == "en" %} Turkey{% elseif p_current_language == "zh-hant" %}土耳其{% else %} 土耳其{% endif %}</span></div>
                      <div class="Telephone_row_select2_div"><li data-value="993">993</li><span>{% if p_current_language == "en" %} Turkmenistan{% elseif p_current_language == "zh-hant" %}土庫曼斯坦{% else %} 土库曼斯坦{% endif %}</span></div>
                      <div class="Telephone_row_select2_div"><li data-value="649">649</li><span>{% if p_current_language == "en" %} Turks and Caicos Islands{% elseif p_current_language == "zh-hant" %}特克斯和凱科斯群島{% else %} 特克斯和凯科斯群岛{% endif %}</span></div>
                      <div class="Telephone_row_select2_div"><li data-value="688">688</li><span>{% if p_current_language == "en" %} Tuvalu{% elseif p_current_language == "zh-hant" %}吐瓦魯{% else %} 吐瓦鲁{% endif %}</span></div>
                      <div class="Telephone_row_select2_div"><li data-value="256">256</li><span>{% if p_current_language == "en" %} Uganda{% elseif p_current_language == "zh-hant" %}烏干達{% else %} 乌干达{% endif %}</span></div>
                      <div class="Telephone_row_select2_div"><li data-value="380">380</li><span>{% if p_current_language == "en" %} Ukraine{% elseif p_current_language == "zh-hant" %}烏克蘭{% else %} 乌克兰{% endif %}</span></div>
                      <div class="Telephone_row_select2_div"><li data-value="971">971</li><span>{% if p_current_language == "en" %} United Arab Emirates{% elseif p_current_language == "zh-hant" %}阿拉伯聯合酋長國{% else %} 阿拉伯联合酋长国{% endif %}</span></div>
                      <div class="Telephone_row_select2_div"><li data-value="44">44</li><span>{% if p_current_language == "en" %} United Kingdom{% elseif p_current_language == "zh-hant" %}英國{% else %} 英国{% endif %}</span></div>
                      <div class="Telephone_row_select2_div"><li data-value="99">99</li><span>{% if p_current_language == "en" %} United States Minor Outlying Islands{% elseif p_current_language == "zh-hant" %}美國本土外小島嶼{% else %} 美国本土外小岛屿{% endif %}</span></div>
                      <div class="Telephone_row_select2_div"><li data-value="598">598</li><span>{% if p_current_language == "en" %} Uruguay{% elseif p_current_language == "zh-hant" %}烏拉圭{% else %} 乌拉圭{% endif %}</span></div>
                      <div class="Telephone_row_select2_div"><li data-value="998">998</li><span>{% if p_current_language == "en" %} Uzbekistan{% elseif p_current_language == "zh-hant" %}烏茲別克斯坦{% else %} 乌兹别克斯坦{% endif %}</span></div>
                      <div class="Telephone_row_select2_div"><li data-value="678">678</li><span>{% if p_current_language == "en" %} Vanuatu{% elseif p_current_language == "zh-hant" %}瓦努阿圖{% else %} 瓦努阿图{% endif %}</span></div>
                      <div class="Telephone_row_select2_div"><li data-value="379">379</li><span>{% if p_current_language == "en" %} Vatican City State{% elseif p_current_language == "zh-hant" %}梵蒂岡{% else %} 梵蒂冈{% endif %}</span></div>
                      <div class="Telephone_row_select2_div"><li data-value="58">58</li><span>{% if p_current_language == "en" %} Venezuela{% elseif p_current_language == "zh-hant" %}委內瑞拉{% else %} 委内瑞拉{% endif %}</span></div>
                      <div class="Telephone_row_select2_div"><li data-value="84">84</li><span>{% if p_current_language == "en" %} Vietnam{% elseif p_current_language == "zh-hant" %}越南{% else %} 越南{% endif %}</span></div>
                      <div class="Telephone_row_select2_div"><li data-value="284">284</li><span>{% if p_current_language == "en" %} Virgin Islands, British{% elseif p_current_language == "zh-hant" %}英屬維爾京群島{% else %} 英属维尔京群岛{% endif %}</span></div>
                      <div class="Telephone_row_select2_div"><li data-value="340">340</li><span>{% if p_current_language == "en" %} Virgin Islands, US{% elseif p_current_language == "zh-hant" %}美屬維爾京群島{% else %} 美属维尔京群岛{% endif %}</span></div>
                      <div class="Telephone_row_select2_div"><li data-value="681">681</li><span>{% if p_current_language == "en" %} Wallis and Futuna Islands{% elseif p_current_language == "zh-hant" %}瓦利斯和富圖納群島{% else %} 瓦利斯和富图纳群岛{% endif %}</span></div>
                      <div class="Telephone_row_select2_div"><li data-value="212">212</li><span>{% if p_current_language == "en" %} Western Sahara{% elseif p_current_language == "zh-hant" %}西撒哈拉{% else %} 西撒哈拉{% endif %}</span></div>
                      <div class="Telephone_row_select2_div"><li data-value="967">967</li><span>{% if p_current_language == "en" %} Yemen{% elseif p_current_language == "zh-hant" %}也門{% else %} 也门{% endif %}</span></div>
                      <div class="Telephone_row_select2_div"><li data-value="99">99</li><span>{% if p_current_language == "en" %} Zaire{% elseif p_current_language == "zh-hant" %}薩伊{% else %} 萨伊{% endif %}</span></div>
                      <div class="Telephone_row_select2_div"><li data-value="260">260</li><span>{% if p_current_language == "en" %} Zambia{% elseif p_current_language == "zh-hant" %}贊比亞{% else %} 赞比亚{% endif %}</span></div>
                      <div class="Telephone_row_select2_div"><li data-value="263">263</li><span>{% if p_current_language == "en" %} Zimbabwe{% elseif p_current_language == "zh-hant" %}津巴布韋{% else %} 津巴布韦{% endif %}</span></div>
                    </ul>
                  </div>
                </div>
                <div class="col-md-8 Telephone_row_num">
                  <input type="number" class="form-input" id="TelephoneN" name="telephone" placeholder="{% if p_current_language == "en" %}Please Input Your Phone No.{% elseif p_current_language == "zh-hant" %}請填寫您的電話號碼{% else %}请填写您的电话号码{% endif %}">
                  <div class="Error_Tips3 row">
                    <div class="Error_Tips03">{% if p_current_language == "en" %}Please input your phone no.{% elseif p_current_language == "zh-hant" %}請填寫您的電話號碼{% else %}请填写您的电话号码{% endif %}</div>
                  </div>
                  <div class="Error_Tips_Phone row">
                    <div class="Error_Tips_Phone1">{% if p_current_language == "en" %}Between 7 and 15 characters{% elseif p_current_language == "zh-hant" %}電話號碼介乎7至15位數字{% else %}电话号码介乎7至15位数字{% endif %}</div>
                  </div>
                </div>
              </div>
              
              
            </div><!--Contact No.-->
            <div class="form-group col-md-6">
              <label><span class="reddot">*</span> {% if p_current_language == "en" %}Email Address{% elseif p_current_language == "zh-hant" %}電郵地址{% else %}电邮地址{% endif %}: </label>
              <input class="form-input" id="Email" name="email" placeholder="{% if p_current_language == "en" %}Please Input Your Email Address{% elseif p_current_language == "zh-hant" %}請填寫您的電郵地址{% else %}请填写您的电邮地址{% endif %}">
              <div class="Error_Tips4 row">
                <div class="Error_Tips04">{% if p_current_language == "en" %}Please input the full email address{% elseif p_current_language == "zh-hant" %}請填寫完整的電郵地址{% else %}请填写完整的电邮地址{% endif %}</div>
              </div>
            </div><!--Email-->
            <div class="form-group col-md-6">
              <label>{% if p_current_language == "en" %}Special Request{% elseif p_current_language == "zh-hant" %}特别要求{% else %}特别要求{% endif %}:</label>
              <textarea maxlength="250" class="form-control form-textarea" id="Message" name="message" {% if p_current_language == 'en' %}placeholder="Leave Message Here…"{% elseif p_current_language == 'zh-hant' %}placeholder="如有特別要求，歡迎留言提出…"{% else %}placeholder="如有特别要求，欢迎留言提出…"{% endif %} rows="3"></textarea>
            </div><!--Special Request-->

            <div class="form-group col-md-6 Captcha_row row">
              <label><span class="reddot">*</span> {% if p_current_language == "en" %}Captcha{% elseif p_current_language == "zh-hant" %}驗證碼{% else %}验证码{% endif %}: </label>
              <div class="PVM_Captcha_row">
                <div class="col-md-5 Captcha_input">
                  <input type="text" name="captcha" id="captcha" class="form-input">
                </div>
                <div class="col-md-5 Captcha_img" style="height: 40px;">
                  <img id="code_image" src="{{ pvm_path }}formajax/vcode">
                </div>
                <div class="col-md-2 Captcha_refresh">
                  <img src="{{ theme_path }}/images/refresh.png">
                </div>
              </div>
              
              <div class="Error_Tips_Captcha row">
                <div class="Error_Tips_Captcha1">{% if p_current_language == "en" %}Please input the correct captcha{% elseif p_current_language == "zh-hant" %}請填寫正確的驗證碼{% else %}请填写正确的验证码{% endif %}</div>
              </div>
            </div><!--Captcha-->
          </div>
          <div class="col-md-12 Form_bottom">
            <div class="form-group row">
              <div class="col-sm-12">
                <div class="form-check">
                  <input type="checkbox" id="check-me">
                  <label for="check-me" class="label">
                    <svg viewBox="-9 -9 43 35.191" width="43" height="35">
                      <path id="check-icon" d=" M 0 9 Q 8 17 8 17 Q 8 17 25 0" fill="none" stroke-width="6" stroke="rgb(0,0,0)" stroke-linecap="round" />
                    </svg>
                    {{ content.field_hint }}
                  <div class="Error_Tips6 row">
                    <div class="Error_Tips06">{% if p_current_language == "en" %}Please check the box to proceed{% elseif p_current_language == "zh-hant" %}請剔選方格以繼續{% else %}请勾选方框以继续{% endif %}</div>
                  </div>
                  </label>
                </div>
              </div>
            </div>
            <div class="form-group row">
              <div class="col-sm-12">
                <div class="modal-footer spaform02_footer">
                  <a id="BOOKModal—step2-b">{% if p_current_language == "en" %}BACK{% elseif p_current_language == "zh-hant" %}上一步{% else %}上一步{% endif %}</a>
                  <a id="BOOKModal—step2-s">{% if p_current_language == "en" %}SUBMIT{% elseif p_current_language == "zh-hant" %}提交{% else %}提交{% endif %}</a>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>

    </div>
      <div class="modal-content" id="BOOKModal_step2">
          <div class="modal-header">
            <div class="modal-header-banner">
              <img class="modal-header-banner-forweb" src="{{ file_url(content.field_image[0]['#media'].field_media_image.entity.uri.value) }}" alt="{{ content.field_image[0]['#media'].field_media_image.alt }}">
       {#   <img class="modal-header-banner-fortablet" src="{{ theme_path }}/images/image-22.png">#}
          <img class="modal-header-banner-formobile" src="{{ file_url(content.field_image_mobile[0]['#media'].field_media_image.entity.uri.value) }}" alt="{{ content.field_image_mobile[0]['#media'].field_media_image.alt }}">
            </div>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true"><img src="{{ theme_path }}/images/close.png"></span>
              </button>
          </div>
          <div class="modal-body row">
              <div class="BOOKModal_step2">
                  <div class="BOOKModal_step2_title">
                    <img src="{{ theme_path }}/images/icon13.png">{% if p_current_language == "en" %}Reservation Successful{% elseif p_current_language == "zh-hant" %}預訂成功{% else %}预订成功{% endif %}
                  </div>
                  <div class="BOOKModal_step2_success">
                      {% if p_current_language == "en" %}Thank you for making a reservation with us. We will be in touch soon to confirm the details of your appointment.{% elseif p_current_language == "zh-hant" %}感謝您的預訂，我們將儘快與您聯絡以確認預約詳情。{% else %}感谢您的预订，我们将尽快与您联系以确认预约信息。{% endif %}
                  </div>
              </div>
          </div>
          <div class="modal-footer">
              <a id="BOOKModal—step2-o">{% if p_current_language == "en" %}CLOSE{% elseif p_current_language == "zh-hant" %}關閉{% else %}关闭{% endif %}</a>
          </div>
      </div>
    <div class="modal-content" id="BOOKModal_step3">
      <div class="modal-header">
        <div class="modal-header-banner">
          <img class="modal-header-banner-forweb" src="{{ theme_path }}/images/image-22.png">
          <img class="modal-header-banner-fortablet" src="{{ theme_path }}/images/image-22.png">
          <img class="modal-header-banner-formobile" src="{{ theme_path }}/images/image-22.png">
        </div>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true"><img src="{{ theme_path }}/images/close.png"></span>
        </button>
      </div>
      <div class="modal-body row">
        <div class="BOOKModal_step2">
          <div class="BOOKModal_step2_title">
            <img src="{{ theme_path }}/images/icon12.png">{% if p_current_language == "en" %}Submission failed{% elseif p_current_language == "zh-hant" %}提交失敗{% else %}提交失败{% endif %}
          </div>
          <div class="BOOKModal_step2_success">
            {{ content.field_fail_content }}
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <a id="BOOKModal—step2-o">{% if p_current_language == "en" %}CLOSE{% elseif p_current_language == "zh-hant" %}關閉{% else %}关闭{% endif %}</a>
      </div>
    </div>
  </div>

</div>