{#
/**
 * @file
 * Default theme implementation to display a paragraph.
 *
 * Available variables:
 * - paragraph: Full paragraph entity.
 *   Only method names starting with "get", "has", or "is" and a few common
 *   methods such as "id", "label", and "bundle" are available. For example:
 *   - paragraph.getCreatedTime() will return the paragraph creation timestamp.
 *   - paragraph.id(): The paragraph ID.
 *   - paragraph.bundle(): The type of the paragraph, for example, "image" or "text".
 *   - paragraph.getOwnerId(): The user ID of the paragraph author.
 *   See Drupal\paragraphs\Entity\Paragraph for a full list of public properties
 *   and methods for the paragraph object.
 * - content: All paragraph items. Use {{ content }} to print them all,
 *   or print a subset such as {{ content.field_example }}. Use
 *   {{ content|without('field_example') }} to temporarily suppress the printing
 *   of a given child element.
 * - attributes: HTML attributes for the containing element.
 *   The attributes.class element may contain one or more of the following
 *   classes:
 *   - paragraphs: The current template type (also known as a "theming hook").
 *   - paragraphs--type-[type]: The current paragraphs type. For example, if the paragraph is an
 *     "Image" it would result in "paragraphs--type--image". Note that the machine
 *     name will often be in a short form of the human readable label.
 *   - paragraphs--view-mode--[view_mode]: The View Mode of the paragraph; for example, a
 *     preview would result in: "paragraphs--view-mode--preview", and
 *     default: "paragraphs--view-mode--default".
 * - view_mode: View mode; for example, "preview" or "full".
 * - logged_in: Flag for authenticated user status. Will be true when the
 *   current user is a logged-in member.
 * - is_admin: Flag for admin user status. Will be true when the current user
 *   is an administrator.
 *
 * @see template_preprocess_paragraph()
 *
 * @ingroup themeable
 */
#}
{%
  set classes = [
    'paragraph',
    'paragraph--type--' ~ paragraph.bundle|clean_class,
    view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
    not paragraph.isPublished() ? 'paragraph--unpublished'
  ]
%}
{% block paragraph %}
  {% block content %}
    <div class="col-md-4">
      
      <div id="carousel_p{{ paragraph.id() }}" class="carousel slide PC_index_Carousel" data-ride="carousel">
        {# {% if paragraph.field_img_list.value|length >1 %}
        <ol class="carousel-indicators">
          {% for key, item in paragraph.field_img_list.value %}
          <li data-target="#carousel_p{{ paragraph.id() }}" data-slide-to="{{ key }}" {% if loop.index == 1 %}class="active">{% endif %}</li>
          {% endfor %}
        </ol>
        {% endif %} #}
        <a href="{{ content.field_link[0]['#url'] | render }}">
          <div class="carousel-inner">
            {% for key, item in paragraph.field_img_list.value %}
            <div class="carousel-item {% if loop.index == 1 %}active{% endif %}">
              <a href="{{ content.field_link[0]['#url'] | render }}"><img  src="{{ file_url(content.field_img_list[key]['#media'].field_media_image.entity.uri.value) }}"  alt="{{ content.field_img_list[key]['#media'].field_media_image.alt }}" class="d-block w-100"></a>
            </div>
            {% endfor %}
          </div>
        </a>
      </div>

      <div id="carousel_p{{ paragraph.id() }}" class="carousel slide Mobile_index_Carousel" data-ride="carousel">
        {# {% if paragraph.field_img_list_mobile.value|length >1 %}
          <ol class="carousel-indicators">
            {% for key, item in paragraph.field_img_list_mobile.value %}
              <li data-target="#carousel_p{{ paragraph.id() }}" data-slide-to="{{ key }}" {% if loop.index == 1 %}class="active">{% endif %}</li>
            {% endfor %}
          </ol>
        {% endif %}#}
        <a href="{{ content.field_link[0]['#url'] | render }}"></a>
          <div class="carousel-inner">
            {% for key, item in paragraph.field_img_list_mobile.value %}
              <div class="carousel-item {% if loop.index == 1 %}active{% endif %}">
                <a href="{{ content.field_link[0]['#url'] | render }}"><img  src="{{ file_url(content.field_img_list_mobile[key]['#media'].field_media_image.entity.uri.value) }}"  alt="{{ content.field_img_list_mobile[key]['#media'].field_media_image.alt }}" class="d-block w-100"></a>
              </div>
            {% endfor %}
          </div>
        </a>
      </div>

      <div class="PVM_index_Carousel_detail">
        <h4><a href="{{ content.field_link[0]['#url'] | render }}">{{ content.field_title }}</a></h4>
        {{ content.field_content }}
      </div>
    </div>
  {% endblock %}
{% endblock paragraph %}