{#
/**
 * @file
 * Default theme implementation to display a paragraph.
 *
 * Available variables:
 * - paragraph: Full paragraph entity.
 *   Only method names starting with "get", "has", or "is" and a few common
 *   methods such as "id", "label", and "bundle" are available. For example:
 *   - paragraph.getCreatedTime() will return the paragraph creation timestamp.
 *   - paragraph.id(): The paragraph ID.
 *   - paragraph.bundle(): The type of the paragraph, for example, "image" or "text".
 *   - paragraph.getOwnerId(): The user ID of the paragraph author.
 *   See Drupal\paragraphs\Entity\Paragraph for a full list of public properties
 *   and methods for the paragraph object.
 * - content: All paragraph items. Use {{ content }} to print them all,
 *   or print a subset such as {{ content.field_example }}. Use
 *   {{ content|without('field_example') }} to temporarily suppress the printing
 *   of a given child element.
 * - attributes: HTML attributes for the containing element.
 *   The attributes.class element may contain one or more of the following
 *   classes:
 *   - paragraphs: The current template type (also known as a "theming hook").
 *   - paragraphs--type-[type]: The current paragraphs type. For example, if the paragraph is an
 *     "Image" it would result in "paragraphs--type--image". Note that the machine
 *     name will often be in a short form of the human readable label.
 *   - paragraphs--view-mode--[view_mode]: The View Mode of the paragraph; for example, a
 *     preview would result in: "paragraphs--view-mode--preview", and
 *     default: "paragraphs--view-mode--default".
 * - view_mode: View mode; for example, "preview" or "full".
 * - logged_in: Flag for authenticated user status. Will be true when the
 *   current user is a logged-in member.
 * - is_admin: Flag for admin user status. Will be true when the current user
 *   is an administrator.
 *
 * @see template_preprocess_paragraph()
 *
 * @ingroup themeable
 */
#}
<article{{ attributes }} >
  {{ title_suffix }}
    {{ attach_library('pvm_website_cms/home-page') }}
    <div class="PVM_Banner">
        <div id="carouselBanner" class="carousel slide carousel-fade PC_banner" data-ride="carousel">
            {#{% if node.field_banner.value|length >1 %}
            <ol class="carousel-indicators">
                {% for key, item in node.field_banner.value %}
                <li data-target="#carouselBanner" data-slide-to="{{ key }}" {% if loop.index == 1 %}class="active"{% endif %}></li>
                {% endfor %}
            </ol>
            {% endif %}#}
            <div class="carousel-inner">
                {% for key, item in node.field_banner.value %}
                <div class="carousel-item {% if loop.index == 1 %}active{% endif %}">
                    <img src="{{ file_url(content.field_banner[key]['#media'].field_media_image.entity.uri.value) }}" alt="{{ file_url(content.field_banner[key]['#media'].field_media_image.alt) }}" class="d-block w-100" >
                </div>
                {% endfor %}
            </div>
        </div>


        <div id="carouselBanner" class="carousel slide carousel-fade Mobile_banner" data-ride="carousel">
            {#{% if node.field_banner_mobile.value|length >1 %}
                <ol class="carousel-indicators">
                    {% for key, item in node.field_banner_mobile.value %}
                        <li data-target="#carouselBanner" data-slide-to="{{ key }}" {% if loop.index == 1 %}class="active"{% endif %}></li>
                    {% endfor %}
                </ol>
            {% endif %}#}
            <div class="carousel-inner">
                {% for key, item in node.field_banner_mobile.value %}
                    <div class="carousel-item {% if loop.index == 1 %}active{% endif %}">
                        <img src="{{ file_url(content.field_banner_mobile[key]['#media'].field_media_image.entity.uri.value) }}" alt="{{ file_url(content.field_banner_mobile[key]['#media'].field_media_image.alt) }}" class="d-block w-100" >
                    </div>
                {% endfor %}
            </div>
        </div>

        <div class="PVM_Booking_body">
            
        <div class="PVM_Booking">
            <div class="Room_booking Top_Booking">
                <form>
                    <div class="row Top_Booking_row">
                        <input name="home_hotel_code" type="hidden" id="home_hotel_code" data-value="{{ content.field_hotel_code | field_value }}">
                        <div class="Top_Booking_calander">
                            <div class="Top_Booking_control">
                                <input type="text" name="arrival_date_room" id="datepicker_from_room" class="form-control onlydata Top_Booking_input offer-booking-forpc" readonly="readonly"/>
                                {# <input type="text" name="mobile_sub_arrival_date_offer" id="mobile_sub_datepicker_from_offer" class="form-control onlydata Top_Booking_input  offer-booking-foripad" readonly/> #}
                            </div>
                            <div class="Top_Booking_control">
                                <input type="text" name="departure_date_room" id="datepicker_to_room" class="form-control onlydata Top_Booking_input offer-booking-forpc" readonly="readonly"/>
                                {# <input type="text" name="mobile_sub_departure_date_offer" id="mobile_sub_datepicker_to_offer" class="form-control onlydata Top_Booking_input offer-booking-foripad" readonly/> #}
                            </div>
                        </div>

                        <div class="Top_Booking_Number">
                            <span class="btn" data-toggle="collapse" id="home_content_text" href="#collapseTopBookingNumber" role="button" aria-expanded="false" aria-controls="collapseTopBookingNumber">
                                {% if current_language == "en" %}1 Room, 2 Adults, 0 Child{% elseif current_language == "zh-hant" %}1 客房，2 成人，0 小童{% else %}1 间客房，2 位成人，0 位儿童{% endif %}
                            </span>
                            <div class="collapse" id="collapseTopBookingNumber">
                                <div class="Top_Booking_Room">
                                    <div class="Numbercollapse_wrap">
                                        <label class="FormControl_label" for="number">{% if current_language == "en" %}Rooms{% elseif current_language == "zh-hant" %}客房{% else %}客房{% endif %}</label>
                                        <input type="text" class="spinnerRooms1" id="Rooms1" readonly="readonly" value="1"/>
                                    </div>
                                </div>
                                <div class="Top_Booking_Adult">
                                    <div class="Numbercollapse_wrap">
                                        <label class="FormControl_label" for="number">{% if current_language == "en" %}Adults{% elseif current_language == "zh-hant" %}成人{% else %}成人{% endif %}</label>
                                        <input type="text" class="spinnerAdults1" id="Adults1" value="2" readonly="readonly"/>
                                    </div>
                                </div>
                                <div class="Top_Booking_Child">
                                    <div class="Numbercollapse_wrap">
                                        <label class="FormControl_label" for="number">{% if current_language == "en" %}Children{% elseif current_language == "zh-hant" %}小童{% else %}儿童{% endif %}</label>
                                        <input type="text" class="spinnerChild1"  id="Child1" value="0" readonly="readonly"/>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="Top_Booking_PromotionCode">
                            <input type="text" class="form-control PromotionCodeIpt" id="hmoe_PromotionCode" placeholder='{% if current_language == "en" %}Promotion Code{% elseif current_language == "zh-hant" %}優惠碼{% else %}优惠码{% endif %}'>
                        </div>
                        {# <div class="Top_Booking_Room">
                            <div class="Numbercollapse_wrap">
                                <label class="FormControl_label" for="number">{% if current_language == "en" %}Rooms{% elseif current_language == "zh-hant" %}客房{% else %}客房{% endif %}</label>
                                <input type="text" class="spinnerRooms1" id="Rooms1" readonly="readonly" value="1"/>
                            </div>
                        </div>
                        <div class="Top_Booking_Adult">
                            <div class="Numbercollapse_wrap">
                                <label class="FormControl_label" for="number">{% if current_language == "en" %}Adults{% elseif current_language == "zh-hant" %}成人{% else %}成人{% endif %}</label>
                                <input type="text" class="spinnerAdults1" id="Adults1" value="2" readonly="readonly"/>
                            </div>
                        </div>
                        <div class="Top_Booking_Child">
                            <div class="Numbercollapse_wrap">
                                <label class="FormControl_label" for="number">{% if current_language == "en" %}Children{% elseif current_language == "zh-hant" %}小童{% else %}儿童{% endif %}</label>
                                <input type="text" class="spinnerChild1"  id="Child1" value="0" readonly="readonly"/>
                            </div>
                        </div> #}

                        <div class="Top_Booking_Btn">
                            <div class="Top_Booking_control">
                                <a id="go_booking_home">{% if current_language == "en" %}BOOK NOW{% elseif current_language == "zh-hant" %}預訂{% else %}预订{% endif %}</a>
                                {# <a id="mobile_go_booking_offer">{% if p_current_language == "en" %}BOOK NOW{% elseif p_current_language == "zh-hant" %}預訂{% else %}预订{% endif %}</a> #}
                            </div>
                        </div>

                        <div class="Top_Bookingbtn {% if current_language != "en" %}booking_link_div{% endif %}">
                            {{ content.field_booking_link }}
                        </div>
                    </div>

                </form>
            </div>
        </div>
        </div>

    </div>

    <div class="container index_content_container">
        {{ content.field_paragraph }}
    </div>
</article>

