{#
/**
 * @file
 * Default theme implementation to display a paragraph.
 *
 * Available variables:
 * - paragraph: Full paragraph entity.
 *   Only method names starting with "get", "has", or "is" and a few common
 *   methods such as "id", "label", and "bundle" are available. For example:
 *   - paragraph.getCreatedTime() will return the paragraph creation timestamp.
 *   - paragraph.id(): The paragraph ID.
 *   - paragraph.bundle(): The type of the paragraph, for example, "image" or "text".
 *   - paragraph.getOwnerId(): The user ID of the paragraph author.
 *   See Drupal\paragraphs\Entity\Paragraph for a full list of public properties
 *   and methods for the paragraph object.
 * - content: All paragraph items. Use {{ content }} to print them all,
 *   or print a subset such as {{ content.field_example }}. Use
 *   {{ content|without('field_example') }} to temporarily suppress the printing
 *   of a given child element.
 * - attributes: HTML attributes for the containing element.
 *   The attributes.class element may contain one or more of the following
 *   classes:
 *   - paragraphs: The current template type (also known as a "theming hook").
 *   - paragraphs--type-[type]: The current paragraphs type. For example, if the paragraph is an
 *     "Image" it would result in "paragraphs--type--image". Note that the machine
 *     name will often be in a short form of the human readable label.
 *   - paragraphs--view-mode--[view_mode]: The View Mode of the paragraph; for example, a
 *     preview would result in: "paragraphs--view-mode--preview", and
 *     default: "paragraphs--view-mode--default".
 * - view_mode: View mode; for example, "preview" or "full".
 * - logged_in: Flag for authenticated user status. Will be true when the
 *   current user is a logged-in member.
 * - is_admin: Flag for admin user status. Will be true when the current user
 *   is an administrator.
 *
 * @see template_preprocess_paragraph()
 *
 * @ingroup themeable
 */
#}
<article{{ attributes }} >
    {{ attach_library('pvm_website_cms/room-page') }}
  {{ title_suffix }}
        {{ content.field_paragraph }}
    <div class="Room_content">
        <div class="Room_tablist">
            <ul id="filters" class="clearfix forweb_filters">
                <li><span class="filter active" data-filter="all">{% if current_language == 'en' %}VIEW ALL{% elseif current_language =='zh-hant' %}顯示全部{% else %}显示全部{% endif %}</span></li>
                {% for term in term_labels %}
                    <li><span class="filter" data-filter="hotel_{{ term.id }}">{{ term.title }}</li>
                {% endfor %}
            </ul>

            <div class="Offers_tablist_dropdown formobile_filters">
                <a class="" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-expanded="false">
                    <span id="filter_content">{% if current_language == 'en' %}VIEW ALL{% elseif current_language =='zh-hant' %}顯示全部{% else %}显示全部{% endif %}</span>
                </a>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                    <ul id="filters" class="clearfix">
                        <li><span class="filter active" data-filter="all">{% if current_language == 'en' %}VIEW ALL{% elseif current_language =='zh-hant' %}顯示全部{% else %}显示全部{% endif %} <img src="{{ theme_path }}/images/iocn-selected.png"></span></li>
                        {% for term in term_labels %}
                        <li><span class="filter" data-filter="hotel_{{ term.id }}">{{ term.title }} <img src="{{ theme_path }}/images/iocn-selected.png"></span></li>
                        {% endfor %}
                       
                      </ul>
                </div>
              </div>

        </div>
    </div>
</article>

