<div class="address">  {{ content.field_address }}</div>
<div class="phone"><a style="color:#8d704c;" href="tel:{{ content.field_tel['#items'].value }}">{{ content.field_tel }}</a></div>
<div class="email"><a style="color:#8d704c" href="mailto:{{ content.field_email['#items'].value }}">{{ content.field_email | field_value }}</a></div>