{#
  This file is necessary in order to make menu__sitemap a valid theme handler.
  If you need to customize menu__sitemap for your theme, replace

  {% extends "menu.html.twig" %}

  with the Twig from the menu.html.twig template that your theme is using, and
  make any necessary changes from there.
#}
{% import _self as menus %}

{#
  We call a macro which calls itself to render the full tree.
  @see http://twig.sensiolabs.org/doc/tags/macro.html
#}
{{ menus.menu_links(items, attributes, 0) }}
{% macro menu_links(items, attributes, menu_level) %}
    {% import _self as menus %}
    {% if items %}
        {% for item in items %}
            {% if menu_level == 0 %}
                <div class="col-md-4">
                    <div class="Site_map_list">
                        <div class="Site_map_list_firstnav">
                            {% if item.url.toString|length == 0 %}
                                {{ item.title }}
                            {% else %}
                                <a href="{{ item.url }}"  style="color: #8d704c;">{{ item.title }}</a>
                            {% endif %}
                        </div>
                        {% if item.below %}
                            <ul class="Site_map_list_secondnav">
                                {{ menus.menu_links(item.below, attributes, 1) }}
                            </ul>
                        {% endif %}
                    </div>
                </div>
            {% else %}
                {% if item.url.toString|length == 0 %}
                    <li><a target="_blank" href="{{ item.content.field_external_links[0]['#url'] | render }}" rel="nofollow">{{ item.title }}</a></li>
                {% else %}
                    <li><a href="{{ item.url }}">{{ item.title }}</a></li>
                {% endif %}
            {% endif %}
        {% endfor %}

    {% endif %}
{% endmacro %}
