{#
/**
 * @file
 * Theme override for a breadcrumb trail.
 *
 * Available variables:
 * - breadcrumb: Breadcrumb trail items.
 */
#}
{% if breadcrumb %}
    <div class="BreadNav">
      {% for item in breadcrumb %}
          {% if item.url %}
            <a href="{{ item.url }}">{{ item.text }}</a><i class="icon-double-angle-right"></i>
          {% else %}
            {{ item.text }}
          {% endif %}
      {% endfor %}
    </div>
{% endif %}
