{#
/**
 * @file
 * Default theme implementation for a set of links.
 *
 * Available variables:
 * - attributes: Attributes for the UL containing the list of links.
 * - links: Links to be output.
 *   Each link will have the following elements:
 *   - link: (optional) A render array that returns a link. See
 *     template_preprocess_links() for details how it is generated.
 *   - text: The link text.
 *   - attributes: HTML attributes for the list item element.
 *   - text_attributes: (optional) HTML attributes for the span element if no
 *     'url' was supplied.
 * - heading: (optional) A heading to precede the links.
 *   - text: The heading text.
 *   - level: The heading level (e.g. 'h2', 'h3').
 *   - attributes: (optional) A keyed list of attributes for the heading.
 *   If the heading is a string, it will be used as the text of the heading and
 *   the level will default to 'h2'.
 *
 *   Headings should be used on navigation menus and any list of links that
 *   consistently appears on multiple pages. To make the heading invisible use
 *   the 'visually-hidden' CSS class. Do not use 'display:none', which
 *   removes it from screen readers and assistive technology. Headings allow
 *   screen reader and keyboard only users to navigate to or skip the links.
 *   See http://juicystudio.com/article/screen-readers-display-none.php and
 *   http://www.w3.org/TR/WCAG-TECHS/H42.html for more information.
 *
 * @see template_preprocess_links()
 *
 * @ingroup themeable
 */
#}
{% if links -%}
{#    {%- for key,item in links -%}
        <!--{{ item.link }} to do: remove this line without breaking the urls -->
        {% set url = path(item.link['#url'].routeName, item.link['#url'].routeParameters, item.link['#url'].options) %}
        <li class="formobile"><a href="{{ item.link['#url'] }}" >
            {% if key == 'en' %}
                EN
            {% else %}
                {{ item.text }}
            {% endif %}
        </a></li>
    {%- endfor -%}#}
    {%- for key,item in links -%}

        <!--{{ item.link }} to do: remove this line without breaking the urls -->
        <a class="forweb" href="{{ item.link['#url'] }}" class="dropdown-item">{#{% if item.link['#options'].language.id == current_language %}active{% endif %}#}
            {{ item.text }}
        </a>
           {%- endfor -%}
    {%- for key,item in links -%}
        {% set url = path(item.link['#url'].routeName, item.link['#url'].routeParameters, item.link['#url'].options) %}
        <a class="formobile" href="{{ item.link['#url'] }}" class="dropdown-item">
            {% if key == 'en' %}
            EN
            {% elseif key == 'zh-hans' %}
                简体
                {% else %}
                繁体
            {% endif %}
        </a>
    {%- endfor -%}
{%- endif %}
