{#
/**
 * @file
 * Default theme implementation to display a single Drupal page while offline.
 *
 * All available variables are mirrored in page.html.twig.
 * Some may be blank but they are provided for consistency.
 *
 * @see template_preprocess_maintenance_page()
 *
 * @ingroup themeable
 */
#}

<div class="PVM_Top">
  <div class="container">
    <div class="PVM_Header">
      <div class="PVM_Header_logo">
        <a><img src="{{ theme_path }}/images/logo.png"></a>
      </div>
    </div>
  </div>
</div>
<style>
  .Maintenance_body{
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    padding: 40px 15px;
    text-align: center;
    color: #8B6E4A;

  }

  .Maintenance_body h1 {
    font-family: 'Gill Sans';
    font-size: 58px;
    font-style: normal;
    font-weight: 400;
    line-height: 67px;
    letter-spacing: 0px;
    text-align: center;

  }
  .Maintenance_body p {
    font-family: 'Gill Sans';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0px;
  }
</style>
<div class="container PVM_content">
  <div class="Maintenance_body" id="Maintenance_body_id">
    <h1> {{ site_slogan }}</h1>
    <p>{{ page.content }}</p>
  </div>
</div>
<script>
  /*var bodyH=$(window).height();
  var MaintenanceH=$('.Maintenance_body').height();
  $('.Maintenance_body').css('margin-top', (bodyH - 175 - MaintenanceH) / 2);
  $(window).resize(function() {
      var bodyH=$(window).height();
      $('.Maintenance_body').css('margin-top', (bodyH - 175 - MaintenanceH) / 2);
  });*/
  var bodyH=document.documentElement.clientHeight;
  var div = document.getElementById('Maintenance_body_id');
  var MaintenanceH=div.offsetHeight;
  var top_px=(bodyH - 300 - MaintenanceH) / 2;
  div.style.marginTop = top_px +"px";
  window.onresize = function(){
    var bodyH=document.documentElement.clientHeight;
    var div = document.getElementById('Maintenance_body_id');
    var MaintenanceH=div.offsetHeight;
    var top_px=(bodyH - 300 - MaintenanceH) / 2;
    div.style.marginTop = top_px +"px";
  }
</script>