
<style>
    body{
        color: #0f0f0f;
    }
    .LoginPage{
        width:500px; 
        position: absolute; 
        left: 50%;
        margin-top:120px;
        margin-left:-250px;
    }
    @media screen and (min-width:320px) and (max-width:767px){
        .LoginPage{
            width: calc(100% - 30px);
            padding: 0;
            margin-left: 15px;
            margin-right: 15px;
            left: 0;
            position: relative
        }
        .LoginPage .form-text{
            width: 100%;
        }
    }
</style>
<div class="LoginPage">
{{ page.content }}
</div>