

{#
/**
* @file
* Default theme implementation to display a single page.
*
* The doctype, html, head and body tags are not in this template. Instead they
* can be found in the html.html.twig template in this directory.
*
* Available variables:
*
* Regions:
*
* @see template_preprocess_page()
* @see html.html.twig
*
* @ingroup themeable
*/
#}

<div class="PVM_Top">
  <div class="container">
    <div class="PVM_Header {% if is_front %}Inner_Header{% endif %}">
      <div id="sidebar-main-trigger">
        <span></span>
        <span></span>
        <span></span>
      </div>
      {{ page.logo }}

      <div class="PVM_Header_right">
        <div class="dropdown">
          <a class="btn dropdown-toggle" href="#" role="button" id="dropdownLang" data-toggle="dropdown" aria-expanded="false">
            <img src="{{ theme_path }}/images/icon7.png">
            {% if current_language == 'en' %}
            ENGLISH
            {% elseif current_language == 'zh-hant' %}
              繁體中文
            {% else %}
              简体中文
            {% endif %}
          </a>
          <div class="dropdown-menu" aria-labelledby="dropdownLang">
            {{ page.language }}
          </div>
        </div>
       <div class="Header_right_book">
           {{ page.book_now_box }}
        </div>
        <div class="Tablet_booking">
            {{ page.mobile_book_now_box }}
        </div>
      </div>
    </div>
    


    
    <div class="collapse" id="collapseBook">
    
      <div class="Top_Booking">
        <form>
          <div class="row Top_Booking_row">
            <div class="Top_Booking_calander">
              <div class="Top_Booking_control">
                <input type="text" name="arrival_date" id="datepicker_from" class="form-control onlydata Top_Booking_input" readonly="readonly"/>
              </div>
              <div class="Top_Booking_control">
                <input type="text" name="departure_date" id="datepicker_to" class="form-control onlydata Top_Booking_input" readonly="readonly"/>
              </div>
            </div>

            <div class="Top_Booking_Number">
              <span class="btn" data-toggle="collapse" id="home_content_text1" href="#collapseTopBookingNumber1" role="button" aria-expanded="false" aria-controls="collapseTopBookingNumber1">
                {% if current_language == "en" %}1 Room, 2 Adults, 0 Child{% elseif current_language == "zh-hant" %}1 客房，2 成人，0 小童{% else %}1 间客房，2 位成人，0 位儿童{% endif %}
              </span>
              <div class="collapse" id="collapseTopBookingNumber1">
                  
            <div class="Top_Booking_Room">
              <div class="Numbercollapse_wrap">
                  <label class="FormControl_label" for="number">{% if current_language == "en" %}Rooms{% elseif current_language == "zh-hant" %}客房{% else %}客房{% endif %}</label>
                  <input type="text" class="spinnerRooms" id="Rooms" value="1" readonly="readonly"/>
             </div>
          </div>
          <div class="Top_Booking_Adult">
              <div class="Numbercollapse_wrap">
                  <label class="FormControl_label" for="number">{% if current_language == "en" %}Adults{% elseif current_language == "zh-hant" %}成人{% else %}成人{% endif %}</label>
                  <input type="text" class="spinnerAdults" id="Adults" value="2" readonly="readonly"/>
              </div>
          </div>
          <div class="Top_Booking_Child">
              <div class="Numbercollapse_wrap">
                  <label class="FormControl_label" for="number">{% if current_language == "en" %}Children{% elseif current_language == "zh-hant" %}小童{% else %}儿童{% endif %}</label>
                  <input type="text" class="spinnerChild"  id="Child" value="0" readonly="readonly"/>
              </div>
          </div>

              </div>
          </div>

          <div class="Top_Booking_PromotionCode">
            <input type="text" class="form-control PromotionCodeIpt" id="PromotionCode" placeholder='{% if current_language == "en" %}Promotion Code{% elseif current_language == "zh-hant" %}優惠碼{% else %}优惠码{% endif %}'>
        </div>

            <div class="Top_Booking_Btn">
              <div class="Top_Booking_control">
                <a href="" class="Common_btn" id="go_booking">{% if current_language == "en" %}BOOK NOW{% elseif current_language == "zh-hant" %}預訂{% else %}预订{% endif %}</a>
              </div>
            </div>

            <div class="Top_Bookingbtn {% if current_language != "en" %}booking_link_div{% endif %}">
              {{ page.booking_link }}
             </div>
          </div>
        </form>
      </div>
    
  </div>
  

  </div>
  <div class="PVM_Top_Nav">
    <div class="container">
    
      <div class="PVM_Header_Menu">
        <ul>
          {{ page.primary_menu }}
        </ul>
      </div>
    </div>
  </div>
  <input type="hidden" name="theme_path" id="theme_path" value="{{ theme_path }}">
  <input type="hidden" name="pvm_path" id="pvm_path" value="{{ pvm_path }}">
  <input type="hidden" name="api_host" value="{{ api_host }}">
  <input type="hidden" name="http_host" value="{{ http_host }}">
  <input type="hidden" name="booking_type" value="">
  <input type="hidden" name="moblie_calendar_date" value="">
  <input type="hidden" name="current_language" id="current_language" value="{{ current_language }}">
</div>
<div class="sidebar" id="sidebar-main">
  <div class="sidebar_close"><img src="{{ theme_path }}/images/close.png"></div>
  <div class="Mobile_booking">
      {{ page.mobile_book_now_box }}
  </div>
  <div class="Mobile_menu">
    <ul>
        <li><a href="{{ url('<front>') }}">{{ 'Home'|t }}</a></li>
      {{ page.primary_menu }}
    </ul>
  </div>
  <div class="Mobile_lang">
     {{ page.language }}
  </div>
</div>
{% if is_front %}
  {{ page.content }}
{% else %}
  {{ banner }}
  <div class="container PVM_content {{ is_banner }}">
    {% if sitemaps == 1 %}
      {{ page.sitemap_title }}
      <div class="Site_map_wap row">
        {{ page.content }}
      </div>
    {% else %}
      {% if is_error_page == 0 %}
        {{ page.breadcrumb }}
      {% endif %}
      {{ page.content }}
      {{ page.offer_list }}
      {{ page.rooms }}
    {% endif %}
  </div>
{% endif %}

<div class="container Footer_container">

  <div class="Mobile_Totop" id="js-go_top">
    <div><img src="{{ theme_path }}/images/Totop.png">
    <span>Back to Top</span></div>
  </div>
  <div class="PVM_Copyright formobile">
    <div class="icon">
      <ul>
        {{ page.footer_icon }}
      </ul>
    </div>
  </div>
  <div class="PVM_Footer">
    {{ page.footer_contact }}
  </div>
  <div class="PVM_Copyright">
    <div class="link">
      {{ page.footer_menu }}
    </div>
    <div class="pcmobile_copyright copyright">{{ page.copyright }}</div>
    <div class="icon forweb">
      <ul>
        {{ page.footer_icon }}
      </ul>
    </div>
    <div class="tablet_copyright copyright">{{ page.copyright }}</div>
  </div>
</div>

<div class="modal fade mobile_booking_view" id="exampleModal-now-hotel" tabindex="-1" aria-labelledby="exampleModal-now-hotel" aria-hidden="true">
  <div class="modal-dialog" style="max-width:100%;">

      <div class="modal-content">
          <div class="modal-header">
              <h5 class="modal-title"><img src="{{ theme_path }}/images/logo.png" class="img2"></h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true"><img src="{{ theme_path }}/images/close.png"></span>
              </button>
          </div>
          <div class="modal-body">
              <div class="Header_right_collapse_wrap">
                  <div class="row Room_detail_section01_row">
                    {#  <div class="col-lg-4 col-md-12 Room_detail_section01_area">
                          <div class="FormControl_select FormControl_hotelname_select">
                              <label class="FormControl_label" for="hotelname"> {% if current_language == "en" %}HOTEL TOWER{% elseif current_language == "zh-hant" %}酒店大樓{% else %}酒店大楼{% endif %}</label>
                              <input type="text" class="Mobile_Booking_input" id="mobile_booking_hotel" value="{{ content.field_hotel_name|field_value }}" data-value="{{ content.field_hotel_code|field_value }}" readonly>
                          </div>
                      </div>#}
                      <div  id="mobile_booking" style="width: 100%;">
                          <div class="col-lg-4 col-md-12 Room_detail_section01_area">
                              <div class="FormControl_select FormControl_date_select">
                                  {# <label class="FormControl_label" for="ADate">{% if current_language == "en" %}
                                          Arrival Date
                                      {% elseif current_language == "zh-hant" %}
                                          入住日期
                                      {% else %}
                                          入住日期
                                      {% endif %}</label> #}
                                  <div class="row FormControl_date_select_row">
                                      <div class="col-lg-12 col-md-12 FormControl_date_select_data">
                                          <div class="input-prepend input-group" >
                                              <input type="text" name="mobile_arrival_date" id="startDate" value="" style="" class="form-control onlydata" readonly/>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                          </div>
                          <div class="col-lg-4 col-md-12 Room_detail_section01_area">
                              <div class="FormControl_select FormControl_date_select">
                                  {#<label class="FormControl_label" for="DDate" style="display: block;">{% if current_language == "en" %}
                                          Departure Date
                                      {% elseif current_language == "zh-hant" %}
                                          退房日期
                                      {% else %}
                                          退房日期
                                      {% endif %}</label>#}
                                  <div class="row FormControl_date_select_row" >
                                      <div class="col-lg-12 col-md-12 FormControl_date_select_data">
                                          <div class="input-prepend input-group">
                                              <input type="text" name="mobile_departure_date" id="endDate" value="" style="" class="form-control onlydata" readonly/>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                          </div>

                      </div>
                      <div class="Top_Booking_Room">
                        <div class="Numbercollapse_wrap">
                            <label class="FormControl_label" for="number">{% if current_language == "en" %}Rooms{% elseif current_language == "zh-hant" %}客房{% else %}客房{% endif %}:</label>
                            <input type="text" class="spinnerRooms" id="mobile_rooms" value="1" readonly="readonly"/>
                        </div>
                      </div>
                      <div class="Top_Booking_Adult">
                        <div class="Numbercollapse_wrap">
                            <label class="FormControl_label" for="number">{% if current_language == "en" %}Adults{% elseif current_language == "zh-hant" %}成人{% else %}成人{% endif %}:</label>
                            <input type="text" class="spinnerAdults" id="mobile_adults" value="2"readonly="readonly"/>
                        </div>
                      </div>
                      <div class="Top_Booking_Child">
                        <div class="Numbercollapse_wrap">
                            <label class="FormControl_label" for="number">{% if current_language == "en" %}Children{% elseif current_language == "zh-hant" %}小童{% else %}儿童{% endif %}:</label>
                            <input type="text" class="spinnerChild"  id="mobile_child" readonly="readonly" value="0"/>
                        </div>
                      </div>
                      <div class="Mobile_promotion">
                        <input type="text" class="form-control PromotionCodeIpt" id="Mobile_PromotionCode" placeholder='{% if current_language == "en" %}Promotion Code{% elseif current_language == "zh-hant" %}優惠碼{% else %}优惠码{% endif %}'>
                      </div>
                      <div class="col-lg-4 col-md-12 Room_detail_section01_area mobile_booking_search">
                          <div class="FormControl_button">
                              <a id="mobile_go_booking">{% if current_language == "en" %}BOOK NOW{% elseif current_language == "zh-hant" %}預訂{% else %}预订{% endif %}</a>
                          </div>
                      </div>
                      <div class="col-lg-4 col-md-12 Room_detail_section01_area">
                          <div class="col-lg-12 col-md-12 Room_detail_section01_row_link">
                              {{ page.booking_link }}
                          </div>
                      </div>
                  </div>
              </div>

          </div>
      </div>
  </div>

</div>
<div class="mask_calendar" >
  <div class="new-mobile-calendar"></div>
</div>















