{#
/**
 * @file
 * Default theme implementation for page titles.
 *
 * Available variables:
 * - title_attributes: HTML attributes for the page title element.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title: The page title, for use in the actual content.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 *
 * @ingroup themeable
 */
#}
{{ title_prefix }}
{% if title %}
  <div class="BreadNav">
    <a href="{{ url('<front>') }}">{{ 'Home'|t }}</a><i class="icon-double-angle-right"></i>{{ title }}
  </div>
  <div class="Common_title inner_Common_title">
    <span>{{ title }}</span>
    <div class="Common_title_bottom">
      <img src="{{ theme_path }}/images/commonLOGO.png">
    </div>
  </div>
{% endif %}
{{ title_suffix }}
